[2021-02-16 17:46] paolodamico commented on #3339
Major things I think someone has already beaten me to it:
- My first thought was the same as @timgl, like this is a demo form, not signing up for an account.
- I also agree with @Twixes that social login should be as prominent (if not the main option) as password signup. It's faster and easier for users to do social login, and we've even talked about fetching more data (with user's consent) to hel

[2021-02-16 18:05] macobo commented on #3348
Can you elaborate on the reproduction steps a bit? Were you deleting projects, organizations, ..? What were you expecting to happen vs what did happen?

[2021-02-16 18:08] paolodamico opened #3357 "Workflow triggers feature"
In a general sense, this feature refers to the functionality where you can trigger certain actions outside the PostHog environment when certain actions are triggered. It extends on our current messaging webhook & Zapier functionality. This also greatly builds on our plugins functionality. It could even be seen as the data-out part of the plugins functionality.

## Context

Currently if you want to

[2021-02-16 18:44] Twixes commented on #3357
This is a cool idea, but right now I'd just… tell a user to write their own plugin. Just the "Initial Ideas" looks like a TON of work. And the first and foremost "Most basic version" point is realized by plugins already.
I just don't really see how to fit this into the product right now. Think we should get other things (like actions, webhooks, plugins) right, both product and engineering-wise, be

[2021-02-16 19:07] paolodamico commented on #3357
Re @Twixes. So as a quick preamble, I'm also leaning towards _this might not be the best thing to work on right now_, however I do think it's important to separate the feature discussion from a prioritization discussion. The goal of this issue is discussing potentially what the feature can do, not whether we should start building it right away (this release [#3287] I'm working on us running throug

[2021-02-16 21:27] Twixes commented on #3339
This design above looks definitely less polished to me than the one up top by @corywatilo, but I really like how it says "now you're really entering PostHog"

[2021-02-16 23:11] paolodamico commented on #1275
App now has Gosha Sans for titles like we planned as of #3300

[2021-02-16 23:11] #1275 closed

[2021-02-16 23:26] corywatilo commented on #3339
Is this set in stone? I understand the potential benefits of having users auth through a provider, but there are a few reasons why I reduced their prominence here, based off my experience in designing for B2B SaaS:

- Many users, especially in our target market, don’t typically trust their authentication for sites with a 3rd party provider. It works well for DTC/B2C, but it's a very different worl

[2021-02-16 23:39] paolodamico commented on #3339
Certainly not set in stone and great points @corywatilo. Let me get and bring some numbers to the conversation to better help the decision.

* I definitely thing that sooner or later will bring on SSO so we might as well consider it.
* I would argue that a lot of startups aren't too privacy-conscious to worry about using third-party sign on, particularly if you use Google (example) as your company

[2021-02-17 02:03] Twixes commented on #3357
I think the biggest point here is making plugins fire on specific actions. That way we could make webhooks a plugin + do a lot of the stuff mentioned above. I'm not sure where to best handle that in the lifecycle of an event though. @mariusandra WDYT?

[2021-02-17 03:35] fuziontech commented on #3339
I think what makes this look like a sales page is that it has 4 form fields. If you drop that to two like Email and Password and then have a follow up page that asks for account details like name, org, etc it would feel more approachable. It also lowers the friction to get people to take that first step. This would also make social auth easier since we won't need the email + password with social a

[2021-02-17 03:48] corywatilo commented on #3339
Ya @fuziontech nailed it.

Without taking into account any of the other feedback yet, here's an updated form with only the essential fields.

![Signup_Simple v2](https://user-images.githubusercontent.com/154479/108153388-0f18ce80-70a9-11eb-9c86-ac691f16b75d.png)

[2021-02-17 08:07] mariusandra commented on #3357
Cool feature, though I do agree with the sentiment that it's probably not the next thing we should work on. Mainly because there are some technical blockers that @Twixes touched upon ([actions and webhooks into plugins](https://github.com/PostHog/plugin-server/issues/145)).

Theoretically this "workflows" could even be implemented as a proper frontend plugin, but we don't have those yet either :).

[2021-02-17 09:52] yakkomajuri commented on #3348
Yeah sorry about the vague description here.

But this is the key thing:

The demo project just comes back, and I'm constantly flipped back and forth between them.

[2021-02-17 09:55] yakkomajuri commented on #3348
Just now, I deleted it again, and on the next hard refresh, I appeared back in it, while I was doing some charts on the other project

[2021-02-17 10:13] macobo commented on #3348
Haven't had a chance to dig into this deeply, but locally this flow works as intended:

1. Sign up, get routed to a demo app
2. Go to project settings
3. Delete project
4. Get prompted to create new project, go through ingestion flow
5. New project is not demo, can use it successfully

[2021-02-17 10:25] yakkomajuri commented on #3348
Here's a screen recording I finally managed to get.

HogFlix Demo App was deleted before this recording. Notice as it comes back when I log back in.

The related team also still exists in the DB.

https://user-images.githubusercontent.com/38760734/108190831-5a16fe00-710a-11eb-9240-4f3d0d116026.mov

[2021-02-17 12:37] macobo commented on #3348
I think Michael deleted the project and it's not showing up anymore.

[2021-02-17 13:12] yakkomajuri commented on #3348
Fixed. Issue was that a demo project is created each time the user accesses `/demo` and that's the playground URL for the toolbar (i.e. was accessed often)

[2021-02-17 13:12] #3348 closed

[2021-02-17 13:37] jamesefhawkins opened #3362 "Clicking from dashboard to insights doesn't load with the correct timeframe"
## Bug description

* Go to our [internal dashboard](https://app.posthog.com/dashboard/501)
* Click a graph [like this one](https://app.posthog.com/insights?insight=TRENDS&events=%5B%7B%22id%22%3A%22%24pageview%22%2C%22math%22%3A%22dau%22%2C%22name%22%3A%22%24pageview%22%2C%22type%22%3A%22events%22%2C%22order%22%3A0%2C%22properties%22%3A%5B%5D%2C%22math_property%22%3Anull%7D%5D&display=ActionsLine

[2021-02-17 14:11] macobo commented on #3338
Note from call: Bar chart + table make extra 'All period' Interval option.

[2021-02-17 14:26] jamesefhawkins opened #3365 "Plugin for pilots/trials that downsamples data"
## Is your feature request related to a problem?

We are about to switch to usage-based pricing for cloud and VPC deployment.

Customers, especially bigger ones, want a way to try out PostHog

Open source gives one route to doing this, but doesn't have all the features, and it's not easy to migrate from that to VPC (postgres -> clickhouse)

## Describe the solution you'd like

I'd like to be able

[2021-02-17 16:28] paolodamico opened #3366 "Churn risk prevention - identify at-risk users"
This feature idea was inspired by #3032. The gist is having a way to identify at-risk users that could churn, so we can take action (probably out of the PH for now) to prevent it.

## Context
This is a feature that can be particularly valuable not only because it is useful for our users, but because it can directly help our team when dog-fooding it.

- **Goal:** Increase retention by a) preventing

[2021-02-17 18:12] paolodamico commented on #3344
EDIT: Updated main issue description with what we discussed today on the standup.

[2021-02-17 18:23] EDsCODE commented on #3293
#3358 closes

[2021-02-17 18:23] #3293 closed

[2021-02-17 19:07] Twixes opened #3370 "Dashboard version history"
## Describe the solution you'd like

Coming from the feature discussion we had, PostHog should version dashboards, similar to e.g. Grafana. This is analogous to #3073, which is about a similar feature for feature flags.

#### *Thank you* for your feature request – we love each and every one!

[2021-02-18 07:22] macobo commented on #3344
One additional feature from he@p which might fall under this broad umbrella: Suggested dashboards, sortable by industry.

![2021-02-18_09-21](https://user-images.githubusercontent.com/148820/108319890-bc373800-71ca-11eb-808a-e9ac7aa071d8.png)
![2021-02-18_09-21_1](https://user-images.githubusercontent.com/148820/108319901-be999200-71ca-11eb-99d4-8db14e0e1eb2.png)

[2021-02-18 07:24] macobo commented on #3344
Related idea: Should all dashboards default to 'visible by all'? Perhaps there should be a concept of personal dashboards and shared dashboards.

For example, I've created custom dashboards to investigate specific issues.

A related thing He@p does is allow categorizing dashboards:

![2021-02-18_09-24](https://user-images.githubusercontent.com/148820/108320170-1a641b00-71cb-11eb-89db-6c2196cac59c.

[2021-02-18 08:37] kappa90 opened #3373 "Posthog web crashing after update"
## Bug description

I just tried to upgrade posthog to 1.21.0 with the following commands:

`docker pull web`
`docker-compose up -d`

The app is now always crashing on start and in the logs I get a:

`duplicate key value violates unique constraint "django_migrations_pkey"`

## Expected behavior

The app should run.

## How to reproduce

1. Update from 1.20 to 1.21 as described above.

## Environme

[2021-02-18 08:46] kappa90 commented on #3373
I made it work with this command:

`ALTER SEQUENCE django_migrations_id_seq RESTART WITH ${NROWS + 1};`

where ${NROWS} is the number of rows in the django_migrations table.

[2021-02-18 08:46] #3373 closed

[2021-02-18 09:03] mariusandra opened #6891 "Defend against out of memory errors"
This is a followup to PostHog/plugin-server#57

It seems that any sensible memory restriction is not possible with node VMs (that are used under the hood by VM2). The only "vm" engine that supports memory limits ([isolated-vm](https://github.com/laverdet/isolated-vm)) is using isolates and thus running the VMs in a new thread and enforcing memory limits that way.

We can [measure](https://nodejs.o

[2021-02-18 09:31] macobo commented on #3370
Technical note: https://github.com/etianen/django-reversion might be a good tool for this.

[2021-02-18 09:38] macobo opened #3375 "Improve UX for formulas in trends"
## Is your feature request related to a problem?

We recently added a formulas feature to trends. There's no real explanation of what A/B/C are in the UI, causing users to enter invalid formulas which end up as errors.

## Describe the solution you'd like

- Add tooltip to "formulas" section explaining things
- Maybe add A, B etc badges next to actions/events, an affordance indicating that the two

[2021-02-18 10:44] timgl commented on #3373
@kappa90 Is it possible migrations were run twice simultaneously?

[2021-02-18 10:46] kappa90 commented on #3373
I only ran the two commands I wrote above, one after another :/

[2021-02-18 11:13] ankitnayan opened #3378 "Unnecessary events automatically sent to webhook: Slack Integration"
## Bug description

I have set only a few actions using the checkbox to send a notification to slack integration. I rather see a lot of event notifications being sent to slack. How do I configure which events go to my slack? Is there anything apart from actions that go to slack?

Below image is the complete list of actions that I have set.

![Screenshot 2021-02-18 at 4 38 35 PM](https://user-image

[2021-02-18 14:16] mariusandra opened #6890 "Plugin Source Testing"
There are two things that could be fixed at the same time:

1. ~~The "Plugin Source Editor" will eventually need a "test mode", which would let us run random JS code and a) verify it's not broken and b) see how it processes events. This untrusted code should be run on the plugin server and in a separate VM and possibly in a separate worker thread. How do we ask the plugin server to run these one o

[2021-02-18 14:18] mariusandra opened #6889 "Support Kafka SCRAM auth"
https://github.com/PostHog/posthog/pull/3280

[2021-02-18 15:43] jamesefhawkins opened #3384 "Slightly confusing UX for session filters"
## Bug description
<img width="1470" alt="Screenshot 2021-02-18 at 15 38 23" src="https://user-images.githubusercontent.com/47497682/108381121-6a5cd500-71ff-11eb-84c2-de4aaa74dce7.png">

My very first reaction on using this was I found the 'filter sessions by users, actions, events, ...' bar confusing, because it isn't a dropdown and looks like a text search (obviously it's a text search _within_

[2021-02-18 16:22] macobo opened #3386 "<IconText /> tooltip does not trigger"
## Bug description

In the properties table you can hover over property types to see a textual representation of that.

![2021-02-18_18-20](https://user-images.githubusercontent.com/148820/108387236-13aec580-7216-11eb-9307-06d1a62e742c.png)

However, for type string hover does nothing

## Expected behavior

Tooltip is shown

## Environment

All

## Additional context

I think this is caused by usi

[2021-02-18 18:36] #3378 closed

[2021-02-18 18:41] timgl opened #3390 "Allow filtering on Distinct IDs on user properties"
## Is your feature request related to a problem?

I want to exclude certain users from a cohort, but I don't set any properties for users

## Describe the solution you'd like

I want to be able to filter on distinct ids like normal properties

## Describe alternatives you've considered

Send distinct ids as a property as well

## Additional context

#### *Thank you* for your feature request – we l

[2021-02-18 18:43] timgl opened #3391 "Multi select property values"
## Is your feature request related to a problem?

I want to be able to quickly filter multiple values without having to create separate match groups (or even different graph series if using trends).

## Describe the solution you'd like

I want to be able to select multiple properties to filter on in an 'or' fashion, something like this:
![image](https://user-images.githubusercontent.com/1727427/10

[2021-02-18 19:21] Twixes commented on #3384
+1 I also was slightly confused by this before.

[2021-02-19 09:17] FUSAKLA commented on #3010
I upgraded to 1.21.0 yesterday and unfortunately the issue persists for the pie charts (actually did not expect it to be fixed regarding the name of the PR that resolved this). Are there any plans on trying to optimize this more?
Just so I know if we should expect some progress here or try to speed up the DB possibly?

[2021-02-19 10:14] timgl commented on #3010
@FUSAKLA What kind of volume do you have (you can check by clicking on the green tick in the top bar)? It sounds like you might just need to upgrade your DB instance or even upgrade to Clickhouse.

[2021-02-19 10:24] FUSAKLA commented on #3010
Hi, the ingest rate is quite big already discussed [above in this issue](https://github.com/PostHog/posthog/issues/3010#issuecomment-763860970) same as [the idea of upgrading](https://github.com/PostHog/posthog/issues/3010#issuecomment-763872186).

Please do not take it anyhow bad, I'm thankful for all the amazing work you are doing on PH! So I really just wanted to make it clear if we should expe

[2021-02-19 10:30] timgl commented on #3010
understood. I guess your only other option here would be to either get rid of a bunch of data or grab a bigger instance for your DB.

[2021-02-19 11:07] FUSAKLA commented on #3010
Right, the DB does not seem to be anyhow exhausted from the resources side which is curious.
I tried the partitioning, but that did not help. I'll eventually try to re-partition it to smaller tie windows and by specific events.

Thanks for the info, we will manage somehow.

[2021-02-19 11:41] #3386 closed

[2021-02-19 12:45] macobo commented on #2247
How it works at mixp@nel:

- https://help.mixpanel.com/hc/en-us/articles/360025333632-Group-Analytics
- https://developer.mixpanel.com/docs/javascript#section-group-analytics

1. You can have multiple groups (which you define yourself) - e.g. company, channel, etc.
2. You can add a distinct_id to one or more groups. So one user can be in multiple companies.
3. Each group entity has a profile simil

[2021-02-19 13:01] paolodamico commented on #2895
+1 from a user today on Slack. Ability to save multiple filter conditions into a single reusable group (like we have on sessions page now).

[2021-02-19 15:22] macobo commented on #3390
This seems to already exist?
![2021-02-19_17-22](https://user-images.githubusercontent.com/148820/108523858-13c2ca00-72d7-11eb-9c5f-fbe2cda040ad.png)

[2021-02-19 15:26] macobo commented on #935
cc @EDsCODE, cc https://github.com/PostHog/posthog/issues/3338

How mixp@nel does this:

![2021-02-19_17-25](https://user-images.githubusercontent.com/148820/108524223-79af5180-72d7-11eb-9ebf-4b580ecca9e4.png)

I think it makes sense to:
1. Show it outside the graph (either on the left or as a button on the graph)
2. Allow toggling values on-off

[2021-02-19 15:29] macobo opened #3407 "Show warning when saved report already exists"
## Is your feature request related to a problem?

Currently you can:

1. Save reports with the same name to dashboards
2. Save reports with the same name in insights history
3. Save funnels with the same name

## Describe the solution you'd like

Instead, it would make sense to show a warning when the funnel already exists.

## Describe alternatives you've considered

Let users do the deduping.

#

[2021-02-19 15:38] macobo opened #3408 "Make saved reports a top-level feature"
## Is your feature request related to a problem?

Reports are useful for saving ad-hoc analysis. I want to:
- Save/share reports which are individually useful
- Add same report to multiple dashboards

We have a concept of saved reports already. You can access them by:

1. Going to insights
2. Clicking history
3. (Optional) Giving a unnamed insight a name
4. Clicking on "saved" tab

## Describe the

[2021-02-19 15:50] macobo opened #3409 "Allow breaking down in funnels"
## Is your feature request related to a problem?

I want to use breakdowns in funnels.

Some usecases:
- I had a marketing campaign. Was that effective?
- We changed onboarding for a subset of our users. Did that affect our bottom line?
- Comparing different platforms

## Describe the solution you'd like

Enable breakdown in funnels.

If breakdown, users table gets replaced by a table similar to t

[2021-02-19 15:52] macobo opened #3410 "Improve UX of reordering funnel steps"
## Is your feature request related to a problem?

You can already reorder funnel steps, but it isn't terribly obvious how.

## Describe the solution you'd like

Couple of options:
1. Make the bars to drag-drop more prominent
2. Add a drop shadow, allow dragging and dropping the whole div containing the step

## Describe alternatives you've considered

## Additional context

cc @EDsCODE

#### *Than

[2021-02-19 15:56] macobo opened #3411 "Hide [Add filters] behind ... dropdown"
## Is your feature request related to a problem?

If you are charting multiple actions/events, a lot of space is taken up by our add filters buttons

![2021-02-19_17-54](https://user-images.githubusercontent.com/148820/108527952-9188d480-72db-11eb-9623-fcaf52e3a387.png)

This makes the UI seem cluttered. (Ignore missing unicode in screenshot, missing a font)

## Describe the solution you'd like

H

[2021-02-19 17:04] paolodamico opened #3413 "Cohorts not being recalculated automatically"
## Bug description

Cohorts seem to have stopped recalculating automatically on Cloud. See below our cohorts.
    <img width="127" alt="" src="https://user-images.githubusercontent.com/5864173/108535567-160a3180-72a1-11eb-9ee5-acd19635996d.png">

Discovered while working https://github.com/PostHog/retention/issues/12, turns out our Real Users cohort was like 2 months outdated, which means some of

[2021-02-19 21:20] #3410 closed

[2021-02-19 22:53] #2336 closed

[2021-02-21 08:41] jamesefhawkins opened #3415 "When you visit a specific graph link but have to sign in, the link is lost"
## Bug description

* Get sent link by someone
* If *not* logged in to PostHog
* Login
* I am taken to the generic insights page, not the link for the relevant graph

## Expected behavior

* Get taken to the appropriate URL after logging in

[2021-02-22 12:08] Twixes opened #3421 "Change project/organization without full page reload"
## Is your feature request related to a problem?

Currently, just to 100% ensure UI integrity, we do a full page reload whenever current project or organization is changed (whether due to direct switch request by user or creation/deletion/joining/leaving). It's heavy-handed though, given that most of our app just uses React routing.

## Describe the solution you'd like

It should be pretty safe to

[2021-02-22 12:55] paolodamico opened #3423 "Release 1.23.0 – 15 March 2021"
Priorities
- Plugins: still some stuff to do, obvious prio
- Retention analysis: priority b/c we need to know what our activation metric is, then maybe build into posthog
- VPC: within a week sales we'll be bottlenecked by this. Few more coming down the pipeline. (Billing etc not a prio)
- Dashboard collaboration / sharing metrics: #3344. Prio b/c it'll increase retention

Plugins: Michael/Karl se

[2021-02-22 14:49] timgl commented on #2247
Based on discussion with Karl:
- It might make sense to be able to dynamically generate groups. Feels like having to write code to create/add users to groups creates a big barrier esp for non technical users
- This is an advanced enough feature we can _just_ build it in Clickhouse. Should reduce complexity

[2021-02-22 14:55] timgl commented on #3390
It's for creating cohorts so it needs to be a user property rather than an event property!

[2021-02-22 14:59] benjackwhite opened #3425 "Plugin-server starts without correctly generated Redis environment variables (since 1.21.0)"
## Bug description

Testing an upgrade from 1.20 to 1.21 with the Plugin Server via Helm / Kubernetes
The plugin-server becomes healthy from Kubernetes point of view but when you look at the UI or the logs it is clear that it is not. It tries to connect to REDIS like so `Error: connect ECONNREFUSED 127.0.0.1:6379` which indicates the REDIS_URL env has not been correctly generated.

Jumping into th

[2021-02-22 19:00] mariusandra commented on #3425
The chart version `1.4.8` should fix this.

[2021-02-22 19:00] #3425 closed

[2021-02-22 19:49] paolodamico opened #3431 "Feature Concept: Full A/B testing suite"
DISCLAIMER: This is just initial & WIP product discovery.

Shout-out to @weyert and @IgnusG community members for all their help with product discovery of this feature!

## Context

- Creating products is an interative process. No one will have the right answer, and the best outcome will only come from experimentation. This feature is targeted to our mission of increasing the number successful pro

[2021-02-22 20:02] paolodamico commented on #2948
This release has been shipped, closing.

[2021-02-22 20:02] #2948 closed

[2021-02-22 20:26] paolodamico commented on #3423
## New Features

The past release I worked with the help of the rest of you on exploring different ideas for what we can build next. I'm still finishing up research on each of the options, but I want to put forward an initial prioritization review based on our new [prioritization strategy](https://posthog.com/handbook/strategy/prioritization), without considering revenue numbers just yet. As I men

[2021-02-23 04:09] akbansa commented on #2866
This would be super helpful!

[2021-02-23 04:55] weyert commented on #3431
Love to discuss this feature in more detail with anyone at PostHog :)

[2021-02-23 10:46] benjackwhite opened #3438 "Patch 1.21.0 fixes REDIS_URL but configures password incorrectly"
## Bug description

Since closing of https://github.com/PostHog/posthog/issues/3425 the plugin-server now correctly starts up with a REDIS_URL env populated however, it looks like the format is not one that ioredis expects

At https://github.com/PostHog/posthog/blob/master/bin/plugin-server#L31 the REDIS_URL is formatted:

[code]

... whereas ioredis seems to require the extra colon before the pas

[2021-02-23 10:53] timgl commented on #3423
**In progress**
- https://github.com/PostHog/posthog/issues/2866

[2021-02-23 10:56] mariusandra commented on #3438
Our apologies for this regression! I pushed out a fix for it in #3439 and will let you know when there's a new chart to try out.

[2021-02-23 11:59] mariusandra commented on #3438
You can try deploying the same chart again. I published a new `path-1.21.0` docker image.

[2021-02-23 12:48] paolodamico commented on #3431
Very helpful @weyert, thanks! Will ping you on Slack to discuss.

[2021-02-23 13:07] benjackwhite commented on #3438
👍 thanks I will try it out

[2021-02-23 13:18] benjackwhite commented on #3438
@mariusandra Can confirm on our end that the plugin-server is finally fully up and running now 👍

[2021-02-23 14:11] #3438 closed

[2021-02-23 16:23] paolodamico commented on #3228
## Additional context
I believe the original issue post includes a bunch of context so just adding incremental stuff.

- In a general sense I think this feature encompasses two main use cases. One, is defining data taxonomy to ensure data consistency, reliability, detect anomalies (event ingestion). Two, is increasing team collaboration from this (e.g. understand events that you didn't implement).

[2021-02-23 20:26] EDsCODE commented on #3413
Took a look at the DB and we have a limit where cohorts that error'd more than twice during recalculation will be omitted for the future. It looks like a majority of our cohorts have accumulated errors (from sentry it looks like connection failures/timouts). I've made some adjustments in #3446 and will track any new errors in sentry to see why cohort calculations have been failling

[2021-02-23 20:35] paolodamico commented on #3413
Thanks for diving into this so quickly @EDsCODE!! For context if it's helpful, after manually pushing a dummy update to the cohort, recalculation worked fine.

[2021-02-23 21:25] kpthatsme opened #3448 "On charts w/ multiple events, make it clearer which line belongs to which series."
## Is your feature request related to a problem?

When looking at charts with multiple series, it can be pretty hard to determine which line represents which chart. We can hover over the lines, but that is still a bit confusing as it lists every series and you need to check if the value you're hovering on matches the series data.

## Describe the solution you'd like

It would be great if there's a

[2021-02-23 21:31] EDsCODE commented on #3390
Should I format the UI/logic so that the different ways of creating a cohort can work together? So a single cohort could be made up of people determine from dynamic property filtering, uploaded from CSVs, and manually selected/added to the cohort or should we keep these separate like it is now?

[2021-02-23 22:04] EDsCODE commented on #3448
#935 Currently in progress!

[2021-02-23 22:38] kpthatsme commented on #3448
Woo! Thanks @EDsCODE, will close this.

[2021-02-23 22:38] #3448 closed

[2021-02-24 05:01] EDsCODE commented on #3413
Np! I think it's fixed for now. I made the bounds more tolerant. Will keep an eye out to see if something else clogs up the tasks

[2021-02-24 05:01] #3413 closed

[2021-02-24 09:18] mariusandra commented on #2839
Please reopen if anyone is still experiencing this.

[2021-02-24 09:18] #2839 closed

[2021-02-24 10:15] JeppeSchmidt opened #3453 "Change dialogs from hover to click"
I find it so annoying that the dialog closes when I point my mouse outside of it. I by far prefer a click-interaction, so I am sure that the dialog first closes when I want it to close. The hover-interaction demands me to concentrate!

[2021-02-24 10:19] JeppeSchmidt opened #3454 "Actions don't happens"
## Bug description
I pretty often experience that I perform an action (duplicate, copy, delete etc.) and it never happens. Sometimes I have to click +5 times before the action happens.

I suspect it to be casued by bad performance.

## Expected behavior
I just expect the action to happen the first time :D

## How to reproduce

1. Perform one of the actions duplicate, copy, delete

## Environment
s

[2021-02-24 14:16] corywatilo commented on #3339
@paolodamico Are we able to limit the form fields on the signup page to _only_ email/pass on the initial screen like in my wire above?

[2021-02-24 14:18] yakkomajuri opened #3458 "Session recording video and audio"
## Bug description

More like an issue on rrweb's side I guess, but worth reporting.

If a user watches a video on a session recording, that video:

1. Counts as inactivity
2. Its audio and video still play when I pause the recording

Is there maybe any way we can have our pause event on the player trickle down to videos inside the iframe where we're doing the replay?

Relevant recording in the pl

[2021-02-24 16:57] macobo commented on #3344
Related ticket: https://github.com/PostHog/posthog/issues/3408

[2021-02-25 04:50] kpthatsme opened #3468 "Defining our activation funnel"
# Defining Activation at PostHog

### Goals
1. Our activation funnel should be aligned with our mission: to increase the number of successful products in the world.

1. Our activation metric should encompass the set of actions that our target personas would take to develop a successful product.  Our target personas in 2021 are primarily [startup and enthusiast developer communities](https://github

[2021-02-25 04:53] kpthatsme commented on #3468
@paolodamico @jamesefhawkins I'd love to get your thoughts on this approach.

[2021-02-25 08:07] timgl commented on #3468
This is cool! Also love how you connected it to our mission.

I’d suggest taking out the feature flags. I think a lot of startups just don’t need to do experiments yet, and even for larger companies it doesn’t always make sense

[2021-02-25 08:19] macobo opened #3469 "Stickiness pie chart is broken"
## Bug description

![image](https://user-images.githubusercontent.com/148820/109123679-c620e400-7752-11eb-9846-f7c0fd30e82d.png)

## Expected behavior

A pie graph is displayed or this visualization is hidden

## How to reproduce

1. Open insights
2. Go to stickiness
3. Open Pie visualization

## Environment

- [x] PostHog Cloud
- [ ] self-hosted PostHog, version/commit: _please provide_

## Addi

[2021-02-25 09:36] macobo opened #3471 "Multi-day date filter in sessions"
## Is your feature request related to a problem?

Currently in sessions you need to select a date to filter by. This can be annoying if searching for a specific session (via filtering)

## Describe the solution you'd like

Have a dropdown instead, with the default being "Last 30 days".

## Describe alternatives you've considered

## Additional context

The original reason for this limitation was p

[2021-02-25 09:37] macobo opened #3472 "Stickiness people "view sessions" button is broken"
## Bug description

![image](https://user-images.githubusercontent.com/148820/109132596-ae4e5d80-775c-11eb-8cdd-6779da469281.png)

This link leads to sessions with the following filter:

![image](https://user-images.githubusercontent.com/148820/109132711-cc1bc280-775c-11eb-843e-ecd95754d58e.png)

Where the date filter is incorrect and the filter does not reflect

## How to reproduce

1. Go to tren

[2021-02-25 10:05] jamesefhawkins commented on #3468
I love the concept for this.

I had the same feature flag concern Tim has - very early stage companies don't use them, since they barely have version 1 of their product working let alone two versions, and they don't have any significant data volume.

However, they _should_ be experimenting.

I'd see this as:

* Form hypothesis (talk to users)
* Launch experiment (ie a _feature_ not a feature flag)

[2021-02-25 11:53] macobo commented on #3472
Similar problem in lifecycle graphs - while the links work well, they don't account for the lifecycle phase

[2021-02-25 11:57] macobo opened #3480 "Retention people modal links don't seem to work"
## Bug description

Links in the retention people modal don't seem to work

## Expected behavior

They lead to the right person page

## How to reproduce

1. Go to insights -> Retention
2. Click on a data poing
3. Click on a person
4. See blank screen like follows:
![image](https://user-images.githubusercontent.com/148820/109150261-49e9c900-7771-11eb-9cc1-35d315bad218.png)

## Environment

- [x] P

[2021-02-25 13:00] paolodamico commented on #3453
Thanks for reporting this @JeppeSchmidt, very helpful. Do you have context on some particular instances where this happens? It'll help us address this faster.

[2021-02-25 13:06] macobo commented on #3480
Same problem in funnels. I think this might be id vs uuid things.

[2021-02-25 17:13] jereze commented on #1411
Hi,

A big +1 for this request.

For example, I'd like to aggregate on the Toolbox for the heatmap and actions preview all following matching events:

`http://{customer_id}.ourcompany.com/project/{userprojectid}/action1`

myself being on one particular URL of this type.

[2021-02-25 17:40] jereze opened #3491 "Funnel - per user list - more than 100 / sorting"
## Is your feature request related to a problem?

(v1.21.0)

On Insights > Funnels, the "Per user" list has 2 limits:
* limit to 100 users
* users who completed the funnels are first

It does not help me to find users who left the funnel (use case: I'd like to understand why they drop, so I open their activity list and try to understand).

For example: in this case, I have 156 / 172 users who reac

[2021-02-25 18:22] macobo commented on #3491
Thanks for sharing the idea!

One additional option/thought: By clicking on part of the funnel visualization, it would pop up a modal similar to insights/retention listing the users, allowing to create a cohort. :)

[2021-02-25 18:49] kpthatsme commented on #2880
I like this idea. I also think there's some additional functionality that can add a lot of value and make this very interesting.

A lot of teams rely on PMF surveys, such as NPS or the more recent "How would you feel if you could no longer use this product?" type of survey in product.

Given that teams are already loading our JS on their site, I think this could be an incremental feature that coul

[2021-02-25 19:54] kpthatsme commented on #3468
Thanks for the feedback @jamesefhawkins and @timgl!

The goal of introducing feature flags was to have some way to proxy deeper engagement – but I definitely had similar concerns around feature flags– so let's stick to a more basic funnel for now.

So the updated funnel would then be:

Team Create --> Data Ingest --> Analyze data

Based on how retention looks for users activated at this level, we

[2021-02-25 23:04] paolodamico commented on #3468
It's amazing that we're thinking about this and completely agree with the strategy! 👏  In the past week we've been working at understanding this from the other side (retention) too, so there are some learnings that might be useful. This is actually what we started exploring on https://github.com/PostHog/retention/issues/13.

**Things we've already learned**
- Our product is broad and users come to

[2021-02-25 23:13] Charuru opened #3496 "Turn off ip not allowed error message"
It would be nice if people who are not allowed to your posthog doesn't immediately see that it's a posthog installation. I would like to turn off the error message             "Your IP is not allowed. Check your ALLOWED_IP_BLOCKS settings. If you are behind a proxy, you need to set TRUSTED_PROXIES. See https://posthog.com/docs/deployment/running-behind-proxy"

Having an option to turn that message

[2021-02-26 08:56] macobo opened #3499 "Cannot filter sessions by action with property filter"
## Bug description

Sentry error: https://sentry.io/organizations/posthog/issues/2231515632/?project=1899813&query=is%3Aunassigned+is%3Aunresolved

If you have an action with property filters, you can't filter by it in sessions

## Expected behavior

Results are found

## How to reproduce

1. Create action such as below (important part is being the "filters")
![image](https://user-images.githubuse

[2021-02-26 08:58] timgl commented on #3499
want me to grab this?

[2021-02-26 08:58] macobo commented on #3499
Nope, on it.

[2021-02-26 09:10] yakkomajuri commented on #3062
Woop! Very happy to close this

[2021-02-26 09:10] #3062 closed

[2021-02-26 09:12] timgl commented on #3062
Hm yeah there's still some work to be done before we can enable this for everyone but it's documented in #3375

[2021-02-26 09:25] yakkomajuri commented on #3062
Yeah for sure, but I guess as far as the scope of this issue goes, it is completed.

Although maybe it isn't completed from a user's point of view? Since they don't have it on.

[2021-02-26 09:29] macobo commented on #3423
Note for planning session: I'll be off next week, Eric and James off the week afterwards + Paolo away for 2 days.

Perhaps it makes sense to make this sprint slightly longer given that?

[2021-02-26 10:43] mariusandra commented on #2866
This has (almost) landed! It will work only when you're using ingestion via plugin server: https://github.com/PostHog/plugin-server/pull/214 ... and once the `0.11.0` version is added to this repo (autobump failed due to some CI bug, will be fixed soon).

Still to do: the `$` properties could get a 🦔 and some text cleanup:
![image](https://user-images.githubusercontent.com/53387/109289999-56305d80

[2021-02-26 10:50] timgl commented on #2866
Yep I'll pick that up next!

[2021-02-26 11:32] mariusandra commented on #3423
Plugins should get a good development sprint now that the base ingestion is done:

Things to definitely work on:
- Access control for plugins on the cloud (in progress) - https://github.com/PostHog/posthog/issues/3328
- Secret keys in plugins (almost done) - https://github.com/PostHog/posthog/issues/3082
- Deprecate Python ingestion - https://github.com/PostHog/posthog/pull/3485
- Lazy VMs / Impro

[2021-02-26 12:55] macobo opened #3504 "Allow extending posthog.js via plugins"
## Is your feature request related to a problem?

There are a lot of features which are useful from a "build a successful company" or product analytics standpoint, but which are niche enough to justify building into core posthog.

Some common ones are ones which interact with the users product in some ways

- User surveys, feedback
- Notifications (e.g. notifying users about updates, etc)
- Opt ou

[2021-02-26 13:06] macobo opened #3505 "Enrich user profiles via plugins"
## Is your feature request related to a problem?

There are a lot of features which are useful from a "build a successful company" or product analytics standpoint, but which are niche enough to become hard to build into core posthog.

Some example features are:
- User interviews product https://github.com/PostHog/posthog/issues/2880
- Including information from other tools in posthog (e.g. hubspot

[2021-02-26 13:10] #3480 closed

[2021-02-26 13:17] yakkomajuri commented on #3505
Indeed I believe @mariusandra has mentioned wanting to have UI plugins before, and it's something I myself was thinking of very recently too.

Would be super cool but realistically I think there's at least a few release cycles of plugins work left before we think of building this.

[2021-02-26 13:18] macobo commented on #3505
No rush. :) Just documenting ideas.

[2021-02-26 13:19] yakkomajuri commented on #3505
I understand!

[2021-02-26 14:19] EDsCODE commented on #3472
Might be unrelated, but does this button work when remove-shownas feature flag is off?

[2021-02-26 14:38] EDsCODE commented on #3423
1 week for me

- primarily keen on pairing with Paolo to do more thorough retention analysis. also can work on product planning/prioritization

[2021-02-26 15:09] macobo commented on #3423
I'm... not sure since I will be off next week.

Some ideas that might make sense:
- Pair up with Paolo, picking up where Eric leaves off
- Pair up with Paolo, start with dashboard collaboration tooling (would roll over for sure)
- Take the time to _actually_ work on email/demo data this time
- Join plugins team and help with:
  - https://github.com/PostHog/posthog/issues/3504 different kind of plu

[2021-02-26 15:52] Twixes commented on #3423
Personal priorities:

- finish access control for plugins on the cloud - issue #3328 / PR #3486
- finish plugin logs implementation (or change approach, feedback needed here) - issue PostHog/plugin-server#72 / PR #3482
- rework GeoIP - issue PostHog/plugin-server#115
- merge enhanced organization settings - PR #3324
- write a light engineering blog post on automating releases with GH Actions

[2021-02-26 16:09] timgl commented on #3338
Closed for this release cycle

[2021-02-26 16:09] #3338 closed

[2021-02-26 20:07] timgl opened #3510 "Some teams are not getting any type 2 session recording events"
## Bug description

Team 1810 on app has the following session recording events. Note there are no type 2 events.
![image](https://user-images.githubusercontent.com/1727427/109349584-7c311e80-7876-11eb-8f97-cf76aca85086.png)

Same reports for team 1377.

See [this internal slack link](https://posthogusers.slack.com/archives/G01JXEDAL22/p1614364403009200?thread_ts=1614305979.000600&cid=G01JXEDAL22)

[2021-02-27 23:58] paolodamico commented on #3339
Sorry for the late reply here @corywatilo, definitely can do!

FYI, some quick improvement I was planning to do in the meantime while we figure out the best design is to move the login and regular sign up to the same component we use for the invite sign up.

[2021-02-28 00:01] paolodamico opened #3512 "Reset password experience"
Issue transfer from https://github.com/PostHog/product-internal/issues/13 originally from @corywatilo.

After we release social login options (#8), we should keep in mind the experience of failed logins because they don't remember which login method they used. (For Cloud, we will inevitably get tickets about this.)

Top of mind questions:
- If a user tries to reset their pass with an email BUT the

[2021-02-28 01:53] paolodamico opened #3514 "Improve graphs/dashboard empty states"
## Is your feature request related to a problem?

Currently we have two different empty states for when graphs (in trends and dashboards) have no data. Both of these states are not great (either from a UI or UX standpoint [not very actionable in how to fix]).

<img width="659" alt="" src="https://user-images.githubusercontent.com/5864173/109405319-4ea2ae80-7924-11eb-94ff-a66cba44dfc9.png">
<img wi

[2021-03-01 01:13] paolodamico commented on #3471
+1 on this! This is my single biggest pain point too when watching session recordings. Using our default timeframe dropdown should be the best approach here as you mention. Related but not part of this issue, we do need to improve the UX of that filter (as detailed in the relevant issue).

[2021-03-01 05:00] corywatilo commented on #3339
Idea for blending the two styles:

![image](https://user-images.githubusercontent.com/154479/109453877-13d27080-7a21-11eb-9016-693c59b1c56c.png)

[2021-03-01 12:11] ungps commented on #1688
I would like to implement this. I will come back soon enough with a PR.

[2021-03-01 14:27] Keisay commented on #3411
Hello there! What do you think of this [Demo](https://drive.google.com/file/d/1dt8Xv_PvbyTA0SWa7n7bqoZEn44KWMtU/view?usp=sharing) ?

[2021-03-01 14:34] timgl commented on #3411
Hey Keisay, I think that looks pretty good! Feel free to open a PR

I'm not sure about putting those two icons in buttons. I think they'd be nicer without the border around it.

[2021-03-01 14:43] corywatilo commented on #3514
What would you want to see here? Aside from something more visual, probably some text about:

- Common troubleshooting steps
- Instructions on how to track events if `total number of events in instance == 0`?
- Other ideas?

[2021-03-01 15:13] corywatilo commented on #3514
Pasting this for my own reference of other error states:

![image](https://user-images.githubusercontent.com/154479/109516935-c1bc3a00-7a76-11eb-9582-21bc6ce4ea59.png)

[2021-03-01 16:00] timgl opened #3520 "Dashboard shows wrong date when using overall"
## Bug description

When using the overall date filter on dashboards, after refreshing the dashboarditem will still show old data

## Expected behavior

Should show data that matches the overall filter

## How to reproduce

1. Add item to dashboard
2. Filter entire dashboard on date
3. refresh date

## Environment

- [ ] PostHog Cloud
- [ ] self-hosted PostHog, version/commit: _please provide_

##

[2021-03-01 16:06] yakkomajuri opened #3523 "Error: <path> attribute d: Expected number, "M0,NaN C114.9,NaN 1…"."
## Bug description

Error message on console when using funnels in the playground:

[code]

Empty funnel seems to be the problem?

Doesn't really affect the UX it seems

## Expected behavior

## How to reproduce

1.
2.
3.

## Environment

- [ ] PostHog Cloud
- [ ] self-hosted PostHog, version/commit: _please provide_

## Additional context

#### *Thank you* for your bug report – we love squashing

[2021-03-01 16:09] mariusandra opened #3524 "Person filters don't reset"
## Bug description

- When setting filters on a user, I can't seem to unset them

## How to reproduce

![2021-03-01 17 07 05](https://user-images.githubusercontent.com/53387/109524458-d7e6ec00-7ab0-11eb-9616-3321f233ff84.gif)

## Environment

- [ ] PostHog Cloud
- [x] self-hosted PostHog, latest playground (1.22)

[2021-03-01 16:09] Twixes opened #3525 "Many error notices are suppressed after limiting error toasts"
## Bug description

Merging #3220 a while ago suppressed a great deal of **helpful** error messages shown on errors received from API. For instance, creating an invite for an email that already is a member of the org returns err 400 from the API with message "A user with this email address already belongs to the organization.". That message used to be shown in the error toast, which was clear UX,

[2021-03-01 16:14] fuziontech opened #3526 "Copy button for code doesn't work on onboarding flow"
## Bug description

Copy button doesn't work for code in the onboarding flow
![image](https://user-images.githubusercontent.com/391319/109525112-0f7c7680-7a66-11eb-90ae-e4fc48536510.png)

#### *Thank you* for your bug report – we love squashing them!

[2021-03-01 16:30] #3526 closed

[2021-03-01 16:33] EDsCODE opened #3531 "Updating cohort is unclear"
## Bug description

*Please describe.*
- when you try to update an existing cohort, it doesn't appear to update the actual people, only the conditions
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
- should immediately update the cohort

## How to reproduce

1. Create a dynamic cohort
2. Try to change the cohort (adjust 'in the last x days' condition)
3.

[2021-03-01 17:48] ungps commented on #3524
This happens when we are having just 1 filter. If we are adding two filters and delete one of them, the events table updates successfully.

[2021-03-01 18:13] #3524 closed

[2021-03-01 19:35] paolodamico commented on #3411
While having the filtering items in the dropdown certainly makes for a cleaner UI, I think the UX is not straightforward. I think we might run into some discoverability issue here.

[2021-03-01 21:09] kpthatsme commented on #3339
I _think_ we'd want this to be email instead of first name for the required piece of info?

Love the ideas about reducing friction – I do think we could move to a single form input of email only, but I wouldn't say it's a p0 to getting this out. We can always run it as a future iteration. If the email already has a password set, we ask them to login. If they don't have one set we take them into th

[2021-03-01 23:52] paolodamico commented on #3514
- Additional common troubleshooting options: extend the search (i.e. remove filters or extend the timeframe).
- If it's action-based, maybe something around checking the action to make sure it's property set up to match the desired events.
- If it's a property aggregate value there might also be something around properties having incorrect types (e.g. numbers formatted as strings), or events not h

[2021-03-02 00:10] EDsCODE opened #3547 "[Epic] Dashboards UX improvement"
**Goal:** To improve the dashboard experience and work out some of the bugs that have accumulated and gone unnoticed

- [ ] Refresh button timestamps should be obvious. The overall refresh button should also have a timestamp
- [x] sharing button confusing. It’s acting as a status button and an activity button but the prompt is confusing because it says “shared” when you can still click it to share

[2021-03-02 00:28] paolodamico opened #3548 "Raw SQL queries support"
## Is your feature request related to a problem? Describe the solution you'd like

This is an idea that came up in the last offsite and that we've been talking about randomly ever since. Have support for custom raw queries for users with complex analytics needs.

## Describe alternatives you've considered

For self-hosted you can connect directly to your DB and even use something like Metabase on

[2021-03-02 00:40] paolodamico commented on #3547
Closes #3344?

[2021-03-02 00:41] paolodamico commented on #3547
Complements #3344

[2021-03-02 01:13] kpthatsme opened #3549 "When adding a breakdown or filter to an event / chart, only show available properties"
## Is your feature request related to a problem?
When adding a breakdown to a chart or adding a filter to an event, the property list shows what looks to be a list of all properties sent with any event.

This makes it hard to get to the right filters for the particular event, especially if there are similarly named properties. It's also difficult to know which properties are available on a particu

[2021-03-02 02:03] kpthatsme opened #3550 "Permanently hanging action"
## Bug description

Tried to create an action w/ a few 'insights viewed' events.

First time, there was a [Sentry error](https://sentry.io/organizations/posthog/issues/2245617126/?referrer=alert_email&environment=production).

I went back to recreate it and it seemed to work, but failed once I added the fourth event to [this action](https://app.posthog.com/action/4911#backTo=Actions&backToURL=%2Fe

[2021-03-02 02:06] EDsCODE opened #3551 "Dashboard Sharing Scope"
Reprioritized #3344 into a list that can be tackled for this cycle for dashboard sharing. I've grouped several of the collaboration features into a format I think would allow them to all work well together.

**Collaboration:**
- When clicking on a dashboard item, don't directly go to insights editor but instead provide a focus on the insight being viewed and provide details on
     - versions—how

[2021-03-02 08:49] mariusandra commented on #3525
As I advocated (in Slack) when this was merged, I'd be in favour of reverting #3220 and blacklisting noisy errors again, instead of forcing us to add `toast.success()` in all loaders. I've run into this many times with plugins as well, where errors would just be swallowed up.

The problem with the previous system was that there were sometimes too many errors due to intermittent network issues, sho

[2021-03-02 09:02] mariusandra commented on #3548
I guess somewhat related: https://github.com/PostHog/posthog/issues/1244

[2021-03-02 09:34] mariusandra commented on #3504
Interesting idea. An alternative to serving JS inside `/decide` (might make the request huge?) is to do it similar to session recordings --> later on we download the necessary JS from `app.posthog.com/js/:team_id/plugins.js` or something like that.

[2021-03-02 10:11] Twixes commented on #1188
This is indeed available, on the database level (connecting Metabase to Postgres/ClickHouse). As for enhancing PostHog itself though, we're looking into making it powerful with solutions like #1244 or #3548.

[2021-03-02 10:11] #1188 closed

[2021-03-02 10:30] Twixes commented on #3525
I think _most_ errors we should prefer to indicate at first sight. There are some specific endpoints where it's acceptable to fail, but in _most_ cases the user experience is impacted. And hiding notices only makes the impact worse. So maybe revert of #3220 AND an additional argument to `api.get/update/etc` that would make errors in specific calls handled internally?

[2021-03-02 10:36] yakkomajuri commented on #1188
Not only available but documented too!

https://posthog.com/docs/tutorials/1-minute/integrate-with-metabase

[2021-03-02 11:15] Twixes commented on #3550
This also happens when trying to view an action that does not exist (or does exist, but not within the current project), say https://app.posthog.com/action/999999999.

[2021-03-02 11:34] #3520 closed

[2021-03-02 11:37] timgl commented on #3525
As I mentioned in Slack, I htink most of the unhandled errors that users care about happen on POST or PATCH functions. I'm okay re-enabling errors just for those globally + selectively enable errors for certain GET requests.

[2021-03-02 13:20] andrewm4894 opened #3554 "It looks like not all text of a long event attribute is being displayed in the UI in the events properties screen"
## Bug description

It looks like not all text of a long event attribute is being displayed in the UI in the events properties screen

If i send an event like this

[code]

In the UI i see:

![image](https://user-images.githubusercontent.com/2178292/109654161-c3aaf980-7b59-11eb-9800-b298b38e59fb.png)

So it seems like i cant see the `this_will_not_be_visible_in_the_ui` part of the string - looks l

[2021-03-02 15:04] paolodamico commented on #3551
Makes sense to me. Some questions that popped up in my head,

- Are we doing version history on the dashboard itself? e.g. if you added or removed items?
- Are we allowing general discussion on a dashboard (vs. just dashboard items)?
- For handling previews in Slack (which is awesome!) we need to consider the case where you share a private link, perhaps we need you to connect your PostHog to your

[2021-03-02 17:12] mariusandra opened #6888 "Levels of Isolation"
In case we want to enable full plugin support (including writing your own), we should have a discussion about levels of isolation in the plugin server.

Right now, for EE, the plugin ingestion pipeline (simplified) looks like this:

![image](https://user-images.githubusercontent.com/53387/109684348-7aba6b80-7b80-11eb-80a9-7f66089bd1bd.png)

EDIT 2022-02-11: the middle orange await is now gone -->

[2021-03-03 10:38] yakkomajuri commented on #3554
This should fix it:

https://github.com/PostHog/posthog-js/pull/197

[2021-03-03 11:02] andrewm4894 commented on #3554
Im not quite sure it will - we noticed that less text was visible on the screen than was actually in the span element if you inspect it.

So it was almost like there was a separate UI small issue of not displaying the full text.

Here is an example of what i mean - you can see the UI seems to be not able to display the full text, its like it should be wrapped or something

![image](https://user-im

[2021-03-03 11:49] andrewm4894 opened #3567 "Extend Plugins to support ML use cases"
## Is your feature request related to a problem?

No, this is more a crazy idea that i think could be awesome if was done right. Decided to share just so it's logged somewhere as probably not the sort of thing that could be tackled in the short to medium term.

## Describe the solution you'd like

It would be awesome if Posthog came with the ability to in some way have ML based features out of the

[2021-03-03 12:51] yakkomajuri commented on #3554
Separate UI issue will be fixed by this:

#3560

[2021-03-03 12:58] mariusandra commented on #3554
The JSON view (#3560) is a workaround to get around this problem.

The current UI issue comes from the fact that we don't split up really long strings in properties and thus they stretch out the interface and then disappear behind the `overflow: hidden` edge.  The solution is to tokenise the text and add a `<wbr />` in between every 20+ characters and other natural breakpoints (like a dash `"-"`)

[2021-03-03 21:46] ungps commented on #3415
Hello,

I couldn't reproduce this. I tried a couple of different scenarios but all of them seems to be working just fine (after I logged in, I was redirected to the right page). Maybe this got fixed in the meantime? If it was not, could you please give more details? I would like to fix this.

[2021-03-03 23:46] kpthatsme opened #3572 "Allow 'and' clauses in cohort creation"
## Is your feature request related to a problem?

I want the ability to only look at users who have completed both Action A _and_ Action B.

## Describe the solution you'd like

An `and` clause in addition to the current `or` clause in cohort creation.

## Describe alternatives you've considered

## Additional context
Another solution to this kind of problem would be to allow Actions to be part of

[2021-03-04 00:00] kpthatsme opened #3573 "Refresh dashboard causing charts to have the same data"
## Bug description
Clicking refresh data on this [dashboard](https://app.posthog.com/dashboard/2256) causes a majority of the retention charts to show the same data.

When clicking the individual refresh buttons on the toggle, the correct data loads.

## Expected behavior
Refresh dashboard should refresh all the charts individually.

## How to reproduce

1. Load the linked [dashboard](https://app.

[2021-03-04 02:23] kpthatsme opened #3574 "Dashboard not rendering funnel"
## Bug description
This [dashboard](https://app.posthog.com/dashboard/2298) fails to render the step funnel in the top left, showing an error message.

Clicking into the funnel it works and loads properly.

Attempting to re-add to the dashboard occasionally works, but ends up making the other funnel (trend) chart not render.

<img width="1033" alt="Screen Shot 2021-03-03 at 6 19 58 PM" src="https:

[2021-03-04 02:47] kpthatsme commented on #3550
So one way to reliably repro this is to add the attached to the action.  I'm able to query this event and property fine in a normal chart [
<img width="802" alt="Screen Shot 2021-03-03 at 6 46 54 PM" src="https://user-images.githubusercontent.com/5965891/109903658-e66c0980-7c50-11eb-88a5-015d25e19665.png">
](url)

[2021-03-04 05:42] corywatilo commented on #3551
I'd love to take this one first. What's the MVP for that? You set up time-based (daily, weekly) updates that go into Slack that summarize the dashboard? (Could do each widget _on_ the dashboard, but that could be a lot of updates...

As an aside, I know this is just for how it relates to dashboards, but pushing to Slack could open up a fun new world of possibilities...

Examples: aside from just a

[2021-03-04 05:46] corywatilo commented on #3551
Is this more than just authing and making sure we figure out what the og:image should show? There wouldn't be more interactivity from just pasting a link, right?

We had also talked about Slack updates for Dashboards. MVP could look like: You set up time-based (daily, weekly) updates that go into Slack that summarize the dashboard. (Could do each widget on the dashboard, but that could be a lot of

[2021-03-04 06:29] corywatilo commented on #3547
Took a quick stab at the ability to add new dashboard items _from_ the dashboard [here](https://balsamiq.cloud/sd0i9zq/pl0wjty/rE6C3).

![image](https://user-images.githubusercontent.com/154479/109920936-ff90ac80-7c88-11eb-8586-d6ab88757a8a.png)
![image](https://user-images.githubusercontent.com/154479/109920954-04556080-7c89-11eb-8a13-1c26c1647273.png)

Are we able to show a single list of all sa

[2021-03-04 09:55] benjackwhite opened #3576 "Events stopped being added for an Action, whilst still working for identical duplicate Action"
## Bug description

We have an action defined for a custom event "user signed up" (ID: 32) that filters where a property "test_user = false" and "gender = female". Since one month there are no new events showing in the UI and none of our slack messages are triggered. Today we tried to make a new action (ID: 119) with the same configuration and the events then show correctly.

**DB Query to examine

[2021-03-04 09:57] benjackwhite commented on #3576
Worth mentioning, we have Sentry installed and have had no issues reported from the backend related to this sort of issue. Any tips or hints on how to debug further would be really welcome!

[2021-03-04 14:29] mariusandra commented on #3510
Probably fixed by https://github.com/PostHog/posthog/pull/3566

[2021-03-04 14:41] timgl commented on #3576
Hey Ben, thanks for the extensive write up!

- I assume the action wasn't accidentally deleted (ie you can still see it if you go to the url but it doesn't show up in the list)?
- Do you have plugins turned on?
- If you save the action again does it start working?

[2021-03-04 15:12] #3554 closed

[2021-03-04 16:35] Twixes commented on #3415
Thanks for the interest @ungps! This issue is now fixed with PostHog/posthog-cloud#89, it was PostHog Cloud-specific.

[2021-03-04 16:35] #3415 closed

[2021-03-04 16:37] kpthatsme commented on #3547
Ran into two bugs recently with dashboards:
https://github.com/PostHog/posthog/issues/3574
https://github.com/PostHog/posthog/issues/3573

[2021-03-04 16:39] kpthatsme commented on #3547
Ran into two bugs recently with dashboards:
[Issues with (multiple?) funnels rendering](https://github.com/PostHog/posthog/issues/3573)
[Issues with refresh behavior on retention](https://github.com/PostHog/posthog/issues/3573)

[2021-03-04 20:16] paolodamico commented on #3551
Took a stab at some wireframes to encompass these new functionality plus the appropriate fixes in #3547, curious to hear people's thoughts on this.

### Base dashboard
- Added tagging functionality
- Changed the UX of "locked" mode to be _locked_ by default and instead enter editing mode to move things around.
- Added keyboard shortcuts for easier navigation
- Prioritizes sharing as the main actio

[2021-03-04 21:26] Twixes commented on #1949
We've got a definitely specialized plugin/ingestion server now, which does just this. :)

[2021-03-04 21:26] #1949 closed

[2021-03-04 21:28] Twixes commented on #2521
This is done with the new onboarding flow and plugins will be enabled for all with next release.

[2021-03-04 21:28] #2521 closed

[2021-03-04 21:29] Twixes commented on #3082
#3341 didn't entirely solve the security considerations regarding keeping secrets as secret as possible (encryption), but they're secret enough.

[2021-03-04 21:29] #3082 closed

[2021-03-04 22:37] EDsCODE commented on #3551
**Base Dashboard:**
- any thoughts on how we should include snapshots of dashboards?

**Editing Dashboard:**
- Updating tint/accent colors around the page could help signal editing mode is active

**Activity History:**
- my main concern here would be that the activity history of a single item and the dashboard itself look very similar right now. we'll need a way to make sure the user doesn't incor

[2021-03-05 11:23] yakkomajuri commented on #3567
Thanks for sharing @andrewm4894 !

[2021-03-05 11:25] yakkomajuri commented on #3572
Current hacky workaround:
- Create a third action that encompasses the two others and use that in the cohort.

[2021-03-05 14:31] timgl opened #3589 "Break down more than 20 values"
## Is your feature request related to a problem?

Right now we artificially limit the number of values a breakdown returns to 20, partly for performance.

## Describe the solution you'd like

 We should be able to either paginate this or export a full list.

## Describe alternatives you've considered

There's no real way of getting say the number of events per user right now.

## Additional contex

[2021-03-05 15:58] benjackwhite commented on #3576
Hey Tim.
* Action definitely wasn't deleted - it is still in the Actions list as well as by directly visiting it
* Yes we have plugins turned on but are not using them for this project
* It probably will work again (see the additional-context) as we tried this before. The issue is more we can't have the fix simply be "save it and it works again" as then it introduces a general unreliability to the

[2021-03-05 21:23] avorio opened #3592 "Plugin server is NOT working on Heroku"
## Bug description

The plugin server associated with my instance of PostHog is NOT alive on Heroku, despite the `worker` dyno being active and running for the past many weeks.

## Expected behavior

Plugin server ON.

## How to reproduce

1. Deployed PostHog to Heroku
2. Enabled worker `./bin/docker-worker`

## Environment

I'm running version 1.22.0 of PostHog. Everything else is operational, ex

[2021-03-06 15:34] Twixes commented on #3592
Hey! If you go to your Heroku app's environment variables, is there a `DEPLOYMENT` var set to `Heroku`? If deployed with our one-click PostHog-on-Heroku option, there should be, otherwise you need to set it yourself. The reason is: Heroku Postgres has a quirk where SSL is required but with slightly unusual different handling (no hostname verification due to the very dynamic way Heroku provisions t

[2021-03-08 02:19] avorio commented on #3592
Oh wow, that was a super-obscure setting I wasn't aware of. Adding it seems to have solved the problem.

BUT, it looks like I lost all usage data for the past two days and I'm seeing a ton of these errors in the logs now:

[code]

What happened to the system during that time? I saw that Redis filled up ... until it crashed.

[2021-03-08 13:10] Twixes opened #3595 "Fetch Gravatars server-side for better privacy"
## Is your feature request related to a problem?

#3584 introduced Gravatar support. There is a slight privacy downside though, in that the pictures are fetched client-side, exposing e.g. user IPs to Gravatar.

## Describe the solution you'd like

We can minimize user exposure to the third-party service by fetching pictures server-side, with caching. That should be an `/api/users/:id/avatar` GET-o

[2021-03-08 13:13] #1474 closed

[2021-03-08 16:48] paolodamico opened #3597 "Improve password reset experience for self-hosted"
This comes from a user request/feedback. If a self-hosted instance doesn't have SMTP setup, the password reset experience is pretty bad. Can we think of alternatives to make the experience less painful? An alternative option is around what we've already been discussing of making the SMTP setup very simple and get more users to set this up.

[2021-03-08 19:22] paolodamico commented on #3551
Thanks for the feedback @EDsCODE, based on it and the wireframes I've gone ahead and started on some wireframes. Hoping to get some feedback so we can start building soon.

- Re base dashboard. Starting from the default mode (i.e. not the build mode), we could just remove the action elements (buttons and such), plus the navigation, and then it could be easily printed / exported to PDF. We could us

[2021-03-08 20:02] paolodamico commented on #3551
Initial mockups ready [on Figma](https://www.figma.com/file/gQBj9YnNgD8YW4nBwCVLZf/PostHog-App?node-id=1641%3A0), would love some feedback please!

![image](https://user-images.githubusercontent.com/5864173/110374917-1e36d080-8006-11eb-9edd-fec37eead201.png)

[2021-03-08 20:10] paolodamico opened #3599 "Bug with trends formulas"
## Bug description

Tried to generate a graph with a formula but caused a server-side error. Here's the error on [Sentry](https://sentry.io/organizations/posthog/issues/2238619741/?project=1899813&query=is%3Aunresolved).

## Expected behavior
Graph should be properly generated.

## How to reproduce

1. You can checkout [this graph](https://app.posthog.com/insights?insight=TRENDS&display=ActionsLin

[2021-03-08 23:36] paolodamico opened #3600 "Out of the box 2FA support"
## Is your feature request related to a problem?

Currently if you want to add 2FA support for PostHog, the only option is through a social authentication provider, yet this is not ideal because a) not everyone has support or wants to use this providers, and b) we don't enforce that users in an org are required to log in using these social auth providers.

Won't dive into the merits of having 2FA

[2021-03-09 00:49] Twixes commented on #256
Superseded by #3600.

[2021-03-09 00:55] #256 closed

[2021-03-09 05:15] fuziontech opened #3601 "Segmenting on property at steps in funnel"
## Is your feature request related to a problem?

Not a bug, but it would be super educational if we could segment by property at steps in a funnel.

As an example, you have a step in the funnel that is person converts/buys a plan. A dimension that might be interesting to look at is the % share of users who used credit card, paypal, apple pay, other at the final step and represent that in the funn

[2021-03-09 09:29] mariusandra opened #3602 "Secure Mode"
## Is your feature request related to a problem?

Currently you can open any site using posthog to capture events, and call `posthog.identify` with a bunch of random e-mails (e.g. emails of the people who work at company X)

## Describe the solution you'd like

I'd like something like the [Secure Mode](https://www.gosquared.com/docs/javascript-tracking-code/secure-mode/) of GoSquared, where you ge

[2021-03-09 11:02] adamwaterhouse opened #3604 "Archiving old data"
Hi,

I'm looking for a way to archive old data and wondered if there's a recommended way to do this?

[2021-03-09 13:34] mariusandra commented on #3604
Hey Adam, I assume you're self-hosting?

If so, then since you have access to all the postgres tables with the raw data, one approach could be to archive them like you would archive any other postgres database.

Another approach is to use plugins to get data out of the system. For example there's a [bigquery export plugin](https://github.com/PostHog/bigquery-plugin) that sends all events to Google

[2021-03-09 15:07] paolodamico opened #3606 "Fix main nav bar scroll on Windows/Linux"
## Bug description

The main nav bar gets added a scroll bar which looks terrible on Windows & Linux. This also causes some jumpiness (nav bar appears to be resized) when scrolling.

## Expected behavior

Nav bar should behave the same as in macOS.

## How to reproduce

1. Open PostHog on Windows o Linux.

## Environment

- [X] PostHog Cloud
- [X] self-hosted PostHog, version/commit: _please provi

[2021-03-09 17:54] paolodamico opened #3609 "Refresh all dashboard items"
## Bug description

Support refreshing all dashboard items. This feature was temporarily removed because it wasn't working properly)

## Expected behavior
- All dashboard items should be properly refreshed and the `items` object in the `dashboardLogic` should contain the latest information.
- From user feedback. I expect items to be automatically refreshed every hour or so (e.g. if I'm a marketer

[2021-03-10 08:43] eikooc opened #3615 "New person page not able to show all properties of a user"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*
Nested properties are being cut off, so the value cannot be read.
![error](https://user-images.githubusercontent.com/1305015/110912444-3cf1db80-8314-11eb-93f7-0680460a2bf0.png)

## Expected behavior
Be able to read the properties of a user, even nested ones.

## How to reproduce

1. Send dee

[2021-03-10 15:55] Twixes commented on #3454
Hey! What do you mean by duplicate, copy, delete etc? In which part of PostHog does this occur?

[2021-03-10 16:48] timgl opened #3622 "Release 1.24.0 – 29 March 2021"
- Libraries: feature flags, React Expo support, keeping up to date with analytics. Most popular libraries (not up to date) are node and react-native.
- Plugins
- Tackle a bunch of UI/UX/bugs stuff (@paolodamico to come with a concrete list)
- Session recording chunking/UX (have a list with only recorded sessions for example, default to filter + tooltip)
- VPC

Eric
- Support Hero

Paolo/Tim
- Tack

[2021-03-11 07:19] JeppeSchmidt commented on #3454
Hi,

It happens all places. Maybe it is due to bad performance. I can’t say. We host Posthog ourself.

Bedste hilsner,
Jeppe Schmidt Fallesen
Lead UX Designer
+45 28 79 07 97

[signature_260017227]<https://www.capturi.com/?utm_source=email&utm_campaign=email-signatur-website>

Besøg capturi.com<https://www.capturi.com/?utm_source=email&utm_campaign=email-signatur-website> og følg med på Facebook<h

[2021-03-11 10:27] mariusandra commented on #3576
Hey! I think we finally found the issue. We'll release a new version (`1.22.1`) with the fixes shortly, yet to get around this yourself, you can either set the env `PLUGIN_SERVER_INGESTION` to `true` (even if you have manually opted in to plugins)... or alternatively just set `ASYNC_EVENT_ACTION_MAPPING` to `true`.

This should solve the issue if you're not using webhooks. If you are, then the wor

[2021-03-11 12:21] Twixes commented on #3592
Unfortunately the data can't be recovered if Redis stopped. :( This is an inherent flaw of Redis as an in-memory store and the reason why our VPC/Cloud stack uses Kafka for queuing events instead (but the free version is on Redis due to significantly simpler deployment for users).

Sorry for the experience. We've taken remediation steps to ensure **this never happens again**:
- most immediately, t

[2021-03-11 13:36] yakkomajuri opened #3628 "More power to webhook messages"
## Is your feature request related to a problem?

Funny to open this as we're discussing the value of webhooks but I'd love to be able to access event properties in webhook messages, for example.

## Describe the solution you'd like

Here's an example message I'd like to have:

[code]

## Describe alternatives you've considered

Leave as is.

## Additional context

#### *Thank you* for your featur

[2021-03-11 13:37] macobo commented on #3622
From discussion w/ Yakko/Marius/Michael: We should also work on action mapping in plugin server this release.

After the current patch release we create a celery task per event to do the action matching. This can lead to redis OOM => data loss, especially for FOSS. We should do the matching in-memory (if possible) in redis instead.

[2021-03-11 13:41] Twixes commented on #3628
Yes, formatting is persistent issue. See: #1543. I'll close this issue since the other one has more context.

[2021-03-11 13:41] #3628 closed

[2021-03-11 16:01] Twixes commented on #3454
Hm, could you attach a GIF/recording of this happening in PostHog?

[2021-03-11 17:28] yakkomajuri commented on #3615
Hey @eikooc ! This is definitely something we should look into improving.

However, the [Property Flattener Plugin](https://posthog.com/plugins/property-flattener) could be useful to you

[2021-03-11 19:26] avorio commented on #3592
@Twixes Thank you so much for the update, Michael!

I just didn't understand one point: my Redis never crashed. In fact, its store space was adding up and up and up as time went by with the worker not working. And then suddenly, when I added that env var you suggested, all data was wiped out.

[2021-03-12 01:45] paolodamico commented on #2390
This has been addressed. Closing.

[2021-03-12 01:45] #2390 closed

[2021-03-12 01:51] paolodamico commented on #3622
Here's the list of UI/UX improvements & fixes I'd like to tackle on the next release. The list will probably be a bit fluid throughout the release as we find other things to improve. Please feel free to share feedback on the list, and happy to pair up  if anyone is interested.

- Revamp the error experience. When something goes wrong, make sure we show useful error messages, actionable, and with a

[2021-03-12 02:53] corywatilo commented on #3622
@paolodamico I think filtering UX will be an ongoing project. There is some low-hanging fruit (bugs, obvious things we see, things that are reported), and then there will likely be some things that will take longer and should be specifically planned for a sprint (stuff that will require rethinking, wireframes, and maybe even getting feedback from users before implementing).

For the time being, I

[2021-03-12 03:49] theonlyjohnny commented on #2273
Is there any timeline on this issue?

[2021-03-12 11:37] mariusandra opened #3630 "Chain elements with attributes with empty strings"
## Bug description

When you have an element with an empty random attribute such as:

[code]

... the elements chain is created correctly:

[code]

... but the interface shows it wrong:

![image](https://user-images.githubusercontent.com/53387/110934923-01183f80-832f-11eb-8e84-92626b398115.png)

![image](https://user-images.githubusercontent.com/53387/110934956-0a091100-832f-11eb-95a7-52621250ba90

[2021-03-12 11:52] mariusandra opened #3631 "Can not filter by selector"
## Bug description

I'm unable to search by selector.

Neither on the events page:
![image](https://user-images.githubusercontent.com/53387/110936665-88ff4900-8331-11eb-84dd-ce20e33eb219.png)

Or in trends:
![image](https://user-images.githubusercontent.com/53387/110936694-961c3800-8331-11eb-9822-b6fe4509cc91.png)

## Expected behavior

It should show results

## How to reproduce

1. Find a place

[2021-03-12 11:52] macobo opened #3632 "Chunking session recording events"
## Is your feature request related to a problem?

Currently session recordings reach us via the following pipeline:
1. posthog-js captures a bunch of events, compresses and sends to /s endpoint
2. we decompress these events, put each into celery/kafka as a task
3. In the other end plugin server reads these events and puts them into the appropriate database

To retrieve a list of recordings, we:
4.

[2021-03-12 13:40] Twixes commented on #3592
Hm, to be honest it's hard to say what caused that without knowing deployment details and what happened exactly.

[2021-03-12 14:14] mariusandra commented on #3622
I'll be off the first week. For the second:

- Work on whatever needs to be worked on for the plugin server.
- Alternatively, work on adding feature flags to some integration.
- Alternatively, help with getting VPCs productized in any way I can

[2021-03-12 17:19] Twixes opened #3636 "Dashboard editing (and locking) permissioning"
## Is your feature request related to a problem?

Currently all dashboards can be edited by all organization members. This poses a risk of people touching dashboards they should leave alone.

## Describe the solution you'd like

 Per-dashboard solution proposed by user on Slack:

#### *Thank you* for your feature request – we love each and every one!

[2021-03-12 17:28] Twixes commented on #3287
Released.

[2021-03-12 17:28] #3287 closed

[2021-03-12 17:28] Twixes commented on #2985
Released.

[2021-03-12 17:28] #2985 closed

[2021-03-12 18:20] kpthatsme commented on #3622
@paolodamico @timgl  this is a bug that would be really helpful to have fixed this sprint https://github.com/PostHog/posthog/issues/3574 it's blocking some of our internal dashboard work and I think a pretty general use case (showing a trends and steps funnel on a dash)

[2021-03-12 19:46] timgl opened #3638 "Add trailing DAU/WAU/MAU"
## Is your feature request related to a problem?

I'd like to have a daily graph of the trailing DAU/WAU/MAU (so that eventually I can see percentage of DAU/MAU for example)

## Describe the solution you'd like

In the maths dropdown add DAU/WAU/MAU options.

## Describe alternatives you've considered

## Additional context

I don't think this'll be super easy. In clickhouse we have the process_ma

[2021-03-12 21:05] prawnsalad opened #3642 "Postgres SELECT queries taking up all server resources"
## In what situation are you experiencing subpar performance?
Almost always, also most likely while the web UI is closed.

There are multiple of these queries running at once which I can only assume is some report being run. It pegs all CPU cores at 100%. As you can see, the query lasts for almost 5 minutes. This impact the web UI by slowing down all other queries being run and in some cases the U

[2021-03-12 21:09] prawnsalad commented on #3642
Adding to this, it's got to the point where my dashboard says `There are no panels on this dashboard.` when I do have some - the server is just obviously too overloaded now.

[2021-03-12 23:05] prawnsalad commented on #3642
After adding a column to cache the value (if it's even possible to cache... i'm not sure exactly where the query is coming from):

4.8 minutes to 9.3 seconds

[code]

[2021-03-12 23:07] kpthatsme commented on #3574
Fixed in https://github.com/PostHog/posthog/pull/3641

[2021-03-12 23:07] #3574 closed

[2021-03-12 23:18] timgl commented on #3642
Hey, I think I now what's going on. Can you set the `ASYNC_EVENT_PROPERTY_USAGE` env to `0`? I think that'll stop these queries. It means you lose events and property stats.

[2021-03-13 17:10] prawnsalad commented on #3642
It's been running for around 30minutes with ASYNC_EVENT_PROPERTY_USAGE=0 and things look much better, I can actually see other queries making use of the CPU now.

The event and property stats page does say that they can be delayed by up to an hour so I assume that the heavy query should only run once every hour? In my case there where 3 instances of the query running every time I checked.

[2021-03-13 17:29] thedeveloperr commented on #2895
How many saved filters can be there ? Will a JSONfield in user model enough ? Or we need a separate table ?

@mariusandra

[2021-03-14 07:03] weyert commented on #3622
Love to discuss the Node library when you will be working on it :)

[2021-03-14 16:12] timgl opened #3644 "Plugins Server not starting on cloudformation"
## Is your feature request related to a problem?

Got a report from a user that plugin server wasn't starting on a fresh cloudformation install.

[code]

## Describe the solution you'd like

Should start plugin server.

## Describe alternatives you've considered

## Additional context

#### *Thank you* for your feature request – we love each and every one!

[2021-03-14 19:44] Twixes commented on #3644
Huh, looks like a Django migration gone wrong.

[2021-03-14 23:10] Mentioum opened #3646 "Value Bar Charts with colours set (other than white) should have white Y-Axis text"
I believe the y-axis text colour needs to be accounted for when initializing chartjs as currently Bar Value Graphs have poor visibility as show below.

## Good
![image](https://user-images.githubusercontent.com/748170/111087540-0ab1cb00-851a-11eb-90b9-dbe395fe5f85.png)

## OK
![image](https://user-images.githubusercontent.com/748170/111087550-1b624100-851a-11eb-9060-85998471608a.png)

## Bad (gree

[2021-03-15 03:29] EDsCODE opened #3647 "Lifecycle toggle"
## Is your feature request related to a problem?

*Please describe.*
I would like to be able to toggle different parts of lifecycle on and off to be able to clearly compare the numbers between dates

## Describe the solution you'd like
- add a toggle on the insights page when lifecycle is viewed

## Describe alternatives you've considered
leave it as is

## Additional context

#### *Thank you* for

[2021-03-15 10:46] yakkomajuri commented on #3646
Thanks for reporting this! Should be a quick fix.

[2021-03-15 16:25] fuziontech commented on #3644
I just tested this on a new deploy on our AWS. Seemed to work fine. I did see 500's for about 5-10 minutes after the formation finished, but then everything looked good. I'm guessing maybe it was a laggy or slow migration.

You can try it out here:
http://posth-publi-esp0c8xus8v0-2134432467.us-east-1.elb.amazonaws.com/

Reach out to me for the username and pass

[2021-03-15 16:29] EDsCODE opened #3656 "Toolbar heatmap doesn't show any related actions"
## Bug description

*Please describe.*
If you use the heatmap on the toolbar, you should see actions related to the element that the heatmap shows but there are none.

*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
Heatmap should show related actions

## How to reproduce

1. Go to heatmap using toolbar
2. Examine an element you would expect matches an ac

[2021-03-15 17:37] paolodamico opened #3657 "Org creation edge case in self-hosted instances"
## Bug description

There's an edge case in which if you leave your last organization (or are removed) in a self-hosted instance, you can now create a second organization in the instance (from `/organization/create`). This seems to bypass restrictions for multiple orgs on self-hosted.

## Expected behavior

You shouldn't be able to create an organization in this case. You should see a message expl

[2021-03-15 18:25] yakkomajuri opened #3659 "Uninformative webhook message for missing properties"
## Problem Description

Users can choose to fire webhooks on specific actions and specify a message to be sent with it.

This message can access event properties for the event that triggered the action.

Event properties accessed with `event.properties.desired_prop` will just be substituted with `undefined` if the property doesn't exist and the message will send without issues.

However, when acce

[2021-03-15 18:36] jaredsilver commented on #3576
@mariusandra Do you have a sense of when 1.22.1 might be out?

[2021-03-15 19:18] Twixes commented on #3576
Hey! Given our release schedule we decided to include the fix with 1.23, which is coming out in a couple of days. `ASYNC_EVENT_ACTION_MAPPING` should work as a solution in the meantime.

[2021-03-15 21:06] paolodamico opened #3661 "Feature flag filters getting mixed up"
## Bug description

When updating the filters for a feature flag, those filters get mixed up with any other feature flag you open. See recording.

![2021-03-15 14 04 58](https://user-images.githubusercontent.com/5864173/111221316-9289ea80-8597-11eb-9845-8c17962c394a.gif)

## Expected behavior

When opening a feature flag, the proper filters should be set. Further, when adding a new flag, no filter

[2021-03-15 23:31] Twixes commented on #2794
I'll close this since it appears the original problem is not relevant anymore. A related but different problem should get its own issue.

[2021-03-15 23:31] #2794 closed

[2021-03-15 23:44] #3646 closed

[2021-03-16 00:07] Twixes commented on #3597
Passwords can be changed by instance admins (`User.is_staff`) in the Django admin interface. And of course there's the shell for those with direct instance access.
As for users, I don't think there's really a reliable way other than email, so we should make sure admins are well-guided. We do have this page: https://posthog.com/docs/configuring-posthog/email
What we could do is allow setting up ema

[2021-03-16 09:28] #3592 closed

[2021-03-16 09:56] macobo commented on #3644
Can confirm this happened as I launched a stack as well.

It seems that:
1. Plugin server started before migrations completed, hence the note on the missing table.
2. It failed in a way that did not kill the container or cause ECS to restart it.

Our CF template uses `bin/docker-worker` which launches plugin server in the background. Perhaps that's the cause of the issue?

[2021-03-16 15:53] yakkomajuri opened #3667 "Funnel Trends blank page: Invalid attempt to spread non-iterable instance"
## Bug description

First time I tried to use funnel trends:

https://user-images.githubusercontent.com/38760734/111339135-6e014180-866f-11eb-828b-ab4376366d9c.mov

Here's the error:

[code]

## Expected behavior

A line graph instead of a blank page.

## How to reproduce

1. Go to funnels
2. Select `user signed up` as the first step and `pageview contains posthog.com/docs` as the second
3. Conver

[2021-03-16 15:53] yakkomajuri commented on #3667
cc @kpthatsme given you wanted to release this

[2021-03-16 16:03] yakkomajuri opened #3668 "Filtering out test accounts not fully working?"
## Bug description

I created a funnel with `email contains @posthog.com` (made sure it was the user prop)

Then I turned on our filter for test accounts (`email does not contain @posthog.com`) and still got users.

## Expected behavior

Filter should work.

## How to reproduce

1. Create a funnel and add a filter `email contains @posthog.com`
2. Turn on `filter out test accounts`
3. There will st

[2021-03-16 16:04] yakkomajuri commented on #3656
Is this on `posthog.com` or have you reproduced elsewhere?

[2021-03-16 16:42] yakkomajuri opened #3671 "Too much dancing (Feedback)"
## Is your feature request related to a problem?

The dance of the dashboards doesn't really feel great to me:

https://user-images.githubusercontent.com/38760734/111346692-609b8580-8676-11eb-956f-55392d05c64c.mov

It's too much movement and it takes up a lot of the screen (so essentially the whole screen feels like it's moving)

## Describe the solution you'd like

Less dancing.

## Describe alte

[2021-03-16 17:04] paolodamico commented on #3671
Thanks for the feedback @yakkomajuri! By less dancing you mean slower animation or shorter distance ?

[2021-03-16 17:10] macobo commented on #3644
Update on this: The above is misleading, I got confused by Cloudformation log pagination.

The real issue seems to be that for the defaults (512MB memory) the plugin currently dies with error code 137, indicating a OOM error.

Bumping it to 1024MB works though. The memory usage seems to sit at around 62% after that. Note that for ECS, memory is shared between main app + plugin server + celery work

[2021-03-16 17:49] paolodamico commented on #2778
Here's what I'm thinking we could do for this (**requesting feedback**):
- [ ] Allow users to set a timezone for each project in settings.
- [ ] All graphs (insights, dashboards, etc.) would be loaded using this project timezone.
- [ ] Show an indicator in each query with a reminder on the timezone and config options.

<img width="638" alt="" src="https://user-images.githubusercontent.com/5864173/

[2021-03-16 18:25] macobo commented on #3644
This can be now closed, fresh installations should no longer fail due to memory issues.

@yakkomajuri if we have users upgrading on cloudformation and they have the default (super low) memory limits set they will have trouble with plugin-based ingestion due to the OOM error. Should we shout out they should update in the release notes?

[2021-03-16 18:25] #3644 closed

[2021-03-16 20:23] timgl commented on #3642
@prawnsalad Great. We were running this query every minute, now we are running it every hour so you might want to upgrade to the latest commit and try again.

[2021-03-16 20:42] prawnsalad opened #3676 "docker-compose should pin image versions"
## Bug description

When updating the containers in a docker-compose setup the containers can upgrade over major versions and break backwards compat. Eg. I wanted to update the posthog container but ran `docker-compose pull` which changed the postgres instance from version 12 to 13 - which then couldn't start due to the data not being backwards compat.

Pinning image versions such as `postgres:12-

[2021-03-16 20:45] prawnsalad commented on #3642
Awesome, I've updated and set `ASYNC_EVENT_PROPERTY_USAGE=1` to enable it again. The query running each minute would have overlapped causing them to run multiple at a time which shouldn't be an issue now. Leaving it running over night to see how it is tomorrow morning.

[2021-03-17 08:56] yakkomajuri commented on #3671
I personally don't like any wobbling, but I'd think a shorter range of motion would be the bigger thing, followed by a bit of the speed.

[2021-03-17 09:19] prawnsalad commented on #3642
@timgl all looking good for me since yesterday and with it enabled. Thanks!

[2021-03-17 11:37] timgl opened #3679 "Add more colours to bar chart"
## Bug description

If you break down by a value that has a lot of options (like screen height for example) some values end up being grey.

![image](https://user-images.githubusercontent.com/1727427/111461421-7c0d9b80-871d-11eb-9ce3-1e441faaf75c.png)

## Expected behavior

We should just have _more_ colours, or can even recycle the current colours.

## How to reproduce

1.
2.
3.

## Environment

-

[2021-03-17 14:01] #3328 closed

[2021-03-17 15:16] kpthatsme opened #3682 "Can't create annotation"
## Bug description
When clicking '+ Create Annotation' I'm shown a prompt to edit an annotation instead.

<img width="1172" alt="Screen Shot 2021-03-17 at 8 13 42 AM" src="https://user-images.githubusercontent.com/5965891/111491297-fbd53f00-86f8-11eb-9d85-7e73e30ae56d.png">

## Expected behavior
- I'd be prompted to create a new annotation

## How to reproduce

1. Go to the annotations tab
2. Clic

[2021-03-17 18:46] kpthatsme commented on #3671
Just used this today! I love that dashboards are default not in edit mode now.

Similar to yakko I feel like the motion is pretty distracting. I think both a reduction in speed + distance would help.

A few other thoughts:
- Do we need any animations? Maybe the modal with 'finish editing' is good enough
- If we want to keep an animation– perhaps we do it _once_ when the edit pencil is initially cl

[2021-03-17 19:32] macobo opened #6881 "Dead letter queue(s) for kafka"
Currently if Kafka fails to ack messages sent by the producer, these get lost.

It would be nice as fallbacks to have a couple of dead letter queues for messages which failed processing (e.g. exception thrown during plugins or (recursion) other kafka topics failed to ack).

[2021-03-17 19:56] paolodamico opened #3688 "Release 1.24.0 bis – 12 April 2021"
Context:
- One of the main questions of the board meeting was startups vs enterprises. Key piece of the puzzle for that is VPC.
- Some questionmarks around data consistency for clickhouse last week
- Two new starters (Buddy and Sam)

Support hero:
Paolo

VPC
- Wrap up full automation of the helm chart. Set it up so that when you deploy the stack clickhouse is automatically started and wired up to

[2021-03-17 19:57] paolodamico commented on #3688
- Get emails working. Re-enable the ingestion event reminder (https://github.com/PostHog/posthog-cloud/pull/94) & weekly email report.

[2021-03-17 21:49] kpthatsme opened #3690 "Dashboard refresh doesn't seem to do anything"
## Bug description

Clicking on the 'Refresh' button doesn't seem to do anything on a dashboard.

## Expected behavior

The dashboard would refresh all its charts and would show an updated 'Last updated' time

## How to reproduce

1. Go to a dashboard, such as [this](https://app.posthog.com/dashboard/2596)
2. Click 'Refresh' on the header
3. The 'Last Updated' time stays the same and no data appea

[2021-03-17 22:32] kpthatsme commented on #3682
fixed in https://github.com/PostHog/posthog/pull/3689, thanks @EDsCODE!

[2021-03-17 22:32] #3682 closed

[2021-03-18 01:37] sharon-john commented on #3589
## Further context ##

-  This is pertaining specifically to the number of breakdown values appearing on the Insights -> Trends -> breakdown values by cohort/properties, an example of this is shown below:
![image](https://user-images.githubusercontent.com/23110520/111559208-54362c00-874d-11eb-91f1-3c10b689b2ec.png)

- This is artificially limited to 20 primarily for performance. PostgreSQL is retr

[2021-03-18 05:03] paolodamico commented on #3636
I'm not really sure about the direction of this. In a general sense, I think this introduces more mental burden than the value it provides, we know how to communicate everywhere how these permissions work and introduce complexity to our users on now needing to figure out permissions, and how to manage dashboards. We're also not limiting any functionality based on roles just yet, which could prove

[2021-03-18 05:06] paolodamico commented on #3690
This is actually the problem reported in #3609, it does seem to be a bit more confusing than expected. Local refreshes did seem to work better. Could use some help fixing this, I'll add it to my to do for next week otherwise.

[2021-03-18 05:09] #3690 closed

[2021-03-18 10:40] #3642 closed

[2021-03-18 11:00] kappa90 opened #3692 "Session replay at 0.5x"
## Is your feature request related to a problem?

I'm trying to debug a user behavior in the sessions, but the pointer is moving too fast.

## Describe the solution you'd like

Play the session at 0.5x.

#### *Thank you* for your feature request – we love each and every one!

[2021-03-18 11:03] yakkomajuri commented on #3692
Thanks for opening! This makes sense to me.

[2021-03-18 11:03] yakkomajuri commented on #3692
Relevant change should be made to:

https://github.com/PostHog/posthog-react-rrweb-player

[2021-03-18 11:30] #3576 closed

[2021-03-18 12:59] andrewm4894 opened #3695 "Ability to enrich autocapture with specific rules"
## Is your feature request related to a problem?

Kind of - having to make lots of individual manual actions for specific autocapture events is annoying and takes away a bit from the magic of autocapture.

*Please describe.*

## Describe the solution you'd like

Current situation is i see this:

![image](https://user-images.githubusercontent.com/2178292/111628477-2baf4000-87e8-11eb-8c1f-e0a0a090fc

[2021-03-18 13:01] timgl commented on #3692
literally a one line change I think: https://github.com/PostHog/posthog-react-rrweb-player/blob/16d90133e0f4293ae5de0cbffb1a35aa0d990f90/src/index.tsx#L38

[2021-03-18 13:36] timgl commented on #3668
Dumping thoughts here as i have to do something else

[code]

This will still return a bunch of posthog.com emails, but if you switch it around like this:
[code]

it's correct.

[2021-03-18 14:14] yakkomajuri commented on #3692
Indeed that does seem to be the case - I just wondered about the mechanism we used for setting the speed but yeah I've looked into it now.

So I'll leave this here for a day to see if someone is interested in contributing! (@kappa90 ?)

Otherwise I can do it myself tomorrow.

[2021-03-18 14:23] yakkomajuri commented on #3695
Given that the use case is taking an event and doing some processing on it, it does smell like a plugin to me.

[2021-03-18 15:03] corywatilo commented on #3339
[Here's](https://www.figma.com/file/gQBj9YnNgD8YW4nBwCVLZf/PostHog-App?node-id=1829%3A0) the latest:

![image](https://user-images.githubusercontent.com/154479/111648090-6d84ba00-87d9-11eb-8f9c-2c655bb93b4b.png)

The fields are wrong, but you get the jist.

[2021-03-18 15:22] kappa90 commented on #3692
Sure, can't today but will try to do a pull request by the weekend, if it's not done already. Thanks!

[2021-03-18 16:40] paolodamico opened #3696 "Fully remove Moment.js"
## Is your feature request related to a problem?

Builds up on #3490. Fully remove Moment from the bundle (currently both AntD and chart.js depend on it). Probably what needs to happen is a Webpack adjustment.

## Describe the solution you'd like

Moment.js should not be included in PostHog's bundle.

#### *Thank you* for your feature request – we love each and every one!

[2021-03-18 17:49] #2676 closed

[2021-03-18 19:52] EDsCODE opened #3700 "Resizable table columns"
## Describe the solution you'd like
Resizable table columns so that you can view longer strings completely

## Additional context
![image](https://user-images.githubusercontent.com/13127476/111689033-e5ff7100-8801-11eb-8f6c-2f5a4c104ca8.png)

#### *Thank you* for your feature request – we love each and every one!

[2021-03-18 21:44] paolodamico commented on #3339
Some ideas/suggestions.

- What if we dropped the description? From "We manage...." and only keep the interested in self-hosting section?
- What about using the same button components as we do in the rest of the app?
- How about keeping the social icons at the bottom but we make the look a bit more like buttons? i.e. some intermediate prominence. I do think it'll be easier for users to sign up wit

[2021-03-19 03:07] corywatilo commented on #3339
The lines with the checkmarks are supposed to be reinforcement to users signing up. (Basically a UX best practice. See [Stripe's signup page](https://dashboard.stripe.com/register), though the do have a lot less text overall.) I'd be okay with pulling them if they're entirely offensive to our audience, but it was put there with _some_ intention. ;)

I'd strongly encourage us to use this button sty

[2021-03-19 09:11] Mentioum commented on #3609
Excellent - this is a big usability issue when training marketing people to use graphs.  Makes them not trust the data and regress to other tooling. <3

[2021-03-19 14:00] paolodamico commented on #3339
Thanks for the thoughtful review here @corywatilo!
- Played around a bit to see why it still felt too sales-y and I think simplifying the self-hosted section helped. Wdyt? @timgl thoughts too?
    <img width="810" alt="" src="https://user-images.githubusercontent.com/5864173/111790102-1802e880-887f-11eb-9da4-796254c8691d.png">
- I'll fully defer to you on the visuals of the button, 100% your call.

[2021-03-19 14:52] EDsCODE commented on #3339
RE: social logins. If we don't have features that are heavily reliant on data from the social logins, I don't think we should emphasize them. I'd even suggest reducing the amount of social login options available. I generally think those options usually confuse how the user enters the app. Also, since our app is a home base for people's data, the way to access it should be very direct and not rely

[2021-03-19 15:03] corywatilo commented on #3339
Context for having the VPC and open source options here: We're planning on killing the modal that opens when you click "Get started" on the marketing site. Since we will no longer have the 3 options (cloud, vpc, os), I thought it would still be important to include them here.

Obviously with the push toward Cloud, that's the reason we're essentially funneling people straight into Cloud signup, but

[2021-03-19 17:45] paolodamico commented on #3339
Thanks @corywatilo & @EDsCODE for the input.
- 👍  Re VPC & open source, makes sense. Will build it that way and we can try it out and adjust.
- 👍 Gave it more thought to the social login topics and I think you make a good point, let's try that out. We can measure results and iterate from there.
- 👍 Font-wise, yes, if it's an important visual element, we can include it just in this page. Could you

[2021-03-20 00:31] Mentioum opened #3710 "Action HTML Selector not filtering out events with matching 'id' selector"
## Bug description

When creating actions based on matching HTML selectors it seems to work just fine for classes but when using `id` it seems to not be matching events which one would expect.

Here is an example of a click event on an `a` tag which has an `id` of `spotify-link` in the detected code element inside PostHog:

![image](https://user-images.githubusercontent.com/748170/111853474-15ea69

[2021-03-20 12:33] Mentioum opened #3711 "Cannot type most notes on Dashboard graphs due to keyboard shortcut hijacking"
## Bug description
I appreciate the new keyboard shortcuts on dashboards etc (and I like the indicators on the buttons to get people used to them).  However when filling out notes on graphs the shortcuts hijack typing making it impossible to type notes on the dashboard which contain keyboard shortcut letters.  e.g:
I want to write `Podcast Release: {Guest Name}`
![image](https://user-images.github

[2021-03-20 15:10] corywatilo commented on #3339
Fonts are available [here](https://github.com/PostHog/posthog.com/tree/master/static/fonts).

`@font-face` code [here](https://github.com/PostHog/posthog.com/blob/master/src/components/Layout/Layout.scss)

[Here's](https://www.figma.com/file/gQBj9YnNgD8YW4nBwCVLZf/PostHog-App?node-id=1872%3A14892) a quick mobile mock.

Also @kpthatsme left a [comment](https://www.figma.com/file/gQBj9YnNgD8YW4nBwCV

[2021-03-21 14:19] thedeveloperr commented on #3298
@yakkomajuri can I send a PR for it ?

[2021-03-21 14:41] yakkomajuri commented on #3298
@thedeveloperr of course!

[2021-03-21 19:51] paolodamico commented on #3711
Hey @Mentioum! Our apologies for this, and thank you for the detailed bug report! PR is out with the fix, it should land pretty soon.

[2021-03-21 21:20] #3692 closed

[2021-03-22 01:31] paolodamico commented on #3339
Thanks @corywatilo, very helpful! Just to confirm, we are allowed to bundle this font too with PostHog FOSS, right? CC @piemets. FYI I'm only using the Medium version, as we're using Gosha Sans for titles.

Re large screens, agreed, think it's fairly straightforward, we can test this out on the built version.

@corywatilo one thing I need help with, seems I can't properly export the planet in svg

[2021-03-22 09:33] mariusandra commented on #3671
Some old context: this wibbly-wobbly was added mainly to make dashboard changes more apparent on mobile mode. The idea was to replicate the feel of the iOS homescreen, where you long-press to enable edit mode, then things start wiggling and you move them around, and then click "save" to stop. With changes to how editing works, this wobbling might no longer be necessary...

[2021-03-22 10:24] piemets commented on #3339
Yep that's right, our licence covers this.

[2021-03-22 15:20] Twixes commented on #2136
The situation is good enough now here. The flakiness has mostly moved to https://github.com/PostHog/plugin-server

[2021-03-22 15:20] #2136 closed

[2021-03-22 15:55] #3711 closed

[2021-03-22 16:23] paolodamico commented on #2984
Linking the doc from our discussion today

[2021-03-22 17:13] corywatilo commented on #3339
We can probably just forego Good Sans on this page for the time being.

I think we're good on the planet situation (discussion in Figma), but lmk if you still need anything here!

[2021-03-22 23:17] paolodamico commented on #2984
Alright, wireframes coming out of the oven. Please refer to the doc above for full context on the options, goal of this feature, persona, etc.

- Option 1: Full guided wizard (with optional _best practices_ templates add-on).
- Option 2: Subtle hand holding on normal flow.

### Option 1
Wireframes: [here](https://drive.google.com/file/d/1y47XOSk7-0fmiw5eZ-7TAe41wGYCBSDF/view?usp=sharing).
Can be q

[2021-03-23 01:16] avorio opened #3722 "Upgrade to 1.23.1 is not available"
I ran a standard upgrade from 1.22 just now using:

[code]

... but the system still says I'm on 1.23.0 and that the newest version is 1.23.**1**.

Was something mis-tagged somewhere?

[2021-03-23 05:17] mariusandra commented on #3722
Hey, indeed this was mis-tagged. It should be fine once [this](https://github.com/PostHog/posthog/pull/3723) is merged.

[2021-03-23 05:21] #3722 closed

[2021-03-23 08:11] wushaobo commented on #3710
I think your problem is due to duplicate id for elements, which the id selector should be unique across the whole DOM.

The deeper issue comes from how we use selectors to filter event accurately when the click event starts from any possible sub element of the target button/link/div.  I don't have a perfect answer either, for now.  The custom events captured in js code are accurate which depend on

[2021-03-23 10:39] #3632 closed

[2021-03-23 10:39] #3510 closed

[2021-03-23 10:53] macobo opened #3728 "Funnel query returns suspect results"
## Bug description

I'm trying to analyze conversion for funnels project using the following query:

![image](https://user-images.githubusercontent.com/148820/112135483-807efc00-8bd6-11eb-9d7d-99d3d2920e02.png)

However two things don't line up:
1. I see test users included in the output
2. The number of people who have finished the 2nd step does not match the people table, which shows fewer peopl

[2021-03-23 11:18] timgl commented on #3728
I'd suggest this is a duplicate of #3668

[2021-03-23 11:32] timgl commented on #2984
It feels like we could to the first wire from option 2 pretty easily. We can see if people like that way of presenting information and build on that (or whether they skip straight to the tabs in the top).

[2021-03-23 11:45] jamesefhawkins commented on #3551
Just a note - collaboration-focussed features = paid, creation-focussed features = free. @paolodamico - I'd be curious how you'd make this call here?

[2021-03-23 14:37] Mentioum commented on #3710
Spot on!  That makes a lot of sense.

If you don't mind could I ask a question about how you think it would be best to track multiple links.  Would you recommend using classes or does `autocapture` also capture `data-xyz="identifiers"`

[2021-03-23 15:50] mariusandra commented on #2759
Could this plugin solve the issue?

https://github.com/PostHog/first-time-event-tracker

[2021-03-23 16:17] Mentioum commented on #3710
Answered my own question here after help from @wushaobo.  Used data attributes and then filtered them using [data-ph="spotify"].  Worked fine in Action filters.

Didn't work in the full event list though (just hung loading).

[2021-03-23 16:17] #3710 closed

[2021-03-23 19:11] EDsCODE commented on #3728
Number doesn't match even without trying to filter test accounts. It could also be something where there's event data related to a number of users but somehow we weren't able to retrieve all of the person data for the table

[2021-03-23 19:14] paolodamico commented on #3551
Great point @jamesefhawkins forgot to consider that.

* Definitely the commenting thing that we'll introduce is 100% collaborative and will make it a premium feature.
* The general improvements on UX will apply for everyone.
* Sharing dashboards is definitely collaborative but we already had it as a free feature. Wondering if we should make it paid.
* Unsure about the dashboard history/version con

[2021-03-23 19:54] #2778 closed

[2021-03-23 21:16] #3148 closed

[2021-03-23 21:34] #1807 closed

[2021-03-23 21:34] #3661 closed

[2021-03-24 20:55] kpthatsme commented on #3728
another data point re: person counts, I was looking at a steps chart earlier and I saw a user repeated twice within a funnel step when clicking into it

[2021-03-24 20:58] weyert commented on #2759
Perfect! Thank you 🎉

[2021-03-24 20:58] #2759 closed

[2021-03-24 22:17] kpthatsme commented on #3667
This was fixed in https://github.com/PostHog/posthog/pull/3686, thanks to @EDsCODE!

[2021-03-24 22:17] #3667 closed

[2021-03-25 08:48] macobo commented on #3728
Weird - this query and others related seem to work for me now, both issues having disappeared.

[2021-03-25 09:41] macobo opened #3743 "Show cohorts person belongs to in user page"
## Is your feature request related to a problem?

I'm browsing user data in posthog and I'd like to figure out whether a user has correctly been added to a cohort

## Describe the solution you'd like

Show tab "cohorts" next to "properties" on people page.

## Describe alternatives you've considered

Going through all cohorts.

## Additional context

#### *Thank you* for your feature request – we

[2021-03-25 14:40] #3339 closed

[2021-03-25 15:24] #3743 closed

[2021-03-25 16:45] paolodamico opened #3746 "Iteration for hotkeys UI"
## Is your feature request related to a problem?
Following #3740 we could consider a different styling for showing hotkey actions.

**Example:** (and [context](https://github.com/PostHog/posthog/pull/3740#discussion_r601626806), [more context](https://github.com/PostHog/posthog/issues/2907#issuecomment-757859765))
![image](https://user-images.githubusercontent.com/5864173/112510427-a6c7a780-8d4e-1

[2021-03-25 17:02] Mentioum opened #3747 "Unable to Open Events Page - Cannot read property 'distinct_id'"
## Bug description

The /events page shows a white screen when navigating to it.

The console shows multiple of the following error:
[code]

I'm not sure how it's possible that I could have got an event into the database without a distinct ID as I'm assuming the API would reject any submissions should it be blank / empty.

## Expected behavior

I would see a list of all of the events

## How to re

[2021-03-25 17:26] paolodamico commented on #3747
Thanks for reporting @Mentioum! Fix coming out right now.

[2021-03-25 17:28] Mentioum commented on #3747
Could I ask what happened?

[2021-03-25 17:30] paolodamico commented on #3747
Absolutely! We merged a PR recently to show more useful information about the person to whom the event is related, but we had some stale code when trying to fetch the person's distinct ID. We haven't converted the events module to Typescript which would've prevented this.

[2021-03-25 18:04] #2907 closed

[2021-03-25 18:05] #3747 closed

[2021-03-25 18:29] Mentioum commented on #3747
This is also happening on the Actions page (when editing an action). @paolodamico  I'd opena  new issue but this might actually be easier with the given context above.

[2021-03-25 18:31] Mentioum commented on #3747
This is also happening on the 'edit action' page.  I'd make a new issue but it's like the same thing. @paolodamico

[2021-03-25 18:34] Mentioum opened #3749 "Missing distinct_id on 'edit action' pages"
This is also still happening on some 'edit action' pages. @paolodamico

_Originally posted by @Mentioum in https://github.com/PostHog/posthog/issues/3747#issuecomment-807244690_

[2021-03-25 19:07] #3749 closed

[2021-03-25 19:46] MrSaints opened #3751 "Display "last calculated at" in action events table"
## Is your feature request related to a problem?

Currently, when you click into action, you are brought to the "Editing action" page which includes a table of events related to the action.

These events are calculated in background if you are using Postgresql, and as such, the table of events may not always be the most up-to-date.

Normally, the lag is about 5 minutes thanks to the default `ACTIO

[2021-03-25 20:31] MrSaints opened #3753 "Re-calculating action events can be a costly operation"
## In what situation are you experiencing subpar performance?

Occasionally, we have been experiencing severe slowness in our self-hosted PostHog deployment. Though our database is not under heavy load (<30%), querying it seems to take longer than usual during these periods. When we examined ongoing database sessions during these periods, we noticed quite a few long-running queries, example:

[cod

[2021-03-26 01:15] swong194 commented on #3679
Hey! Can I take a stab at this?

[2021-03-26 01:38] paolodamico commented on #3679
Sure @swong194 go for it! Tagging @corywatilo who can provide more context on the colors to use here.

[2021-03-26 02:36] paolodamico opened #3759 "Preflight is failing - Internal server error"
## Bug description

There seems to be an issue with `get_available_timezones_with_offsets`, not sure at what point it broke.

[code]

## Expected behavior
Preflight should work and the timezone list be returned correctly.

## How to reproduce

1. Just check `/_preflight` request

## Environment

- [X] PostHog Cloud
- [ ] self-hosted PostHog, version/commit: _please provide_

## Additional context

[2021-03-26 03:17] #3759 closed

[2021-03-26 08:00] macobo commented on #3753
Thanks for the in-depth analysis. Out of curiosity, how many events/month do you ingest (can see total events rows from /instance/status route)?

[2021-03-26 08:04] macobo opened #3762 "Create a plugin to send event data to a different posthog instance"
## Is your feature request related to a problem?

When doing "release testing" one thing we have constantly struggled with is testing how the changes perform on a larger self-hosted instance.

Let's fix that!

## Describe the solution you'd like

Create a plugin which submits all events for our team to a postgres-based deployment. If the scale is still too small, add functionality to amplify the w

[2021-03-26 08:30] macobo opened #3764 "Introduce plugins into the onboarding flow"
## Is your feature request related to a problem?

We've rolled out plugins on cloud but not many people have seen the page and even fewer installed any plugins.

Let's change that.

## Describe the solution you'd like

Currently the 2nd step of the new onboarding looks like this currently:

![image](https://user-images.githubusercontent.com/148820/112603505-c7aafe00-8e1d-11eb-9e84-32f93b8b2228.png

[2021-03-26 08:43] macobo commented on #3671
I was also quite distracted by it. Another option do the "dance" once (e.g. for 0.3s) and stop afterwards, perhaps even on only the first item.

The wiggle does bring your attention to the fact that these things are now "more" interactable.

[2021-03-26 09:27] mariusandra opened #6887 "Support all npm packages"
We had an internal discussion about this, this is a bit of a summary.

Currently we just whitelist some packages plugin authors can use, but it might be very useful for plugin authors to just `import { anything } from 'anywhere'` and use any npm package.

Technically the problem is that the plugin server is a NodeJS app, not a frontend JS app. For the latter, you usually download a package (like `

[2021-03-26 09:38] macobo opened #3765 "Interconnect more analytics features"
## Is your feature request related to a problem?

We have quite a few features which directly relate to analytics
1. Insights
  a. Trends
  b. Funnels
  c. ...
2. Sessions
3. Cohorts
4. People
5. Events
6. Actions
7. Feature flags

Quite a few of them are already directly interconnected:
1. You can jump from _most_ trend graphs to sessions
2. We list events, sessions and now cohorts in persons pag

[2021-03-26 09:40] mariusandra commented on #3695
I've created a PR #3761 that's one step in this direction. It would allow you to whitelist `data-*` attributes (even with a wildcard) and when those are seen, they're automatically suggested when creating actions.

That PR doesn't tackle what this issue asks, but the next step would be to also show the whitelisted data-* attributes in the events list somehow.

[2021-03-26 09:45] macobo commented on #3638
Just to understand from the users perspective: What does this feature gain them, why is it important to analyze?

[2021-03-26 09:55] macobo commented on #3004
We now have at least 1 sample session recording when you sign up in the new onboarding flow.

[2021-03-26 09:57] #3349 closed

[2021-03-26 09:58] macobo commented on #3472
Related: https://github.com/PostHog/posthog/issues/3765

[2021-03-26 09:59] MrSaints commented on #3753
@macobo

This is a relatively new deployment so this is roughly for the past 3-4 days.

[code]

[2021-03-26 10:00] timgl commented on #3638
The specific stats someone was interested in was seeing the percentage of DAUs of MAU so you get a sense of what percentage of users come back every day (using formulas)

[2021-03-26 10:00] macobo commented on #3688
### General priorities

We will have two new people starting the next iteration. Would be great to hand them some high-impact projects that get them familiar with different parts of the product.

My suggestions:
- Emails (as suggested by paolo)
- Perhaps https://github.com/PostHog/posthog/issues/3765 - interconnect the app more?

### Karl

After last weeks plugins/ingestion are in a better place t

[2021-03-26 10:50] andrewm4894 commented on #3695
cool - you can see some of the (admittedly fairly crazy) logic we have here: https://github.com/netdata/posthog-netdata-event-processing/blob/main/process_elements.js

I'm hoping to clean this up and refactor over time.

A lot of it is looking for class attributes anywhere in the elements (with order from posthog being priority). Similar for id, href, and some other more specific ones.

[2021-03-26 11:24] MrSaints commented on #3753
On a related note, we are seeing hourly spikes in our database. It may not be related to any of this, and we will continue to investigate to find the root cause.

![Screenshot 2021-03-26 at 11 22 57 AM](https://user-images.githubusercontent.com/68859/112624649-d1386400-8e25-11eb-9038-4719c800dc74.png)

[2021-03-26 12:27] mariusandra commented on #3762
Related: https://github.com/PostHog/plugin-repository/issues/11

[2021-03-26 12:38] mariusandra commented on #3688
If I'll be working on Plugins, then these are the most important things to get done:

1. Stabilise the plugin API. https://github.com/PostHog/plugin-server/issues/242 - imports, meta (https://github.com/PostHog/plugin-server/pull/274), types, version requirements (https://github.com/PostHog/plugin-server/issues/12), etc
2. Action mapping in the plugin server https://github.com/PostHog/plugin-serve

[2021-03-26 13:36] timgl commented on #2008
Slightly more detail in this newer ticket: #3638

[2021-03-26 13:36] #2008 closed

[2021-03-26 13:37] timgl commented on #1550
We have part one of this which is Formulas, we just need #3638

[2021-03-26 13:37] #1550 closed

[2021-03-26 14:10] corywatilo commented on #3679
Thanks @swong194!

[Colorbrewer 2.0](https://colorbrewer2.org/#type=qualitative&scheme=Paired&n=12) has a solid set of 12 unique colors that should provide good differentiation between each. (Will that be enough?)

It will be good to see what these look like in use. We'd probably want to start with the colors at the top and work our way down (leaving brown at the bottom as a last resort).

![image

[2021-03-26 14:14] paolodamico commented on #3423
This has been released, closing.

[2021-03-26 14:14] #3423 closed

[2021-03-26 14:18] #3531 closed

[2021-03-26 14:21] EDsCODE commented on #3688
Misc issues:
- clickhouse data integrity issues
- funnel query suspect results #3728
- filter test accounts #3668

Dashboards:
- refresh problems #3609
- dashboard version history #3551
- dashboard insight presentation view #3551

[2021-03-26 15:01] timgl commented on #3688
I'm going to take myself out of availability. I didn't manage to allocate enough time to programming this sprint to be productive and with 2 new starters next week I don't think that'll improve.

Core analytics:
Some parity stuff:
- Trailing DAU/MAU/WAU (requested by beeperhq and two other tickets): https://github.com/PostHog/posthog/issues/3638
- Roll out formulas to everyone
- Figure out some di

[2021-03-26 15:15] paolodamico commented on #3746
#3757 toned hotkeys down a bit, curious to hear people's thoughts on whether we should go a step further as proposed above.

[2021-03-26 15:42] Twixes commented on #3688
Myself:

- Plugin logs (#3482) (got dropped this sprint because of a rework of GeoIP jumping in its place - which did ship https://github.com/PostHog/plugin-server/pull/247)
- Remove plugins opt-in behavior (#3557) - but possibly still keeping them as beta?
- Ship "a member joined your organization" email (#3509)

And then happy to work on take on some stuff listed by people above.

[2021-03-26 16:00] kpthatsme commented on #3688
For me this sprint on the product side–

I'm going to be focused on a few things:
- Helping folks get in-flight experiments written up and resolved - thanks @paolodamico for helping push this forward!
- Do some digging around cloud stability and its impact on business metrics
- Work w/ you all to understand why this ingestion dip occurred (likely an email issue) and make sure we get back to where

[2021-03-26 16:25] fuziontech commented on #3688
For me on this sprint:

VPC VPC VPC:
- Wrap up full automation of the helm chart. Set it up so that when you deploy the stack clickhouse is automatically started and wired up to our app in one step. This will be required for a one click deploy using cloudformation using EKS as well as GKE on GCP later
- Push for GCP Partner program (application submitted, there will probably be back and forth on R

[2021-03-26 16:56] timgl commented on #3622
Retrospective:

Eric
- First week lots of plugin issues
- Second week lots of self hosted issues (lots of memory issues)
- Action recalc

Paolo
- Got through everything by prioritising well
- Spend 90% of my time coding, will balance that more this week

Tim
- Too busy/ill to get programming work done
- Taking myself off the rotation

Karl
- Happy about past two weeks: performance issues & session

[2021-03-26 18:29] timgl commented on #1505
Closing in favour of https://github.com/PostHog/plugin-repository/issues/13

[2021-03-26 18:29] #1505 closed

[2021-03-26 18:33] kpthatsme commented on #3764
@macobo I think this looks pretty good and this feels like a natural place to put a plugin step.

Assuming the main goal is to drive plugin awareness, we could instead add a jewel/notification-like thing to the plugins tab on the main nav menu. This jewel would indicate 'newness' and would go away for users when they click in to the feature.

A benefit of this:
- We could extend it out to other ar

[2021-03-26 18:50] kpthatsme commented on #3765
Yes, agreed with basically the entire list – If I had to pick a couple as a start- cohorts from funnel trends + the ability to go between trends --> funnel seamlessly would be massive value adds.

[2021-03-26 19:05] kpthatsme commented on #3679
I think we're going to want at least 20 colors

[This stack exchange post](https://graphicdesign.stackexchange.com/a/3815) has a bunch of options that look pretty promising. Out of those, this [20 color set](https://sashamaps.net/docs/resources/20-colors/) seems straightforward to use.

If we want more colors there's a 26 set in that same link or this [generator](https://medialab.github.io/iwanthu

[2021-03-26 19:07] joesaunderson opened #3770 "InnerText censoring option"
## Is your feature request related to a problem?

As a business, we have sensitive information on our platform that we cannot send to other platforms.

## Describe the solution you'd like

An option to turn off innerText collection in autocapture. We found that Pendo and Heap have this option.

It would also be nice to disable collection of certain attributes i.e.

[code]

## Describe alternatives

[2021-03-26 20:10] kpthatsme commented on #3765
Want to add one more thing to your list- the ability to add filters to events on retention would be really powerful.

This would definitely save tons of time as its one of those things where you _need_ historical data – right now there is a workaround possible by creating an action but if it's easy to do for the chart it would be good.

[2021-03-27 00:56] lharress opened #3773 "Forgot password link goes to the wrong place"
## Bug description

The forgot password link goes to the wrong location for self hosted.

## Expected behaviour

It should link to the forgot password page for the current domain.

## How to reproduce

1. Go to the login page of any self hosted Posthog instance
2. Click forgot password
3. Note the URL is now https://app.posthog.com/accounts/password_reset/

## Environment

- [ ] PostHog Cloud
- [x

[2021-03-27 19:09] macobo opened #6880 "Immediate feedback for webhook changes"
We introduced team caching in https://github.com/PostHog/plugin-server/pull/271. A side-effect of it is that it will take ~30 seconds for plugin-server to become aware that it should be processing webhooks.

This can be done smarter - e.g. by resetting the cache whenever teams update webhooks and notifying via redis pubsub.

[2021-03-28 19:35] #3773 closed

[2021-03-28 19:36] paolodamico commented on #3773
Thanks for the detailed report @lharress, fix has been merged and should be included in the next release.

[2021-03-29 02:45] EDsCODE commented on #3765
(1) partially is behind the `save-cohort-on-modal` this flag just needs some analysis and can be rolled out. It only works for trends/stickiness so still does need to be expanded

[2021-03-29 14:03] paolodamico opened #3783 "Improve the fresh installation experience on self-hosted (pre-onboarding)"
Currently when a user fresh installs PostHog, their path is (preflight -> signup -> personalization/ingestion). The problem we have today is that the visuals on these pages don't play very well together (i.e. it doesn't feel like a consistent & progressive experience).

One small thing we could do is swap the signup's UI to the login's UI (sky & mountains) if on self-hosted, which seem to match be

[2021-03-29 14:46] paolodamico opened #3784 "Set `is_identified` on person when person is identified using `$set`"
## Bug description

We support setting user properties through `$set` on events (see _Setting user properties via an event_ on [Javascript integration](https://posthog.com/docs/integrations/js-integration)). The problem is that if you identify a user using this method (e.g. setting an email address), we don't update the person's `is_identified` property (see [relevant source code](https://github.c

[2021-03-29 15:09] shogunpurple opened #3785 "opt_out functionality for posthog-node"
## Is your feature request related to a problem?

Nope

## Describe the solution you'd like

`opt_out` functionality for posthog-node. This would allow CLIs etc to allow certain users to opt out of analytics.

## Describe alternatives you've considered
Right now we are just storing some data locally to show that the user has opted out and avoid calling the client altogether.

## Additional context

[2021-03-29 18:43] mariusandra commented on #3784
You can call `.identify` with `$set` and `$set_once` (see "Identifying Users" in [Javascript integration](https://posthog.com/docs/integrations/js-integration)). So the question is quite simple: if you want your user identified, call `.identify`. if not, use `set` or `set_once` directly :)

[2021-03-30 07:54] akbansa commented on #3409
👍  for this!

[2021-03-30 09:28] corywatilo opened #3798 "Link logo to homepage in authentication views"
## Is your feature request related to a problem?

On signup, login or reset password screens, I'd like to be able to click the logo to visit the homepage.

![image](https://user-images.githubusercontent.com/154479/112966828-97fb3f00-9118-11eb-86a0-f99afd810c09.png)

## Describe the solution you'd like

Link it to homepage

[2021-03-30 09:33] corywatilo opened #3799 "Text is very light"
## Bug description

The `text-muted` class feels a little light on the app's light gray background, especially when contrasted with the link color.

![image](https://user-images.githubusercontent.com/154479/112967267-18ba3b00-9119-11eb-93e6-b647110f0a8d.png)

I'd either suggest not using this class on the gray background, or changing the `text-muted` color altogether if we're going to continue usi

[2021-03-30 09:42] corywatilo opened #3800 "Include localhost:3000 as excluded URL by default"
## Is your feature request related to a problem?

The default set of excluded URLs miss a common Rails URL: `localhost:3000`

![image](https://user-images.githubusercontent.com/154479/112968127-faa10a80-9119-11eb-9712-a595e9298a93.png)

## Describe the solution you'd like

- [ ] Include another default Rails URL: `localhost:3000`

[2021-03-30 09:54] corywatilo opened #3801 "Test users filters break when adding new filter"
## Bug description

When I finish typing another URL to exclude and hit `Return`, the previous default filters are lost. Remnants of only empty chips are left in their place.

![image](https://user-images.githubusercontent.com/154479/112970029-c890a800-911b-11eb-99a3-484a95054a57.png)

**Demo:**
https://www.loom.com/share/d7df3d5a0fda49d499451e75777af5ed

## Expected behavior

Retain the existing

[2021-03-30 11:18] yakkomajuri commented on #3770
Thanks for this!

This is something for the `posthog-js` repo - I can take a look at it later this week.

@posthog-bot please add @joesaunderson for discussion

[2021-03-30 11:19] yakkomajuri commented on #3770
Oops, thanks for the list!

@posthog-bot please add @joesaunderson for ideas

[2021-03-30 12:19] lharress commented on #3770
@yakkomajuri I'd be keen to attempt this, would like to get more familiar with `posthog-js` anyway. This functionality is currently a blocker for us (I work with Joe) in adopting Posthog.

[2021-03-30 13:02] yakkomajuri commented on #3770
Hey @lharress ! So just to dig a bit deeper in here - do you have two blockers:

- You need to use autocapture
- You need autocapture to not capture input text

?

The reason I ask is because PostHog can be used without autocapture too - although this feature request makes perfect sense and I'll be looking into it.

[2021-03-30 13:06] buwilliams commented on #3765
Looks like we need an overall approach plus specific implementations on each related feature of the app. I don't feel I know enough about the overall mental model of PostHog to suggest an overall approach yet. You guys have any suggestions for how we could organize this work? @macobo

[2021-03-30 13:12] macobo commented on #3765
I think it's best to approach this case-by-case for now and unify as we have more context on the how.

I suggest picking 1-2 to start and going from there, feel free to take full reign, I just dumped all the context I had into the issue post for the larger idea/feature. @paolodamico and @EDsCODE are probably able to help design- and implementationwise :)

[2021-03-30 13:47] EDsCODE commented on #3765
I would suggest tackling (2) to start. You can take a look at how we've implemented the logic for clicking on a datapoint for guidance and apply that to the necessary charts. Specifically in `posthog/api/person.py` you'll find several endpoints such as `stickiness` `retention` `lifecycle` that contain the logic for returning people when you click into a datapoint on the respective graphs.

Note: T

[2021-03-30 14:49] yakkomajuri commented on #3770
I understand that, but we don't actually capture `innerText` anywhere:

https://github.com/PostHog/posthog-js/search?q=innerText

We only capture `value` on elements that have it. The PR gets rid of that

[2021-03-30 14:50] yakkomajuri commented on #3770
Actually, now that I think about it, we might be sending that at some stage, I'll take a look.

[2021-03-30 14:54] yakkomajuri commented on #3770
Yeah I think I know where my confusion came from. I'll look into this.

[2021-03-30 14:58] yakkomajuri commented on #3770
Ah yup, I'll fix this soon - Sorry for the misunderstanding on my part. It's just that we don't actually capture `innerText` anywhere, so I thought you were getting inputs captured.

However, what we capture is `textContent` (very similar), so I'll fix that up for ya!

https://github.com/PostHog/posthog-js/search?q=innerText

[2021-03-30 15:11] lharress commented on #3770
Sorry! Should have been more clear, `textContent` masking is what we are after.

[2021-03-30 15:14] yakkomajuri commented on #3770
Wasn't your fault! I was narrow-minded here.

[2021-03-30 15:45] EDsCODE commented on #3728
Large amount of this was resolved after @fuziontech redid the person_distinct_id table. Will close for now but monitor and reopen if necessary

[2021-03-30 15:45] #3728 closed

[2021-03-30 18:13] kpthatsme commented on #3784
@paolodamico I agree with the confusion around this and like your suggestion of automatically identifying any users that have an identity property set.

I think it's confusing that we can send special identification properties (e.g. email) that show up in the person tab but then still show the user as anonymous. I also think the expected behavior based on other products would be for this user to s

[2021-03-30 19:43] zzh8829 opened #3819 "Posthog freezes with no sign of error"
## Bug description

Posthog freeze with no sign of error. Logs and metrics all look normal but requests are hanging.

## Expected behavior

## How to reproduce

1. wait long enough posthog will freeze
2.
3.

## Environment

- [ ] PostHog Cloud
- [x] self-hosted PostHog, version/commit: docker:latest

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2021-03-30 19:58] MrSaints commented on #1295
Apologies for bumping a pretty old issue but totally agree with:

If my understanding is correct, most of the insights are executed in foreground, and this can block the server, essentially taking it offline. For this reason, we've actually opted to serve a separate web deployment / service purely for ingestion.

I'm wondering if this can be moved to background or as already mentioned, have a way

[2021-03-30 21:57] #3798 closed

[2021-03-30 22:29] paolodamico opened #3822 "List of users' last login"
## Is your feature request related to a problem?

As a user I would like to know if my end-users are logging in and using my app/website (reported by customer).

## Describe the solution you'd like

I'd like to be able to see a list of users (possibly broken down by a property) with details on when the user was last seen.

## Describe alternatives you've considered

See the workaround referenced b

[2021-03-30 23:49] paolodamico commented on #3671
Thanks everyone for all the feedback! Took a run at the options discussed here.
1. Here's what less travel distance (i.e. less wobbly looks like).
![image](https://user-images.githubusercontent.com/5864173/113070277-1090e880-9177-11eb-8460-71606416a9c0.gif)

2. Tried the option on bouncing a little bit and then staying static, but it seems more confusing.

I would either go with 1) or 3) removing

[2021-03-31 00:15] buwilliams commented on #3765
I took a first pass at cohorts for the Trends Bar Chart #3825.

[2021-03-31 09:15] yakkomajuri commented on #3784
I think this has been exacerbated by the new persons page approach to it - so we could consider a different UI approach.

Currently we get stuff like `Anonymous user l.com` and `Anonymous user thog`

[2021-03-31 23:00] anandsourabh opened #3831 "ReplyError: MOVED when working with Elasticache for Redis"
Hi All,

I am trying to get my posthog setup going with AWS Elasticache for Redis.

This is my docker-compose file:

services:
web:
container_name: posthog_web
environment:
IS_DOCKER: 'true'
DATABASE_URL: postgres://user:password@host:port/db
REDIS_URL: rediss://:auth_token@clustercfg.<...>:6379?ssl_cert_reqs=none
SECRET_KEY: 7e12beebe6c46b3f23f46448d89741aa18012c5b9b673f0e2cb5f5bba0f17148
DISABLE

[2021-04-01 01:10] paolodamico commented on #3831
Hey @anandsourabh! Sorry that you're running into this issue, let us check internally and get back to you.

[2021-04-01 02:50] wushaobo commented on #3710
@Mentioum  Sorry for getting back late to you.
The event list cannot be filtered by either selector or custom event but the properties of event. The action is the right place for filtering / summarizing atom events.
There is another issue of posthog which suggesting to support customize event name in the event list, which now is hard to read.

[2021-04-01 07:40] gempain opened #3836 "Set IS_DOCKER to true by default in Docker image"
## Is your feature request related to a problem?

Currently, when running Posthog with Docker, we have to set `IS_DOCKER` to `true` in the environment variables. Wouldn't it be possible to set this by default in the [Dockerfile](https://github.com/PostHog/posthog/blob/master/production.Dockerfile) ?

## Describe the solution you'd like

Update the production Dockerfile:

[code]

[2021-04-01 13:18] timgl commented on #3819
@zzh8829 Thanks for raising this. Would you mind elaborating a little bit?

- Is it the interface that is freezing (ie you can't click anything anymore) or is it queries that are timing out?
- What browser are you on?
- What page are you on when it freezes?

Thanks!

[2021-04-01 13:19] timgl commented on #3800
Closed

[2021-04-01 13:19] #3800 closed

[2021-04-01 13:58] Twixes commented on #3671
IMO we could do without the wobbling effect, since there's "Dashboard edit mode" floating to indicate this pretty clearly. Maybe we could just edit the instruction from "Tap below when finished" (which is pretty obvious, there are two "Finish editing" buttons) to "Drag items to move them around. Grab sides and corners to resize."?

[2021-04-01 14:07] timgl commented on #3696
I'm 99% this is actually complete, I can't find it in any of the build bundles.

[2021-04-01 14:11] #3696 closed

[2021-04-01 14:16] Twixes commented on #1799
Hey! This is not relevant anymore, as the `preview` container has stopped being viable and has been removed.

[2021-04-01 14:16] #1799 closed

[2021-04-01 15:10] #3836 closed

[2021-04-01 15:11] Twixes commented on #3836
Hey @gempain! We've looked into this and noticed that `IS_DOCKER` isn't actually used anywhere, so we removed it altogether. :)

[2021-04-01 15:32] gempain commented on #3836
Aw, okay, that's good to know, thanks a lot !

[2021-04-01 16:10] Twixes commented on #3753
This should now be alleviated (to a degree) by #3767.

[2021-04-01 16:45] zzh8829 commented on #3819
Hello, so by freezing I mean the requests to posthog will timeout and won't return anything. Don't think it's related to the browser since we tried making api call, curl, and opening posthog UI directly none of them work. Everything returns normal if we restart our posthog instance, there is no error log or anything obvious like that.

[2021-04-01 16:47] zzh8829 commented on #3819
here is a screenshot of the system status page if that helps
![image](https://user-images.githubusercontent.com/2136136/113327014-4648e500-92cf-11eb-8736-76defe961cd1.png)

[2021-04-01 16:48] timgl commented on #3819
That's helpful thanks. How are you deploying posthog? docker-compose?

[2021-04-01 17:00] Twixes commented on #3783
I think the signup page is pretty much fine as is UX-wise, but preflight and personalization stand out A LOT from the rest of PostHog because of how plain and unstructured they are (e.g. personalization takes up the whole width of the screen). So these parts will definitely need a rework.

[2021-04-01 17:08] #3799 closed

[2021-04-01 17:14] Twixes commented on #3746
Actually I think the approach that is live now is pretty clear and not too intrusive, so I propose closing this.

[2021-04-01 17:46] Twixes opened #3848 "Feature flags with neither rollout % nor filters say they match all users but match none"
## Bug description

This is what a default feature flag looks like:
<img width="577" alt="empty feature flag" src="https://user-images.githubusercontent.com/4550621/113333154-63f36a00-9322-11eb-8fb0-71b0cd865181.png">
It has no rollout percentage specified, nor filters, so it says "Rolling out to 100% of users". However I've experienced that in fact in this situation the flag is rolled out to *nob

[2021-04-01 17:49] Twixes commented on #3831
Hello @anandsourabh! Looks like you opened discussion #3830 first, so I'll close this and we'll resolve the problem there.

[2021-04-01 17:49] #3831 closed

[2021-04-01 18:15] Twixes commented on #3004
Is this closable in this case?

[2021-04-01 19:09] EDsCODE commented on #3589
#3782 implements a paginated solution for now

[2021-04-01 20:17] #3746 closed

[2021-04-01 20:19] paolodamico commented on #3848
Yes, noticed this a few days ago and there's already a PR out for this #3745. Need to make some adjustments before merging.

[2021-04-01 20:49] lharress commented on #3773
Thanks!

[2021-04-01 21:43] zzh8829 commented on #3819
We deployed it using docker container on https://zeet.co the setup is pretty standard with IS_DOCKER=true and DISABLE_SECURE_SSL_REDIREC=true since it's behind a reverse proxy

[2021-04-01 22:40] paolodamico commented on #3819
Hey @zzh8829! Have you set up the proxy config on your instance (i.e. `IS_BEHIND_PROXY` and `TRUSTED_PROXIES`)? https://posthog.com/docs/configuring-posthog/running-behind-proxy

Another thing that would be helpful to try is if you can reach the PostHog app directly from the container using a curl command or similar tool, that way we can narrow down if the problem is with the PostHog app or some o

[2021-04-01 22:43] paolodamico commented on #3004
I think it's still worth showing the sample session recording without you having to change to the demo project, so I would still keep this around. Not everyone will have the demo project and it won't be very intuitive to go look for it there.

[2021-04-02 01:07] paolodamico commented on #3710
Thanks for the help here @wushaobo!

@posthog-bot please add @wushaobo for question.

[2021-04-02 01:13] paolodamico commented on #3784
My R$0.02 based on how this has evolved since #3848. I think it's actually a good thing that the new UI is bringing this issue up. Makes it very clear if you're missing something in your integration. Otherwise, this could lead to wrong metrics where you rely on the `is_identified` property. I suggest we keep this issue up for improving both the in product docs (I'm tackling this) and the general d

[2021-04-02 01:44] sentry-io[bot] opened #3858 "Pie charts broken - TypeError: Cannot read property 'sort' of undefined"
Sentry Issue: [POSTHOG-2KP](https://sentry.io/organizations/posthog/issues/2312257355/?referrer=github_integration)

[code]

[2021-04-02 10:20] Twixes commented on #3636
I agree that version control is a far more useful idea, so I'll leave this issue open as an extra thing to think about, but let's not tackle it now.

[2021-04-02 14:51] #3858 closed

[2021-04-02 14:52] boldtrn commented on #3819
Just wanted to add that I face the same issue. Every few days my Posthog instance goes down. Looking at the processes it is still running and I can also see DB queries happening.

I haven't tried accessing it locally yet. I also use the Docker container self-hosted.

I have set IS_BEHIND_PROXY. The issue occurs since 1.23.0 or 1.23.1.

[2021-04-02 17:05] #3525 closed

[2021-04-02 18:37] K1N5L4Y3R commented on #149
This is a very useful feature. Would you consider somehow using rrweb's [Real-time Replay (Live Mode)](https://github.com/rrweb-io/rrweb/blob/master/docs/recipes/live-mode.md) so we can have a Live View of our users' sessions?

[2021-04-02 23:40] #3751 closed

[2021-04-03 16:31] boldtrn commented on #3819
Ok so this just happened again for my instance, here are some logs, in case this helps:

[code]

[code]

When I try to connect locally on the server to the docker container:
[code]

[2021-04-03 16:45] boldtrn commented on #3819
Not sure if it helps, but when Posthog goes down I see a spike in file usage (Friday afternoon and Saturday morning):

![Screenshot 2021-04-03 at 18 43 14](https://user-images.githubusercontent.com/1553525/113485150-8a451100-94ac-11eb-9062-e1971cf03cd2.png)

[2021-04-03 17:12] zzh8829 commented on #3819
we also see the same database key violation very often don’t no if it’s related to this freezing issue tho.

also same with boldtrn i do not believe this has anything to do with proxy, it appears that the container just stops accepting requests

[2021-04-03 21:28] allan-simon commented on #149
@jamesefhawkins  I'm soon to start reusing posthog for my new company, and definitely having this feature will be a huge plus against falling into the darkside of hotjar etc.  , thanks a lot

[2021-04-04 11:06] wushaobo commented on #3710
Awesome!  Thank you @paolodamico .

[2021-04-05 00:22] adrienbrault commented on #1099
I can recommend the approach taken by https://github.com/home-assistant/core with "Visual Studio Code + devcontainer": https://developers.home-assistant.io/docs/development_environment/#developing-with-visual-studio-code--devcontainer .

It was really simple and quick to get a local environment running, with the debugger working.

[2021-04-05 10:44] #3599 closed

[2021-04-05 10:59] yakkomajuri opened #3868 "Redirect for authenticated users is not smooth"
## Bug description

Going to app.posthog.com gives me the login screen for a significant amount of time before taking me over to `/insights`:

https://user-images.githubusercontent.com/38760734/113567105-7d840280-95fd-11eb-9327-6e07db45c985.mov

## Expected behavior

A lot less flashing, either with better routing, or by adding a loader while we make a decision.

## How to reproduce

1. Go to app.

[2021-04-06 00:39] anandvc commented on #1174
+1 for Expo support with autocapture/session-recordings from my team's side as well.

[2021-04-06 01:01] paolodamico commented on #3819
Hey @boldtrn! Hmm what seems to be going on is that your instance gets under some heavy load and then logically takes time to respond (probably up to the point of timeouts). Based on the pattern, it could be that you have a spike in traffic periodically or you do a lot of querying. Does this ring any bells?

Do you have any metrics breakdown on memory / CPU usage on your web/worker/plugins resourc

[2021-04-06 01:05] kpthatsme opened #3877 "Funnel conversion rate appears to change, even after the window has closed."
## Bug description

This morning (Apr 5 21) I ran [this chart ](https://app.posthog.com/insights?insight=FUNNELS&target_entity=%7B%22id%22%3A4912%2C%22math%22%3Anull%2C%22name%22%3Anull%2C%22type%22%3A%22actions%22%2C%22order%22%3Anull%2C%22properties%22%3A%5B%5D%2C%22math_property%22%3Anull%7D&returning_entity=%7B%22id%22%3A5043%2C%22math%22%3Anull%2C%22name%22%3Anull%2C%22type%22%3A%22actions%22

[2021-04-06 01:10] paolodamico opened #3878 "Attempting to insert duplicate person distinct ID records"
## Bug description

As originally reported in #3819, a couple of users are seeing this type of errors in their logs, where we try to add insert a person distinct ID record for an ID that already exists instead of using the existing record.

## Expected behavior

If the distinct ID record exists, we should be using the existing record, instead of attempting to insert a new one.

[code]

## How to r

[2021-04-06 01:20] paolodamico opened #3879 "Tooltip for dropped paths is not clear"
## Bug description

As reported by a [user](https://app.papercups.io/conversations/all?cid=bd7cef03-02be-48ed-9c54-8b14f26cb0cb), when you hover over a dropped path in the paths graph you see a tooltip that is actually related to a different path, which can be confusing.

**Example**
<img width="646" alt="" src="https://user-images.githubusercontent.com/5864173/113645311-7c71c600-963b-11eb-8866-fb

[2021-04-06 02:06] paolodamico commented on #3877
Seems strongly related to https://github.com/PostHog/retention/issues/20

[2021-04-06 02:25] EDsCODE commented on #3877
I'm guessing it is same underlying issue with queries dependent on cohort. Maybe it's time to add some sort of notice on queries that might change due to cohort recalculation?

[2021-04-06 08:22] jamesefhawkins opened #3882 "Adjust axes size on graphs that don't use the full range"
## Is your feature request related to a problem?

<img width="679" alt="Screenshot 2021-04-06 at 09 19 46" src="https://user-images.githubusercontent.com/47497682/113680912-4a06ae00-96b9-11eb-82a7-ae65a21e6f4f.png">

Graphs like the above are hard to read. I have to hover over each data point to see the conversion rates over time, since there's so much unused space on the graph.

I suspect this wi

[2021-04-06 08:47] boldtrn commented on #3819
Thanks for the detailed reply @paolodamico.

Both run on the same machine, so I have means to show separate usage. At least the overall usage was not too high, so the server was not constantly at 100% CPU.

I don't really query a lot. I have a few actions, event filters and cohorts that are recalculated (every 5 minutes?). Generally we don't really have massive traffic spikes, more traffic during

[2021-04-06 09:28] mariusandra commented on #3868
I think https://github.com/PostHog/posthog/pull/3874 fixed it.

[2021-04-07 02:43] paolodamico opened #3886 "Event stats not being recomputed correctly"
## Bug description

This came up from a user who had a question about billing. Their event stats (on the `/events` page) were considerably different to the ones reported on the billing page and on their invoice. Upon investigation, I discovered that for this particular team, the event stats seem considerably outdated.

For privacy reasons, details on this issue can be found in [this thread](https:

[2021-04-07 03:58] anandsourabh opened #3887 "Issue with starting celery: "invalid width %r (must be > 0)""
I am using the base posthog docker image. The celery worker threads fail to start with the below error due to which the pre-flight checks are not completing successfully.

Has anyone else encountered this issue? There are many threads talking of setting docker environment variables etc.
Just wanted to check if there is a prescribed solution from the Posthog team.

[code]

[2021-04-07 09:28] gempain opened #3888 "900Mb memory usage at idle"
## In what situation are you experiencing subpar performance?

I've got two PostHog installs on two identical VPS (1 vCore, 2GB RAM, 20GB SSD). At idle, RAM usage is 5Mb for Redis, Postgres 600Mb and PostHog 800Mb. I've got other Postgres instances (for other apps) running with 6Mb RAM.

Both my VPSs were dead yesterday, after about 2-3 days of running PostHog on them.

## How to reproduce

1. Ins

[2021-04-07 11:16] macobo commented on #3888
cc @mariusandra @Twixes - is this plugins/GeoIP? :)

[2021-04-07 11:19] macobo opened #3891 "Contributor PRs fail due to cypress"
## Bug description

Some contributor PRs fail due to cypress tests: https://github.com/PostHog/posthog/runs/2286150473

Based on the screenshot, the test database might not be seeded correctly?

This needs a bit of digging to solve.

#### *Thank you* for your bug report – we love squashing them!

[2021-04-07 11:46] gempain commented on #3888
FYI, we're using the default setup, without extra plugins. We have a single dashboard with a single graph (daily, active users, for a single even type, aggregated by a single text property). This worked great until the VPSs died.

[2021-04-07 12:17] Twixes commented on #3888
Hey, @gempain, we've got a hunch. Could you compare memory usage of PostHog before and after setting env var `DISABLE_MMDB` to `true` on `posthog_web`? It's a completely safe change.

[2021-04-07 12:28] gempain commented on #3888
Hi ! Thanks so much for looking into this 😄

Before:
[code]

After:
[code]

6x gain for Postgres, 2.5x gain for PostHog. Still a bit high for both though, I'd expect something like 100Mb-150Mb for PostHog and 50Mb max for Postgres.

[2021-04-07 13:43] samwinslow commented on #3891
I was experiencing the same error `401: Authentication credentials were not provided` on various tests, and I agree the test DB is possibly not seeded correctly.

Also seeing the following. It doesn't happen with every 401 we're seeing in the logs, and some requests to `/decide` are successful. However, missing or misconfigured credentials might have caused it too.
- Request to `/decide` fails
- `

[2021-04-07 15:28] timgl opened #3895 "Release 1.25.0 1/2"
Team extensibility
- Map out integrations (what features does each have, which ones need effort?)
- Metrics
- Plugin logs
- export plugins + retrying

Team deployments & infrastructure
- AWS marketplace/VPC PostHog/vpc#28 & Google Marketplace, existing customers
- Stabilize helm charts
- SOC2

Core experience
-  UX improvement (Suggestions but not strict below)
- App Comprehensiveness

Support her

[2021-04-07 17:12] #3801 closed

[2021-04-08 00:04] kpthatsme opened #3897 "Breakdown not working, seemingly when test filter is applied"
## Bug description
Breakdown seems to not working properly when the test filter switch is toggled on.

## Expected behavior

Expect breakdown by realm to work since the filter @ event level works. Also it seems to work if test users are not excluded.

## How to reproduce

1. Go to this [chart](https://app.posthog.com/insights?insight=TRENDS&display=ActionsLineGraph&actions=%5B%7B%22id%22%3A4912%2C

[2021-04-08 00:09] paolodamico commented on #3877
Not 100% sure this is the problem, but if this is it one thing we could do is when showing when a graph was last refreshed, we also take into account when all the cohorts were last refreshed, and show the oldest data from all. We could also automatically trigger a cohort refresh when you click on refresh.

[2021-04-08 02:43] fuziontech opened #3898 "Have ability to add a predicate before unique count on insight"
## Is your feature request related to a problem?

Only a business problem.

## Describe the solution you'd like

It would be nice to to able to set a predicate or filter before we do a unique count on insights.

Something along the lines of give me a unique count of users by day that had over 10 event A's that day.

## Describe alternatives you've considered

There is no real alternative as far as

[2021-04-08 06:36] jeduden opened #3899 "Show events right away as they stream in"
## Is your feature request related to a problem?

As a developer, when I test the analytics integration, I have two screens : the app on one screen and the posthog events page on another. In order to check the events after an interaction with the app, I first need to go the screen and click "load new events".

## Describe the solution you'd like

Have a switch to display events right away when the

[2021-04-08 08:19] timgl opened #3901 "Get rid of $pageview, $pageleave etc"
## Is your feature request related to a problem?

There's a couple of instances where we show `$pageview` instead of `Pageview`. If you're a developer this looks absolutely fine, but if you're not this is confusing.

## Describe the solution you'd like

Replace all instances (in the frontend) of $pageview, $pageleave, $autocapture, $feature_flag_called with `(posthog logo) Pageview`, in the same w

[2021-04-08 11:28] yakkomajuri commented on #3899
@posthog-bot please add @jeduden for ideas

[2021-04-08 12:14] yakkomajuri commented on #3888
@posthog-bot please add @gempain for userTesting

[2021-04-08 14:16] #3589 closed

[2021-04-08 14:24] sentry-io[bot] opened #3913 "Events with large HTML elements don't work in Postgres"
Sentry Issue: [POSTHOG-2MC](https://sentry.io/organizations/posthog/issues/2325605024/?referrer=github_integration)

Looks like we can't process autocapture elements containing elements that have too large definitions, because the relevant field has a limit of 400 chars in Postgres (while having NO limit in ClickHouse, as CH varchars are unlimited). This affects all such events in Postgres PostHog

[2021-04-08 14:26] macobo commented on #3898
Related: https://github.com/PostHog/posthog/issues/2594

[2021-04-08 17:55] Twixes commented on #3891
Resolved the main problem #3892. As for these errors @samwinslow, they are definitely kind of bad too. Though they don't seem to break crucial functionality. Feel free to open a separate issue around them.

[2021-04-08 17:55] #3891 closed

[2021-04-08 18:17] #3913 closed

[2021-04-08 18:54] samwinslow opened #3921 "Trends: loadResultsSuccess called even after failure"
## Bug description

*Please describe.*
Some requests to `/decide` are unsuccessful in Cypress, and possibly in prod.

Typical misbehavior:
- Request to `/decide` fails
- TypeError: Cannot read property 'map' of undefined at loadResultsSuccess

`frontend/src/scenes/trends/trendsLogic.ts:420` seems to be the culprit for the .map error; looks like loadResultsSuccess is called even after API call fail

[2021-04-08 19:00] samwinslow opened #3922 "Add bin/ scripts to package.json"
## Describe the solution you'd like
Add scripts including `start` and `e2e-test-runner` to package.json for ease of running with yarn, and for ease of discoverability

## Describe alternatives you've considered
Manually typing / relying on terminal autocomplete for a script, like `DEBUG=1 ./bin/e2e-test-runner`

## Additional context

#### *Thank you* for your feature request – we love each and ev

[2021-04-08 19:02] samwinslow commented on #3897
My recent changes to test user exclusions might have caused this. I'll dig deeper and possibly create new tests for this.

[2021-04-08 19:04] kpthatsme commented on #3897
Thanks @samwinslow  – when you're digging, @EDsCODE may be a good person to sync up w/ on this (he was the one who pointed out the test filter piece).

[2021-04-09 07:35] rg2609 opened #3931 "PostHot not tracking all the events"
## Bug description

I am running this PostHog on my local self-hosted container, and it started fine. Then I configured my web application with PostHog. And it's working fine too, but the problem is that it tracking not all the events triggered by the web application. My web application is a dynamic website.

## Expected behavior
It should track all the events triggered by the web application

##

[2021-04-09 09:41] DimitrisMazarakis commented on #1687
Hello! Can I take this issue?

[2021-04-09 11:24] mariusandra commented on #3895
### Team Extensibility

Yakko:
- Chart our integrations.
- Figure out metrics
- Dive into the plugin server code

Michael:
- Console.log and errors
- Remove Python ingestion code, add a Celery listener for the old queue into plugin server
- Introducing plugins during onboarding flow #3764

Marius:
- Standard library/contrib code @posthog/plugin-contrib
- S3 and Snowflake exports, finally
- Retryin

[2021-04-09 11:30] samwinslow commented on #3897
Hey @kpthatsme — so it looks like the query fails when breaking down by `realm` on the User properties, as in your example, but `realm` on Event properties indeed works. (It shows no data until April 4.)

Breakdowns + test users filter together also add a lot of latency. Breaking down this same query by OS took around 15 seconds to compute, but did eventually work.

The payload returned from the r

[2021-04-09 11:48] samwinslow opened #3934 "Disambiguate event and user properties that have same name"
## Is your feature request related to a problem?

As a new user of PostHog I found it confusing that property names are sometimes shared between Events and Users. `realm`, for instance, appears on both. In the below screenshot, the user has no way of knowing whether `Events.realm` or `Users.realm` is the active one, which is important because the data is different.

<img width="748" alt="Screen Sh

[2021-04-09 14:39] paolodamico commented on #1687
Hey @DimitrisMazarakis! Go for it! I've updated the issue because some stuff has already been addressed. Please also be mindful that the UI & components has changed from the screenshot above, so worth considering. Happy hacking!

[2021-04-09 14:52] macobo commented on #3895
## Team Deployments

Notes from yesterday

Karl
- Continue with AWS marketplace work https://github.com/PostHog/vpc/issues/28
- Support existing deployments ad needed

James
- Support Karl
- Stabilize helm charts
- Work with Google to get marketplace access
- Plan for moving postgres/Kafka over to AWS

[2021-04-09 14:55] samwinslow commented on #3922
Closing this in favor of adding better documentation at https://github.com/PostHog/posthog.com/pull/1197. Running from `bin` is clear enough and the start script sets necessary flag by default.

[2021-04-09 14:55] #3922 closed

[2021-04-09 14:58] EDsCODE commented on #3895
**Core Analytics**

**Key area: UX improvement (Suggestions but not strict below)**
- [Filter experience](https://github.com/PostHog/posthog/issues/2760) - our filters are cluttered now with all the different options we provide
- Rethink how we introduce users to insights the first time they come to the page. Currently we’re onboarding users and walking them through ingestion but they’re on their

[2021-04-09 15:35] macobo commented on #2760
Potentially relevant tickets are tagged https://github.com/PostHog/posthog/issues?q=is%3Aissue+is%3Aopen+label%3Aanalytics-filters - though there are others that need focus

[2021-04-09 15:52] DimitrisMazarakis commented on #1687
Thank you very much @paolodamico! I have a question, the function which auto-refreshes all the dashboards every 30 seconds shouldn't also be existed in the non full screen? Becauseyou have to refresh each dashboard manually. And something that I noticed is that you can't scroll to see more dashboards when you are on full screen mode.

[2021-04-09 16:03] macobo commented on #3504
Another idea that came up - cloning https://announcekit.app/ :)

[2021-04-09 17:43] paolodamico commented on #1687
Hmmm well I'm a bit hesitant to have it in normal mode, data may change as you're looking at it, which could be confusing. We would also be adding a ton more load on the infrastructure that might not be needed. Now that we talked about this, I think even on fullscreen mode it's worth updating every 1 or 2 minutes, rather than 30 secs.

Good point that you brought up! If you're up for it, we should

[2021-04-09 18:24] paolodamico commented on #3878
Another user reported this issue but with a different table (see details below). Interestingly, this also came up from a user reporting the same error of PostHog completely freezing and not loading anything until restarted.

[code]

[2021-04-09 18:30] DimitrisMazarakis commented on #1687
Okay, I understand what you are saying.  I will set it to update every 1 or 2 minutes only when you are on full screen mode. I will also try to fix the scroll issue :)

[2021-04-09 18:52] kpthatsme commented on #3897
@samwinslow thanks for looking into this–

So I tried taking the same chart but applying the filter on each event. So for each event, I added the filter on user property `realm.` [Chart here](https://app.posthog.com/insights?insight=TRENDS&interval=day&display=ActionsLineGraph&actions=%5B%5D&events=%5B%7B%22id%22%3A%22insight%20viewed%22%2C%22name%22%3A%22insight%20viewed%22%2C%22type%22%3A%22even

[2021-04-09 18:52] paolodamico commented on #1687
Sounds good! Let me know if you run into any issues

[2021-04-09 18:56] paolodamico commented on #3934
Great stuff @samwinslow! I think it's worth a deeper look in this or next release's cycle. Let me know if you want to brainstorm potential solutions together.

[2021-04-09 19:03] paolodamico commented on #3819
Hey @boldtrn! This context is very helpful! Here are my thoughts,

1. While there definitely seems to be something that changed recently on our end that is affecting this (as this is happening to other users; we are already investigating further), based on your event volume it looks like you may be reaching the limits of what Postgres can do. As a rule of thumb, anything higher than 5M events/mont

[2021-04-09 19:03] #3671 closed

[2021-04-09 19:15] samwinslow opened #3936 "Autofocus property dropdown and value field on "Add filter""
## Is your feature request related to a problem?

Unclear behavior wrt. filters.

## Describe the solution you'd like

Clicking "Add filters" should open the first dropdown. We can eliminate a click by automatically opening the `Property` select:

![image](https://user-images.githubusercontent.com/4645779/114229342-b1d12900-9945-11eb-8fd1-63dea0a1aeff.png)

Automatically show typeahead dropdown (w

[2021-04-09 19:21] paolodamico commented on #3936
This could be a good example of PRs over issues ? 🤔

[2021-04-09 19:27] samwinslow opened #3937 "Minor: some property values incorrectly indicated as "parsable as datetime""
## Bug description

The calendar icon and field type == "string parsable as datetime" appears for some properties where it doesn't quite make sense, e.g. hostnames. The inconsistency of seeing a calendar icon next to somethings that's obviously a string is weird.

Perhaps being parsable as datetime is based on the fact that these values include the `:` character?

*If this affects the front-end, s

[2021-04-09 21:14] #3848 closed

[2021-04-10 15:56] boldtrn commented on #3819
Thanks a lot for the detailed answer and the offer for the ClickHouse upgrade @paolodamico.

1. Switching to ClickHouse sounds interesting. I do have some experience hosting different kinds of applications. Is there documentation on how to setup ClickHouse, so that I can check if it's something I feel comfortable with? I already manage too many servers ;).
2. I already switched to a dedicated serv

[2021-04-10 18:34] IgnusG commented on #3431
Featurehub is another open-source project (self-hosted although hosted version is coming apparently) which offers feature flags (boolean, string, number and JSON) that can be configured with splits and some simple targeting. They appear to aim at not being an analytics engine (I assume) as they integrate with GA for additional tracking.

https://github.com/featurehub-io/featurehub

[2021-04-10 18:52] #3700 closed

[2021-04-10 23:19] bragarods commented on #3888
Also, the current memory needs is higher than Heroku free / hobby dynos quota. Would be very nice if we could managed to maintain the default usage under 512 Mb, since it's the simplest implementation possible.

![Screen Shot 2021-04-10 at 20 12 27](https://user-images.githubusercontent.com/10639941/114286955-7ca60300-9a39-11eb-906a-5344c0b774f6.png)

[2021-04-11 16:38] xplatsolutions opened #3941 "Calling init or identify when different user token received"
Apologies if this should be a SO question, I can move there if more appropriate.

My web app design is that every user visiting the app will have a token (similar to log in) but the status is `unauthenticated`.
At the moment I call `posthog.init` with `loaded` function to `identify` the user based on token information and `posthog.people` as well to $set and $set_once properties.

I invoke `postho

[2021-04-11 16:53] xplatsolutions commented on #3941
I actually can call init in App.tsx and then handle identify in my service class, but still might be useful to know if there is something like `posthog.isInitialized`.

[2021-04-12 08:46] Twixes commented on #3937
Agreed, Day.js (and Moment.js before it as well, they're very similar in this regard) parses so loosely that this is often just confusing. Made #3942 to remove this parsing.

[2021-04-12 13:25] #3937 closed

[2021-04-12 14:50] buwilliams opened #3946 "Insights > Stickiness > Pie - shows empty chart and NaN"
## Bug description

Found while testing Stickiness. The page is showing users NaN but it should be clear there are no results to show.

## Expected behavior

- Displays a message that there are no results to show.
- Shouldn't show `NaN`

## How to reproduce

1. On Actions & Events: select `$pageview` and `total volume`
2. Select `Pie` and `Last 30 days`
3. Result is the attached screenshot

## Env

[2021-04-12 14:57] Twixes opened #3947 "Merging persons UI has a button with a z-index too high"
## Bug description

This button should be under the modal.

![Button](https://user-images.githubusercontent.com/4550621/114415570-1a234300-9bb0-11eb-9dc7-aef4053d491c.png)

#### *Thank you* for your bug report – we love squashing them!

[2021-04-12 15:08] Twixes opened #3948 "404 link inside app if no events ingested yet"
## Bug description

This links leads to `/project`, which is non-existent - should be `/project/settings`.

![404](https://user-images.githubusercontent.com/4550621/114417005-85214980-9bb1-11eb-8a86-65449859eb52.png)

#### *Thank you* for your bug report – we love squashing them!

[2021-04-12 15:16] timgl opened #3949 "Download CSV of users from a datapoint on graph"
## Is your feature request related to a problem?

I want to be able to download a CSV of users when I click on a datapoint in a graph

## Describe the solution you'd like

![image](https://user-images.githubusercontent.com/1727427/114418453-cd8d3700-9bb2-11eb-906d-8aa424f48500.png)

When I click on a datapoint I'd like to be able to download a CSV as well as create a cohort from it.

## Describe a

[2021-04-12 15:24] paolodamico opened #3951 "E2E tests for project settings"
## Is your feature request related to a problem?

Currently we don't have E2E cypress tests for project settings (particularly testing edge cases like loading the project settings page from a different page, refreshing and seeing changes are properly reflected, ...). This could've detected the bug fixed in #3950.

## Describe the solution you'd like

Have comprehensive E2E tests for project settin

[2021-04-12 15:24] Twixes opened #3952 ""Save action" results in webhook messages being re-sent"
## Bug description

This only affects Postgres PostHog, where action calculation is async (every 5 mins) in the background. "Save action" the action _all time_, which causes webhooks to be resent.

![Recalc](https://user-images.githubusercontent.com/4550621/114419098-6d4ac500-9bb3-11eb-8b50-3d1139d67adc.png)

#### *Thank you* for your bug report – we love squashing them!

[2021-04-12 15:26] kpthatsme opened #3953 "Duplicated users in funnels"
## Bug description

Seeing users show up multiple times in a funnel, messing with the conversion rates.

## Expected behavior
- A user should only show up once in the funnel steps breakdown.

## How to reproduce

1. Go to this [chart](https://app.posthog.com/insights?insight=FUNNELS&breakdown=grid_view&breakdown_type=event&display=FunnelViz&events=%5B%7B%22id%22%3A%22ingestion%20landing%20seen%22%

[2021-04-12 16:49] kpthatsme commented on #3882
Addressed in https://github.com/PostHog/posthog/pull/3940

[2021-04-12 16:49] #3882 closed

[2021-04-12 18:45] paolodamico commented on #3819
Hey @boldtrn! We don't have docs on CH just yet but they're coming pretty soon. Once they do let me know if you're interested in a license. Re 2, that's great! Glad to hear that, do let us know how your experience goes after upgrading to 1.24

[2021-04-12 18:52] paolodamico commented on #3941
Hey @xplatsolutions, glad you figured it out! Currently we don't have such property, but agreed it would be useful. Moving this to the relevant repo so we can tackle it soon. PRs welcome too!

[2021-04-12 22:52] kpthatsme opened #3963 "Group-level analytics"
## Is your feature request related to a problem?

While we care about user growth and the experience of individual users, we need to have a way to look at organizations as a whole in PostHog.

For example, right now, there isn't a good way in PostHog to grab an 'Active Orgs' number. Likewise, we can't look at the conversion rate of all orgs to ingesting data, since that is keyed to specific users

[2021-04-12 22:56] paolodamico commented on #3963
Think this is a duplicate of #2247 but the extra context is certainly super helpful.

[2021-04-13 01:28] kpthatsme commented on #3953
Some more data points on this chart if helpful– (it's not just a funnel thing)

Click the [April 8th - True data point](https://app.posthog.com/insights?insight=TRENDS&filter_test_accounts=true&interval=day&actions=%5B%5D&events=%5B%7B%22id%22%3A%22ingestion%20landing%20seen%22%2C%22name%22%3A%22ingestion%20landing%20seen%22%2C%22type%22%3A%22events%22%2C%22order%22%3A0%2C%22math%22%3A%22dau%22%7D

[2021-04-13 09:58] joesaunderson opened #3966 "Ingested properties not url decoded"
## Bug description

When using the identify API in `posthog-js`, we are passing some data which could cause malformed URL's i.e. "Men's Fashion".

If I do not URL encode this, it shows in Posthog as `Men&#039;s Fashion`, if I do URL encode this, it shows in Posthog as `Men%27s%20Fashion`.

## Expected behavior

If the property is URL encoded, I expect this to be decoded on receipt by Posthog.

##

[2021-04-13 10:13] macobo opened #3967 "Scroll bar on session table"
## Bug description

![image](https://user-images.githubusercontent.com/148820/114536670-fa485980-9c59-11eb-8d62-64e88dffc4e9.png)

## Expected behavior

No scroll bar on linux

## How to reproduce

1. Use linux
2. Go to sessions
3. See scrollbar

## Environment

- [ ] PostHog Cloud
- [ ] self-hosted PostHog, version/commit: _please provide_

## Additional context

Probably added by the resizable t

[2021-04-13 10:31] yakkomajuri commented on #3966
Seems like a matter of handling special characters in the relevant places in the UI. This is also seen in shared dashboards, although not on in-product dashboards.

[2021-04-13 10:35] yakkomajuri commented on #3868
Still a thing

[2021-04-13 10:48] yakkomajuri opened #3968 "Feature flags 'Add Group' poor feedback"
## Bug description

If I have many match groups on a feature flag, clicking 'Add group' adds to the bottom, which I can't see on my screen, so I'm unsure if it works.

## Expected behavior

Potentially rethinking groups, not numbering them and adding a new group to the top?

## How to reproduce

1. Add multiple groups to a feature flag
2.
3.

## Environment

- [ ] PostHog Cloud
- [ ] self-hosted P

[2021-04-13 12:34] #3963 closed

[2021-04-13 12:56] #3947 closed

[2021-04-13 12:56] #3948 closed

[2021-04-13 23:28] EDsCODE opened #3974 "Breakdown null UX"
## Bug description

*Please describe.*
- If a breakdown property has a lot of values with 0, the graph gets overwhelmingly useless
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
Should have a more pleasant way to handle 0 values on breakdown for trends

## How to reproduce

1. Go to trends
2.select a breakdown on a property with many 0s
3. See how clutte

[2021-04-14 06:39] c3ho commented on #3949
Hi, can I take on this issue?

[2021-04-14 07:57] timgl commented on #3949
Go for it!

On Wednesday, April 14, 2021, Calvin ***@***.***> wrote:

[2021-04-14 07:59] mariusandra commented on #3966
Hey, where in PostHog does it show? I just tried it myself locally and this is what I see:

![image](https://user-images.githubusercontent.com/53387/114674997-13a7df00-9d08-11eb-8eb9-07520fc74410.png)

[2021-04-14 08:05] mariusandra commented on #3967
If it helps, it's also there on a mac if you use an external mouse
![image](https://user-images.githubusercontent.com/53387/114675686-d1cb6880-9d08-11eb-9462-9c969214e8e5.png)

... or just make scrollbars always visible from settings.

I've run into this many times. Usually switching from `overflow: scroll` to `overflow: auto` in the right place fixes it.

[2021-04-14 08:05] joesaunderson commented on #3966
Hmm that is odd, I have tried locally too, using the JS console and it works as you suggest.

I think this might be a side effect of our templating library (Twig 😞) - let me investigate this further!

[2021-04-14 08:10] joesaunderson commented on #3966
Ah yes, this is the issue. We use Twig as our templating language and it is doing the escaping for us.

[code]

Becomes `data.merchantCategoryName = 'Men&#039;s Fashion';`

This is to stop the `'` breaking out of the JS single quotes. Is there a way in PostHog (maybe via a plugin) we can decode all the properties that are passed in?

[2021-04-14 08:21] mariusandra commented on #3966
You can always write your own wrapper around `posthog.idenfity` that does something like:

[code]

There's not really a place in the PostHog JS library you can hook into to do this directly.

[2021-04-14 12:51] #3967 closed

[2021-04-14 13:01] Twixes commented on #3888
Thanks to recent optimizations (specifically: https://github.com/PostHog/plugin-server/pull/304), memory usage is now again at a comfortable level! Including on the lowest Heroku tiers.

![plugin-dyno-mem](https://user-images.githubusercontent.com/4550621/114714124-191a1f00-9d32-11eb-9d6b-636c1212f5f3.png)

[2021-04-14 13:01] #3888 closed

[2021-04-14 13:55] Twixes opened #3981 "In projects with no events yet, there's awkwardly nothing at all in place of the Insights graph"
## Bug description

If a project doesn't have events yet, the graph in Insights is simply not rendered, and there's nothing in its place.

![insights](https://user-images.githubusercontent.com/4550621/114721551-51712b80-9d39-11eb-87f0-608b8b47b40c.png)

## Expected behavior

There should be an explanation of the situation or at least something that looks more elegant.

## How to reproduce

1. Open

[2021-04-14 14:00] paolodamico commented on #2333
Finally closed by #3969

[2021-04-14 14:08] gempain commented on #3888
@Twixes thanks for making this change, really appreciated ! Keep up the great work !

[2021-04-14 14:20] mariusandra commented on #3981
Could that be related to https://github.com/PostHog/posthog/pull/3866 ? I stumbled upon something very similar. If I opened the app with the insights page open, all would work. If I opened some other page and then clicked to insights, it wouldn't set the default filter ($pageview). I thought it got fixed though 🤔

[2021-04-14 14:29] paolodamico commented on #3981
For context, I think the problem here is that because the project has no events, it therefore has no event names to set as default. Will definitely take a look soon.

[2021-04-14 15:03] paolodamico opened #3982 "Design request - Empty state for graphs"
This issue is to request some help from the design team.

## What do you need designed and why?

- Empty state for insights when you don't have any events in your app. Call to action would be something like go to event ingestion process.  Check out #3981 for more context.
- Empty state for when there is no data to show based on your current filters (e.g. you selected a timeframe for which data is

[2021-04-14 18:11] kpthatsme opened #3984 "More insight into data ingestion"
For ingestion viewed + first team event ingested:
- Most popular SDKs
- Realm
- Host
- is team creator

[2021-04-14 18:41] EDsCODE opened #3985 "Clicking on session datapoint doesn't return people"
## Bug description

*Please describe.*
- For sessions in insights, clicking on a datapoint doesn't return people
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
- the modal should return people

## How to reproduce

1. Go to sessions under insights
2. Click on a datapoint on the trend graph
3. Loading spinner forever

[2021-04-14 20:24] avorio opened #3986 "Broken requests to /sessionRecording"
I'm seeing a ton of broken requests to `/sessionRecording` in my app's logs. Those requests are being placed by PostHog for no apparent reason to me. And because that route is not known to the app, it returns a 404 and ends up polluting our logs.

Any reason for these requests? How could we disable them?

I'm running version 1.23.1.

[2021-04-14 21:27] bragarods commented on #3888
@Twixes nice work! Also monitoring here and now it’s safe and sound to run on Heroku free tier 🎉

[2021-04-14 22:34] avorio opened #3987 "Error when upgrading to 1.24.0 on Heroku"
I'm trying to upgrade to 1.24.0 on Heroku but I'm getting the following error:

[code]

We are using Tim's Python buildpack:

https://github.com/timgl/heroku-buildpack-python

... but it looks to be way behind Heroku's own Python buildpack.

Is there a reason for that custom buildpack, or could I safely replace it with Heroku's own?

Ah! I've just triggered the upgrade to `heroku-20` stack to repl

[2021-04-14 23:19] Twixes commented on #3987
Hey! You can absolutely safely switch to Heroku's buildpack! It's been our default for a few months now (for new deployments).
Thanks for noting the pip issue, we'll keep an eye out for this (though I don't think we've seen it ourselves in our `heroku-18`-based deployments).

[2021-04-14 23:19] #3987 closed

[2021-04-14 23:44] mariusandra opened #6886 "Split scheduled and regular tasks"
The snowflake export plugin does quite a bit of work in `runEveryMinute`, that sometimes might not fit inside the 30sec timeout imposed by babel. This will become a problem really soon.

Because of the way we inject these timeouts, it's not possible to have one set of timeouts when you run `processEvent` (30sec) and another set when you run `runEveryMinute` (could be rather long).

The solution is

[2021-04-15 00:25] #3647 closed

[2021-04-15 00:34] paolodamico commented on #3986
Hey @avorio, thanks for the issue! This has actually been reported a few times, but we can't seem to find the culprit. Would you mind sharing the payload information from the request and response to the `/decide` endpoint? (triggered when posthog-js is loaded). Also, can you share details of the `/sessionRecording` request? (payload, destination URL [I believe I've seen it not actually go to PostH

[2021-04-15 01:03] samwinslow commented on #3967
Thank you @Twixes. Total non-sequitur, but if you're curious: I did have some fun installing a Ubuntu virtual machine last night.

Getting the static assets to serve properly from the host to the guest (without tying up a port on the host) was a slight challenge - ended up forwarding `127.0.0.1:5432` to `10.0.2.2:5432` with `xinetd` on the guest machine.

The advantage of this was that zero projec

[2021-04-15 05:54] fuziontech opened #3990 "Enable M1 development with docker"
According to the onboarding docs new hires are to buy an M1 mac as their laptop (if they go the apple route). Currently our stack doesn't fully support M1 and this has slowed down the onboarding of new hires. We should sort out the story for dev on M1.

Ideal solution:
- Docker runs entire stack locally

Alternate solution:
- Use dedicated or shared dev box to develop for clickhouse, kafka, and zo

[2021-04-15 11:46] FUSAKLA opened #3993 "Error adding index during migration on partitioned events table"
## Bug description
Hi, after upgrade from 1.23.1 to 1.24.0 we see in the migration this error
[code]

We have the events table partitioned using the inbuilt tool and apparently the migration does not handle that well.

## Environment
Self-hosted instance running in Kubernetes using upstream docker images

[2021-04-15 13:21] #3606 closed

[2021-04-15 14:42] buwilliams commented on #3990
I've been looking into this. I think it's possible. I'll report back in a couple of days once I know more.

[2021-04-15 15:06] weyert opened #4000 "Allow using flag key as the identifier in the API"
## Is your feature request related to a problem?

I am working on some automation scripts which allows to generate / update feature flags, in our case, the feature flags need to have a unique key. Each feature flag has its own file in our repository, which defines some meta information. Currently, you need to use the flag integer identifier to query or update feature flags.

This requires you need

[2021-04-15 15:07] weyert commented on #4000
If you think this is an good idea, I am willing to try to write a PR for it

[2021-04-15 15:07] paolodamico opened #4001 "Column resizing is laggy / unresponsive"
## Bug description

The column resizing (which is a pretty useful feature) is quite laggy (see recording below), the experience isn't great.

![2021-04-15 08 04 04](https://user-images.githubusercontent.com/5864173/114892232-6e514180-9dc1-11eb-87c3-b02ca502134a.gif)

## Expected behavior

I would expect columns to resize very smoothly. In addition it'd be great if we could add instrumentation for

[2021-04-15 15:14] liyiy commented on #3901
Are we replacing all instances where the value is prefixed with the `$`?

examples not on the list: `$rageclick`, `$identify`

[2021-04-15 15:16] EDsCODE commented on #3901
$ prefix should be standard events we emit so I think it's safe to change all of the ones with $ that we have to something with posthog logo + label

[2021-04-15 15:45] samwinslow commented on #4001
@paolodamico I'll look into using `requestAnimationFrame` — though if it requires too much fiddling with Ant Design's Table component, it might make sense to recreate this from scratch, perhaps even with CSS grid instead of an actual table. 😕  The interface provided by Ant is really limited.

[2021-04-15 18:18] paolodamico commented on #4001
Makes sense! We might be better moving away from Ant's component but may be to big of a refactor to be worth it.

[2021-04-15 19:07] avorio commented on #3986
All I can see at this point is a `POST` request to `sessionRecording` relative to the current URL, e.g.:

[code]

[2021-04-15 20:04] lharress opened #4009 "JS_URL env variable is not honoured in production"
## Bug description

Setting `JS_URL` is not honoured in production. Webpack has a hard coded `/static/`

## Expected behavior

Ability to override the publicPath of Webpack

## How to reproduce

1. Set `JS_URL` to a URL of choice and `NODE_ENV` to `production`
2. Build Webpack assets

## Environment

- [ ] PostHog Cloud
- [x] self-hosted PostHog, version/commit: 1.24.0

## Additional context

Look

[2021-04-15 20:12] lharress commented on #4009
Happy to throw together a PR

[code]

[2021-04-15 20:51] buwilliams commented on #3990
Updates:
- [PostHog is working on M1](https://github.com/PostHog/posthog/tree/docker-m1-support)
- It does not run `bin/start-frontend` since it's too slow, you can run is manually `bin/start-frontend`

Todo:
- Provide an even better CLI experience for launching both docker and start-frontend
- Get Clickhouse working for M1

[2021-04-15 22:47] kpthatsme commented on #3984
Shipped https://github.com/PostHog/plugin-server/pull/316

[2021-04-15 22:47] #3984 closed

[2021-04-16 12:06] timgl commented on #3990
Looks like Docker for m1 has just gone general availability so clickhouse should be fine? https://twitter.com/Docker/status/1382731403389984769

[2021-04-16 12:26] timgl commented on #3298
@thedeveloperr Did you make any progress on this?

[2021-04-16 13:08] Twixes commented on #4009
Hey, thanks for this @lharress! A PR would be great!

[2021-04-16 13:48] Twixes commented on #3931
Hey! A few troubleshooting questions: What events are not being tracked? in what situation does the attached JS error occur? Are you calling any `posthog` methods?

[2021-04-16 13:53] Twixes commented on #3887
Unfortunately it looks like a very very system specific issue regarding terminal size (looking at https://github.com/celery/celery/issues/5761). We haven't seen this before, but setting shell var `COLUMNS` should fix it.

[2021-04-16 14:25] #3676 closed

[2021-04-16 14:25] Twixes commented on #3676
Thanks for pointing out, pinned from now on!

[2021-04-16 14:30] samwinslow commented on #4001
The existing version was re-rendering every table cell on each resize event, yikes! Now, the header is actually a totally separate div & I'm using some CSS hacks on the antd table columns to change size without re-rendering.

Only thing to figure out now is how to constrain the whole table to parent & enable `overflow: scroll` without messing up the children.

https://user-images.githubusercontent

[2021-04-16 16:54] #3936 closed

[2021-04-18 14:15] buwilliams commented on #3990
@timgl Currently, Clickhouse needs to be compiled for arm64 so it won't work out of the box. [Build Clickhouse for ARM64](https://clickhouse.tech/docs/en/development/build-cross-arm/)

[2021-04-18 14:37] buwilliams opened #4025 "Command-line interface (CLI) to manage PostHog"
## Describe the solution you'd like

Newcomers to PostHog may struggle with the variety of our tech stack: docker, django, node, clickhouse, etc. For me, PostHog did not work out of the box and there was a lot to learn. I'd like to have (1) a single tool `ph` which enables users to manage PostHog in one place. (2) Serve as a teaching tool.

At a high-level, what's most important about PostHog is w

[2021-04-18 17:53] thedeveloperr commented on #3298
I will send changes for frontend next weekend and hopefully clickhouse changes too. I can contribute during weekends only so it is taking longer.

[2021-04-18 21:15] Twixes commented on #4025
Pretty cool idea! Let me just shed some context. :D

We actually did develop a CLI – https://github.com/posthog/posthog-cli – it was built during the October hackathon as part of the plugins project (BTW for more context, there were three teams all starting from scratch: 1. session recording 2. command palette 3. plugins). That project is now completely deprecated as plugins were heavily reworked

[2021-04-19 05:42] paolodamico commented on #1881
This has been addressed with the cohorts refactoring in which the cohort information is now shown in a separate drawer.

[2021-04-19 05:42] #1881 closed

[2021-04-19 06:23] paolodamico commented on #4000
This would be great @weyert! Thanks for the suggestion, and hopefully a PR? Should be fairly easy with https://github.com/carltongibson/django-filter that we have installed.

[2021-04-19 06:49] paolodamico commented on #4001
Nice deep dive on this @samwinslow ! That definitely explains the lagginess, will take a look at the referenced PR and we can continue the conversation there.

[2021-04-19 07:04] mariusandra commented on #4025
Great summary @Twixes . Indeed for managing posthog running on the cloud or somewhere, the CLI approach doesn't make that much sense due to the plethora of options in the deployment buffet.

For local dev, well, at the end of the day such a script would just be a wrapper around other scripts... that we already have under `bin` and can call as needed. We could consolidate all of the dev scripts int

[2021-04-19 07:56] paolodamico commented on #3986
Actually closing this in favor of https://github.com/PostHog/posthog-js/issues/183 (duplicated)

[2021-04-19 07:56] #3986 closed

[2021-04-19 08:13] paolodamico commented on #3622
This has been released, closing.

[2021-04-19 08:13] #3622 closed

[2021-04-19 08:13] paolodamico commented on #3688
This has been released, closing.

[2021-04-19 08:13] #3688 closed

[2021-04-19 08:14] mariusandra commented on #3993
Hey @FUSAKLA , can you run custom SQL in your cluster? I think the "quick fix" now is to run

[code]

This will at least prevent the migration from blocking upgrades.

The index was added to prevent a full table scan when recalculating actions from `last_calculated_at` until `NOW`. Things should work without it. We'll try to find a better solution next.

[2021-04-19 13:54] buwilliams commented on #4025
Thanks @Twixes and @mariusandra! I'm in awe of the kindness in your both your feedbacks. It's clear you do this a lot.

A CLI is *not a hill I wish to die on*. My aims are to (1) consolidate and (2) teach.

I believed a nice CLI was a step in that direction but I'm open to alternatives. I'm wondering at a base level if we see the same problems. Since we plan to add more developers to PostHog I see

[2021-04-19 17:39] mariusandra commented on #4025
Feel free to experiment and keep improving with `ph`. If it helps and makes your life better, that's wonderful. I can't have anything against that :). I'm just not sure it will fully fit into my established workflow, which I'm reluctant to change just for change's sake.

The original CLI we built during the hackathon was more of a solution in search of a problem. If you feel strongly that this one

[2021-04-19 17:59] yakkomajuri opened #4035 "Lifecycle Toggle Bug"
Love the new lifecycle toggle!

Found one issue though:

https://user-images.githubusercontent.com/38760734/115281746-dba20100-a138-11eb-9ff9-0d8538d21a50.mov

## Description

Toggling off 'returning' shows no data when there are clearly other sections to show

## How to reproduce

I found this on the playground:

https://playground.posthog.com/insights?insight=LIFECYCLE&properties=%5B%5D&filter_t

[2021-04-19 20:23] liyiy commented on #3547
Tackling scroll on presentation mode if it hasn't already been picked up yet~

For future reference, are Epics cross collaborative between people? And how does someone note that they're working on one of the issues of the Epic (besides just leaving a comment)?

[2021-04-20 00:30] paolodamico opened #4041 "Improve / standardize legends for lifecycle graphs"
## Is your feature request related to a problem?

The new lifecycle toggles functionality is amazing and quite helpful, however the way we show it is not very standardized with the rest of the app.

## Describe the solution you'd like
 I would like us to have the same layout as we do for trends in which you have the series list below and you can toggle each series with checkboxes (see below). As p

[2021-04-20 08:28] macobo commented on #2247
Another (potential) usecase for this - for feature flags, making sure members of a team all see the same set of features.

[2021-04-20 13:16] liyiy commented on #4041
I agree with the feedback for a standardized style and tooltip/helper icon updates :D I’m thinking of color corresponding them and making the format more similar to trends

I do like the toggles over checkboxes for this though, it feels more fluid/inviting for users to play around with toggles since there’s only four set options, unlike in trends where you can add or remove options. What do you th

[2021-04-20 14:01] jamesefhawkins opened #4043 "Get team level analytics from person view"
## Is your feature request related to a problem?

<img width="1566" alt="Screenshot 2021-04-20 at 14 58 19" src="https://user-images.githubusercontent.com/47497682/115408715-021f7500-a1e9-11eb-8077-b1139c672618.png">

A user asked for a discount. I looked him up, and wondered how much usage his _team_ has, so I could work out how to handle.

The only current solution is to go to a [pre-made revenu

[2021-04-20 15:27] jamesefhawkins opened #4044 "Add commas to big numbers on dashboards"
## Is your feature request related to a problem?

Numbers like this are hard to read:

<img width="141" alt="Screenshot 2021-04-20 at 16 26 57" src="https://user-images.githubusercontent.com/47497682/115422885-3ac54b80-a1f5-11eb-9a8c-3400012d1d41.png">

## Describe the solution you'd like

Commas added ie 1000000 -> 1,000,000 to the axis of the graph.

## Describe alternatives you've considered

G

[2021-04-20 15:49] corywatilo opened #4045 "Dropdowns too narrow"
## Bug description

Dropdowns seem to open at the width of the previously selected option.

![image](https://user-images.githubusercontent.com/154479/115425982-199d3480-a1ce-11eb-8592-9d8f05315855.png)

## Expected behavior

It would be ideal to decouple the width of the dropdown from the currently-selected option. The expanded dropdown should ideally be the width of the longest option, with a rea

[2021-04-20 16:30] #2705 closed

[2021-04-20 16:32] corywatilo commented on #4045
Another example inside event filter (Cohort)

![image](https://user-images.githubusercontent.com/154479/115432485-684dcd00-a1d4-11eb-8034-ccc41910ca94.png)

[2021-04-20 16:39] VengefulAncient opened #4049 "Gitlab OAuth claims "The redirect URI included is not valid""
## Bug description

Gitlab OAuth configured using [official guide](https://posthog.com/docs/features/log-in-with-github-gitlab#gitlab). Trying to login with Gitlab produces `The redirect URI included is not valid` error. The URL includes a seemingly malformed `redirect_uri` parameter that:

1) uses `http://` instead of `https://` (Note: TLS is configured and working, `SITE_URL` is set to `https://

[2021-04-20 18:49] paolodamico commented on #3638
I believe this can be closed now @EDsCODE ?

[2021-04-20 18:50] EDsCODE commented on #3638
We'll need to eventually release flag but yes

[2021-04-20 18:50] #3638 closed

[2021-04-20 18:52] paolodamico commented on #3130
This has been fully addressed and implemented, closing

[2021-04-20 18:52] #3130 closed

[2021-04-20 18:53] paolodamico commented on #2975
I don't think this is happening anymore?

[2021-04-20 18:54] paolodamico commented on #2772
I believe this can be closed now @macobo ?

[2021-04-20 18:55] paolodamico commented on #2758
This has been addressed. We now have a default free plan with a 10k events/month allocation. Using the startup plan requires adding your card too.

[2021-04-20 18:55] #2758 closed

[2021-04-20 18:59] paolodamico opened #4050 "[Product & Design] - Revamp insights experience"
This issue is intended as the basis for discussion (from a product, design, UI/UX perspective) a full revamp of the querying (insights) experience. Engineering and implementation discussions are out of the scope of this issue.

## Goal
We know from customer feedback and our own dogfooding that there's a lot of room for improvements here, however the concrete goals are:
1. Make it as seamless and p

[2021-04-20 19:45] #3901 closed

[2021-04-20 20:02] paolodamico commented on #4050
Update on our progress thus far on some initial ideas.

**Option A (@corywatilo)**: https://posthog.slack.com/archives/C01G8S5T08Z/p1618942457009400?thread_ts=1618942455.009300&cid=C01G8S5T08Z

**Option B (@paolodamico)**
<img width="446" alt="" src="https://user-images.githubusercontent.com/5864173/115456859-8289aa00-a1d8-11eb-86f0-a7fc9ad676f9.png">

**Option C (@paolodamico)**
<img width="446"