[2020-09-01 20:48] paolodamico commented on #1504
#1535 introduces some changes, still outstanding:
- Implement password strength indicator library.
- Tweaks for hosted version of sign up page (`onboarding/hosted/account` on Figma).
- Create company profile page (onboarding/cloud/2)

[2020-09-01 20:57] paolodamico opened #1547 "New guided event ingestion"
Finishes #1408.

- Implement new event ingestion experience (`onboarding/guided/{x}` on Figma) [sample below].
![screenshot](https://user-images.githubusercontent.com/5864173/91905225-d22c5d00-ec6b-11ea-8688-334b54789f7b.png)

- Review and update event ingestion instructions for all frameworks. This includes support for environments with multiple package managers (e.g. yarn vs. NPM) and multiple l

[2020-09-02 09:47] shafy commented on #907
@timgl I still think my above propsed solution to decouple API key from teams is better, but this will do for me for now. Two questions:
1) Will you add adding teams manually to the docs?
2) Will switching (not creating) teams from GUI be part of the core, non-paid functionalities? If not, how would we switch teams?

[2020-09-02 13:04] Twixes commented on #1495
So automatic user creation is now functioning, but it's still a DEBUG environment. To do: instead of DEBUG run a production-like setup.

[2020-09-02 13:20] SuperKruse opened #1550 "DAU/MAU ratio"
We would like to track user engagement, for that they would like to use DAU/WAU/MAU.

## Describe the solution you'd like
Either show just the numbers (like google analytics) or a chart over time like everything else.

![image](https://user-images.githubusercontent.com/12446111/91987810-cfdf0700-ed2e-11ea-918b-c8deffabe33b.png)
From google analytics

It would be nice to have the
DAU/MAU-ratio
DAU/

[2020-09-02 13:35] jamesefhawkins commented on #1244
User feedback - from the lead data analyst at a [huge client:](https://app.hubspot.com/contacts/6958578/deal/2868612760/?interaction=note)

"Can you enrich the data? We already use Adobe Analytics / a bunch of internal databases with valuable stuff in. I want to get our user properties into PostHog so PMs can just easily add cohorts etc"

[2020-09-02 13:55] timgl commented on #907
@shafy Teams are now slightly unfortunately named, they will be more like "projects" with an overarching "organization" that the users are a member of. Dashboards, funnels etc will be specific to each team(/project)

To answer your questions
1. Unsure, but I'm happy to walk you through it once ready :)
2. Yes

[2020-09-02 14:34] shafy commented on #907
Amazing, so in the end it does result in something similar like my proposition (with different naming). This really is an important feature I think, great stuff! Looking forward to trying it out!

[2020-09-02 14:57] timgl opened #1551 "Get rid of "dock" mode in toolbar"
## Is your feature request related to a problem?

Dock mode is mostly redundant and is going to be a huge head-ache to maintain.

## Describe the solution you'd like

Remove dock mode

## Describe alternatives you've considered

## Additional context

@mariusandra (once you're back!) i think we already discussed this though I couldn't find a ticket. It came up again with a user who's app didn't wo

[2020-09-02 17:30] paolodamico opened #1552 "`first team event ingested` event sent multiple times"
## Bug description
- See screenshot below (it's likely being processed in 3 workers at the same time).

![sc](https://user-images.githubusercontent.com/5864173/92016443-f6457800-ed17-11ea-9b7f-959a3306850e.png)

## Expected behavior
- We should receive the event only once.

## How to reproduce

1. View a user of recent creation with this event ([example](https://app.posthog.com/person/5fabb7b9-a36

[2020-09-02 17:51] paolodamico commented on #1209
@timgl I would like to prioritize this, I believe it can help us internally to get an overall health view of our user base.

[2020-09-02 19:12] yakkomajuri opened #1554 "Allow Feature Flag deletion"
## Is your feature request related to a problem?

*Please describe.*

Feature flags currently can only be toggled on and off, but not deleted.

## Describe the solution you'd like

A delete button.

## Describe alternatives you've considered

Repurposing old feature flags for new ones.

## Additional context

#### *Thank you* for your feature request – we love each and every one!

[2020-09-02 21:44] sentry-io[bot] opened #1555 "Multiple 'pathsLogic' errors"
Sentry Issue: [POSTHOG-PM](https://sentry.io/organizations/posthog/issues/1873547843/?referrer=github_integration)

[code]

[2020-09-03 01:06] Twixes commented on #1254
Linode deployment is described, but unfortunately [we aren't on Linode Marketplace just yet](https://www.linode.com/marketplace/search/?appq=posthog).

[2020-09-03 09:50] jamesefhawkins opened #1556 "Serverless analytics"
Interesting idea from a comment on our original hacker news launch:

Curious, I emailed this person to ask why:

# How could this work?

We already grab events and user profiles etc. Those would be powerful and easy to grab and send to a DynamoDB endpoint.

I could also see this being used to get event data into their warehouse too - Redshift or whatever.

Perhaps we could augment this data, also

[2020-09-03 13:37] jamesefhawkins opened #1560 "Add toolbar to regular navigation and change what we call it"
## Is your feature request related to a problem?

Lots of users miss the toolbar entirely / get confused with the overlap between it and /actions.

## Describe the solution you'd like

* Add 'heatmaps' to the left hand nav. This should launch the toolbar with heatmaps switched on.
* Is there any reason in the /actions page we allow people to create actins *not* from the toolbar? Is that just addin

[2020-09-03 15:07] timgl commented on #384
I think we could very easily implement an event that uses web vitals to get a bunch of data that could be very useful https://web.dev/vitals/

[2020-09-03 21:09] j-ochs opened #1569 "Extend the endpoint to delete user events"
## Is your feature request related to a problem? Please describe.

In order to comply with GDPR, I would like the ability to irreversibly delete all the data on an individual person 30 days after they have closed their account. I have a Rails server on the backend, and a React frontend which is connected to my PostHog instance.

## Describe the solution you'd like

The easiest solution for my case

[2020-09-04 07:10] aaukt opened #1571 "Make cookieless analytics possible"
## Is your feature request related to a problem?

Current legislation in the EU around setting Cookies/Tracking forces site owners to show a cookie-banner if they  use cookies.
Several analytics plattforms exist that already have the option to disable cookies and/or use different methods of identifying users (GA, Matomo, Fathom, ...)

## Describe the solution you'd like

Similar to GA and their op

[2020-09-04 10:00] timgl commented on #1569
@j-ochs Hey, thanks for raising this! You can already do this using a personal API key: https://posthog.com/docs/api/api#authentication. You can then pass that token to `api/person` endpoint.

It'd be good to have this more tightly integrated into the various libraries, but this solution should work for now!

[2020-09-04 11:24] timgl commented on #1571
I've created a PR in posthog-js that adds this option. However, GDPR still won't technically allow you to do any fingerprinting (based on IP or browser), but we can leave that up to you to work out!

[2020-09-04 11:41] timgl opened #1573 "[EPIC] Improve quality of data coming in"
## Is your feature request related to a problem?

As a user we have a ton of data coming in, but sometimes that data isn't consistent or of good quality

## Describe the solution you'd like

- I want an overview of the volume of data coming in from different sources and how those change over time (am i getting more/less data from python compared to frontend for example)
- I want warnings if I'm se

[2020-09-04 12:02] aaukt commented on #1571
Wow that was fast!

So with this added i would call
`posthog.init('[your-token]', {
    api_host: 'https://[your-instance]',
    persistence: 'disabled',
    loaded: function(posthog) { posthog.identify('MY_GENERATED_ID'); }
})`

correct?

Our main goal was trialing posthog for our product where we only have logged-in users and for that the cookie would be superflous (and we didn't want to make a

[2020-09-04 12:05] timgl commented on #1571
Yep that will work! yeah that use-case makes sense, if your users are logged in it obviously is fine to identify them. Will update this ticket once it's in!

[2020-09-04 12:06] paolodamico commented on #1573
Something along the lines of [Segment Protocols](https://segment.com/product/protocols/) would be pretty cool.

[2020-09-04 12:10] paolodamico opened #1575 "Improve core action tracking"
There are some core actions we should now track server-side to improve data consistency (e.g. creating vs. updating), be more explicit in how we measure, and especially make sure we're getting the right data from self-hosted instances. We should start sending the following events,

- "action created", "action updated", "action deleted" (include obfuscated information about the match groups used, a

[2020-09-04 12:18] weyert opened #1576 "Invalid JSON causes internal server error"
## Bug description
I am trying to use the RESTful API to be able to built on the `posthog-js-lite`-package by adding the `decide`-endpoint only when I tried to call this endpoint in Paw I kept getting 500 Internal Server Error. After a few hours of staring at what could be the problem I noticed I was sending invalid JSON as Base64 string.

Encoded: `eyJ0b2tlbiI6IFRva2VuSGVyZSwgImRpc3RpbmN0X2lkIjog

[2020-09-04 12:44] paolodamico opened #1577 "Heatmaps timeframe"
##  Describe the solution you'd like

I would like to be able to select a different time frame for the heatmap (like we do for insights).

![heatmap](https://user-images.githubusercontent.com/5864173/92240529-62dc8600-ee82-11ea-8739-e24564fed37e.png)

## Describe alternatives you've considered
Trying to obtain similar information with insights charts.

#### *Thank you* for your feature request – w

[2020-09-04 12:49] paolodamico commented on #1127
Adding to this, I found another case were numbers change weirdly depending on the querystring. Maybe it's filtering depending on the QS? See below,

![base](https://user-images.githubusercontent.com/5864173/92240981-180f3e00-ee83-11ea-9134-b83afa68c400.png)
![qs1](https://user-images.githubusercontent.com/5864173/92240984-1a719800-ee83-11ea-93ee-bd5b7b2b4579.png)
![qs2](https://user-images.githubu

[2020-09-04 12:56] jamesefhawkins commented on #1575
* "annotation viewed"
* "X events received" or some sort of count of volume?
* Something to illustrate if it's loading correctly? ie do we have people doing 500 events/sec on a tiny Heroku instance that isn't coping with the load? Perhaps that could wait until James G's suggestion is built

[2020-09-04 16:34] shogunpurple opened #1578 "SMTP 500 Error When Using Amazon SES"
## Bug description

*Please describe.*
I am trying to set up SMTP integration with my self-hosted posthog instance in AWS. I believe I have configured it correctly, but I'm getting a 500 error from the server when trying to reset my password.

## Expected behavior
I should receive a password reset email.

## How to reproduce
- Configure an Amazon SES verified email address (the following describes

[2020-09-04 17:31] paolodamico commented on #1575
- I believe this would be a client-side event, right? Or am I missing something?

- 100%, addressed on #1509

- @fuziontech any recommendations for this? Perhaps we could add some metric on this on #1509

[2020-09-04 17:43] Twixes commented on #1575
Annotations are loaded from `/api/annotation/`, so could capture there as well.

[2020-09-04 18:36] paolodamico commented on #1575
But wouldn't the annotations be loaded from the backend even if the user doesn't see them? For instance when the user opens a dashboard but not actually opening any annotation?

[2020-09-04 19:37] Twixes commented on #1127
Yeah, query strings are funny business, because a difference in the query string can mean both just a cosmetic change and a different page altogether. I do think however that in most cases the toolbar could disregard the query string. _Usually_ it's a different variant of the same page, so that should make sense.

[2020-09-04 19:40] Twixes commented on #1575
Ah, yes, they're loaded all in one request, so that wouldn't really reflect usage.

[2020-09-04 20:23] paolodamico commented on #1538
Design proposal on [Figma](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?node-id=365%3A0).

[2020-09-04 21:19] Twixes commented on #1538
An important consideration is that after #1562 Organization will become the root entity instead of Team. The Team model will get a more mundane role of a project within an Organization, so it shouldn't be that big of a deal to delete it (obviously still danger zone). Organization deletion will be the big deal, and its members will be either admin or non-admin – only the former should be allowed to

[2020-09-07 11:28] paolodamico commented on #1538
Agreed! This is intended as the experience for the more dangerous deletion of the entire org. We should definitely restrict this to authorized users, I would perhaps consider having multiple owner-level users, that are the only ones than can delete the entire org and maybe manage billing details.

[2020-09-07 11:43] #1576 closed

[2020-09-07 13:08] timgl commented on #1578
That's very strange! We tend to recommend signing up for a free [sentry](https://sentry.io) account and passing the sentry dsn as `SENTRY_DSN` variable. Then you should be able to see the error!

If you quickly want to change passwords, you can also run `python manage.py changepassword [email]` to replace it in the command line.

[2020-09-07 13:26] jamesefhawkins commented on #1545
A further idea is that we could offer a very cool extension, like this but applied to many of the above:

https://orbit.love/blog/open-sourcing-our-chrome-extension/

* Salesforce: view user profile in PostHog
* Hubspot: view user profile in PostHog

and so on

[2020-09-07 13:35] timgl commented on #1209
@paolodamico It's on the roadmap under "New analytics views" -> this will be the first one we do. However it's blocked by clickhouse

[2020-09-07 17:09] Twixes commented on #458
We're already invested into ClickHouse (#1590), so this matter has been pretty much settled. :)

[2020-09-07 17:09] #458 closed

[2020-09-07 17:13] Twixes opened #1594 "Google Sign-In"
## Is your feature request related to a problem?

Practically every active internet user has a Google account and many companies (including PostHog itself) run on G Suite. It could then be good for signups to support login with Google.

## Describe the solution you'd like

Implement Google Sign-In as an addition to the current GitHub and GitLab.

#### *Thank you* for your feature request – we love

[2020-09-07 17:57] paolodamico commented on #1594
+1 definitely worth doing to make the sign up process easier too. We could even consider allowing users to sync their G-Suite directory (obviously optional) so that they can invite their teammates more swiftly.

@timgl this wouldn't affect having SSO as an enterprise feature, right?

If we prioritize this, I can work on the planning/design for the account creation process using G-Suite.

[2020-09-07 20:23] thedeveloperr commented on #1534
@timgl I am interested in this one can I work on this ?

[2020-09-07 20:26] shogunpurple commented on #1578
Thank you - I set up sentry and when the error came through I realised that I had to verify the **to** email address that I was trying to send to in SES. Forgot you can't just verify the from address.

We are big fans of posthog at our startup - keep up the good work on an awesome product :)

Thanks again for the help.

[2020-09-07 20:26] #1578 closed

[2020-09-07 20:26] timgl commented on #1534
@thedeveloperr Go for it! I haven't specced this out in a huge amount of detail so feel free to drop some ideas in here if you wnat feedback :)

[2020-09-07 20:28] thedeveloperr commented on #1534
I will first take a look how the table now is being populated and then give few ideas.

[2020-09-07 21:16] thedeveloperr commented on #1534
@timgl
Please elaborate these two lines of the of the solution description mentioned above with an example.

[2020-09-08 01:27] Twixes commented on #1534
Hi! Properties starting with a `$` are PostHog's special ones (like  `$browser`, which is displayed `Browser`). Here they are: https://github.com/PostHog/posthog/blob/5bce20abe41f01ddabaaa01c70388a200bbe7884/frontend/src/lib/components/PropertyKeyInfo.js#L5-L150
Other properties are just displayed as is.

[2020-09-08 08:40] timgl commented on #1594
I think this could still be an ee feature for now, but obviously enabled for everyone on app. Should be easy to implement given we already have social django

[2020-09-08 13:53] EDsCODE opened #1601 "Event -> Action mapping"

[2020-09-08 13:54] EDsCODE opened #1602 "Cohort -> Person mapping"

[2020-09-08 13:54] EDsCODE opened #1603 "Create plan for Postgres -> Clickhouse migration"

[2020-09-08 13:55] EDsCODE opened #1604 "Dev <-> Prod Settings for Clickhouse"

[2020-09-08 13:56] EDsCODE opened #1605 "Table and Model structure for filtering by person properties"

[2020-09-08 13:57] EDsCODE commented on #1605
Right now we are relying on a JSONExtractString because person properties are mutable. We need to adopt the incremental update table pattern for person related data and use collapsingmergetrees. Then split the properties into columns/kv tables just like we do for event related data

[2020-09-08 16:30] timgl commented on #1138
My general spec:
- if `load_feature_flags()` is called, load all feature flags into memory and start a poller to update
- If a feature flag is `simple` (ie they only have a percentage distribution) we can do the checking of them offline
- If it's not (it uses person properties/cohorts) call out to server with the distinct_id to get the correct decision
- In either case, send a `$feature_flag_calle

[2020-09-08 16:50] yakkomajuri commented on #1138
I think this is the correct approach.

And yeah the point about global API keys we discussed might become valuable later, but it's not unreasonable to expect (for now) that if a user leaves an organization they would notice the team that their API key was the one there.

In general, I think it makes sense to slowly move away from team tokens to personal API keys (or a global equivalent) on the int

[2020-09-08 16:52] timgl commented on #1138
I think the global write-only team token still makes sense for the frontend, but agree with the rest.

[2020-09-08 16:54] yakkomajuri commented on #1138
Oh right yeah I mean the frontend has to use the global token because the key is publicly available in that case, I meant the other ones.

[2020-09-08 17:30] fuziontech commented on #1138
Seems reasonable. Can we change polling to a caching strategy? I that way we can have some feature flags that are cached and others that are not. At first we would only support cached flags, but eventually it might make sense to have a param for feature flags that is the TTL and evaluate that in the lib whether or not you can make a decision with the information that is cached in the lib or do we

[2020-09-08 18:17] timgl commented on #1138
LaunchDarkly has 30 second polling by the default which should be good enough for all use cases I think? The thing I never really get about TTL is you only think about setting a short one when you want it to be changed right now ha!

[2020-09-08 18:29] paolodamico commented on #1138
In general I agree with a short TTL, especially if we're pushing the case (as in the new landing website) of using feature flags to roll-out new "experimental" features that might break something (you would likely want to roll back pretty quickly).

[2020-09-08 18:36] paolodamico opened #1610 "Data normalization on experiments"
## Is your feature request related to a problem?

When doing experiment on feature flags, you may end up with uneven distributions (in absolute numbers), which means that reporting on those experiments might be misleading.

## Describe the solution you'd like

Give the user the option of normalizing numbers on feature flags metrics (i.e. weight each individual distribution)

## Describe alternativ

[2020-09-08 18:53] paolodamico opened #1611 "Invite team members via email"
## Is your feature request related to a problem?
#1562 introduces creating invites for a specific email address (team member), however the invite link needs to be shared offline.

## Describe the solution you'd like

I would like us to automatically send an invite email to the recipient (if the instance has email capabilities enabled) instead of showing the invite link to the inviting user. We wou

[2020-09-08 19:21] Twixes commented on #1611
This is something I plan to do with the new organization structure to make that flexible (an `OrganizationInvite` model/table instead of `Organization.signup_token`).

[2020-09-09 05:04] psyanite opened #1619 "Cannot docker-compose locally"
## Bug description

On this page:
https://posthog.com/docs/deployment/deploy-docker

For local installation
There's a line to do this:
[code]

I ran this and it didn't work, is the documentation out of date or am I doing it wrong?

[code]

Docker version 19.03.5, build 633a0ea

MacOS

[2020-09-09 12:30] timgl commented on #1138
Just had a look at the way launch darkly does it, default they poll every 30 seconds for serverside libraries and every 5 minutes for client side libraries (like iOS). I'm still a little confused about the added benefits of a TTL on top of this?

[2020-09-09 14:45] yakkomajuri commented on #1619
I think the Docs might be wrong. Try to follow these steps for running locally:

https://posthog.com/docs/developing-locally

I think the `-e` flag doesn't actually do anything with docker-compose

[2020-09-09 14:52] Twixes commented on #1619
`-e` should be working @yakkomajuri
https://docs.docker.com/compose/environment-variables/#set-environment-variables-with-docker-compose-run

[2020-09-09 15:58] yakkomajuri commented on #1619
Sorry, I meant docker-compose `up` - although I could be wrong there too

[2020-09-09 15:59] yakkomajuri commented on #1619
https://docs.docker.com/compose/reference/up/

[2020-09-09 16:54] j-ochs commented on #1569
@timgl thanks for the quick response! Glad to hear this is already possible.
I've followed the directions in the docs for getting an API key, and based on the example from the docs I tried a simple curl request like so:

`curl -X DELETE  --header "Authorization: Bearer <API_KEY>" https://<posthog_base_url>/api/person/<unique_person_id>`

However, with this request I get the following response:
![S

[2020-09-09 17:04] timgl commented on #1569
You need the trailing slash `/` at the end of the url I think!

[2020-09-09 17:09] Twixes commented on #1569
Yep, sorry for that, we just fixed this annoyance! (#1557)

[2020-09-09 17:20] Twixes commented on #1619
Ah right –  `up` – seems that you're correct.

[2020-09-09 18:59] j-ochs commented on #1569
Aha, thanks! Getting closer 🙂
With the trailing slash on that request, I'm now getting this response: `{"detail":"Authentication credentials were not provided."}`
The Authorization header should be sufficient for authentication, yes?

[2020-09-09 21:28] Twixes opened #1624 "Quick dragging of Toolbar causes inadvertent selection in Safari"
## Bug description

As in the title, fast dragging causes some sort of content selection to kick in, resulting in weird flashes. Rather minor issue, _only_ happens in Safari, but maybe there's a fix. Demonstration:

![Drag](https://user-images.githubusercontent.com/4550621/92656494-714bf700-f2f3-11ea-9f22-b98a1bf5756e.gif)

Framerate got slashed here, but the issue should be visible.

## Expected

[2020-09-10 03:33] psyanite opened #1628 "How to connect to external database?"
Hi guys, as a preface, I have barely any experience with Docker and Python.

I want to deploy PostHog instance into an AWS EC2, but plug in a new AWS Database.

I was thinking of doing `docker-compose up` on that but with a connection to my AWS Database, is this a good approach?

I'm trying to replicate this locally by using `docker-compose up` and my local postgres db, but having issues.

Any ide

[2020-09-10 08:35] Rcjuk opened #1630 "Question about data archival"
Hello!

I was just wondering if there was a recommended method of deleting older data? Say I only wanted 6 months worth at a time.

Is it just a case of deleting data from the events table?

[2020-09-10 09:30] timgl commented on #1630
@Rcjuk Hey! It's a little trickier than that as events can be linked to other tables which means you have to cascade delete. A user previously sent over [this little script](https://gist.github.com/FUSAKLA/3f322d478839cabef7ace64a4be9177a) that can help you delete it.

I'll add this ticket to the roadmap for a more native way to do this.

[2020-09-10 09:48] timgl commented on #1569
Yes, are you using a personal api key or are you using the write-only key?

[2020-09-10 12:52] yakkomajuri commented on #1505
Just had a call with someone else asking for this

[2020-09-10 13:39] jamesefhawkins opened #1636 "Better error handling for no snippet implementations"
## Feature description

I was on a user call yesterday. They had a superb implementation - feature flags, cohorts, actions, funnels loads of back end events, all using our JS library.

However, they had not installed the snippet.

This meant when I asked "have you used the toolbar", they said "we did, but couldn't work out what it was", because it didn't load.

They were then unusure if running th

[2020-09-10 13:42] jamesefhawkins commented on #1521
Duplicate of #1636 , it came up again though

[2020-09-10 13:42] #1521 closed

[2020-09-10 14:22] Rcjuk commented on #1630
Looks dirty...I love it!!!

That would be good yeh. Thanks.

[2020-09-10 14:37] Rcjuk opened #1638 "ModuleNotFoundError: No module named 'ee'"
## Bug description

Deployed on AWS Fargate and i'm trying to boot up the latest copy of the image

## Expected behavior

It to work!

## How to reproduce

1. Try to deploy to Fargate
## Environment

- AWS Fargate via the docker image
- Latest

## Additional context

[code]

[2020-09-10 14:40] timgl commented on #1638
Hi there! Are you using the posthog-foss image?

[2020-09-10 14:44] Rcjuk commented on #1638
```posthog/posthog:latest```

Look like the latest.

[2020-09-10 14:45] EDsCODE opened #1640 "Clickhouse Stickiness Query"

[2020-09-10 16:13] #1569 closed

[2020-09-10 16:49] timgl commented on #1638
@Rcjuk Could you try again? We've made a change to the docker image that should hopefully solve this

[2020-09-10 17:20] timgl opened #1642 "Retention filtering is broken"
## Bug description

![image](https://user-images.githubusercontent.com/1727427/92770723-8596ff00-f39a-11ea-9b28-0e629ba7b857.png)

Trying to add filters/actions in retention is broken, probably some race condition

## Expected behavior

Should work, maybe using a calculate button like on funnels

## How to reproduce

1. Try adding filters or selecting a different action
2.
3.

## Environment

- Po

[2020-09-10 17:58] yakkomajuri opened #1643 "Add calculate button to Retention"
## Is your feature request related to a problem?

*Please describe.*

Add a button to calculate retention instead of doing it automatically on a filter update. This will help prevent race conditions with retention queries.

Opening this up because the fix is a little longer than I anticipated so leaving this here as a note to myself to pick it up later when I actually have time or for someone else

[2020-09-10 22:33] paolodamico commented on #1636
Couple of things,
- @mariusandra mentioned that events might de duplicated when using both the snippet and the library; however, the autocapture functionality can be disabled in the library (see below). _Disclaimer: Testing locally, duplicate events were not sent, but still not recommended to have both._
[code]
- @mariusandra mentioned fixing a bug to make sure that the toolbar works when using th

[2020-09-11 01:12] paolodamico opened #1645 "Feature flags load time"
## Bug description

We have a user reporting that their implementation is receiving this error continuously when loading feature flags.
[code]

## Expected behavior
Feature flags should load.

## Environment
- PostHog cloud. Frontend integration using PostHog JS library.

[2020-09-11 01:46] paolodamico commented on #1636
For the toolbar issue when you are using the Segment integration I suggest something like this, when the user taps the set up button we provide instructions for adding the JS snippet. If a user is integrated through Segment they won't have autocapture, so there's no risk of duplicate events.

![toolbar](https://user-images.githubusercontent.com/5864173/92840442-b2e9aa00-f3a6-11ea-9d8a-d166716c66fa

[2020-09-11 06:40] Rcjuk commented on #1638
Yes it did eventually boot ok. 👍

You might need a `posthog/posthog:stable` ;)

[2020-09-11 08:38] #1638 closed

[2020-09-11 16:37] paolodamico opened #1648 "Sort / search actions"
## Is your feature request related to a problem?

A user mentioned having many actions and it being very problematic to open a specific action. Affecting internally too.

## Describe the solution you'd like
I would like to be able to search actions by key, and sort them alphabetically (asc/desc).

## Describe alternatives you've considered
Browsing every page and using the browser's built-in searc

[2020-09-12 07:27] jamesefhawkins opened #1649 "Users displayed on clicking trend data point are incorrect"
## Bug description

Visit our internal app:
https://app.posthog.com/insights?events=%5B%7B%22id%22%3A%22user%20signed%20up%22%2C%22math%22%3Anull%2C%22name%22%3A%22%24pageview%22%2C%22type%22%3A%22events%22%2C%22order%22%3A0%2C%22properties%22%3A%5B%7B%22key%22%3A%22is_first_user%22%2C%22type%22%3A%22event%22%2C%22value%22%3A%22true%22%2C%22operator%22%3Anull%7D%5D%2C%22math_property%22%3Anull%7D%

[2020-09-12 19:31] razor-x commented on #1645
This is my init script. I added an extra `ph.reloadFeatureFlags()` after the initial feature flag event triggers. This seems to help.

[code]

[2020-09-13 02:53] TechMastering1 commented on #1649
Fixed

[2020-09-13 22:06] Twixes commented on #1649
Not quite sure what you mean @TechMastering1?

[2020-09-14 11:03] tuan3w opened #1650 "Support custom webhook"
## Is your feature request related to a problem?
Thanks team for creating this useful product.  We previously developed our own tracking system. We use logs to make recommendation. Recently, we  intend to switch to posthog, because it provide more intuitive UI for us. However, we still want to access logging data to make recommendation.  I wonder  a bout solution to either forward logging from pos

[2020-09-14 11:25] timgl commented on #1650
@tuan3w Hey Tuan, we offer this as a service in our "Enterprise Package". Feel free to [contact us](mailto:sales@posthog.com) to enable this :)

[2020-09-14 12:14] paolodamico commented on #1628
Hi @psyanite! If you want to use your local database instance (or any database service outside [e.g. RDS] your Docker environment), you simply need to set the environment variables with the respective configuration of your database `DATABASE_URL` or `POSTHOG_DB_NAME`, `POSTHOG_DB_USER`, `POSTHOG_DB_PASSWORD`, `POSTHOG_POSTGRES_HOST` (defaults to `localhost`) and `POSTHOG_POSTGRES_PORT` (defaults t

[2020-09-14 13:41] jjeremycai opened #1651 "Freshpaint.io integration"
## Describe the solution you'd like
Would love an integration with Freshpaint.io, which is an event tracking system similar to Segment.

## Additional context
We considered several options and found Freshpaint the best for bootstrapped startups.

[2020-09-14 13:45] timgl commented on #1651
@jjeremycai Hey Jeremy, Freshpaint does something quite similar to us in terms of autocapture. Is there anything you're missing from the PostHog integration that you can get with Freshpaint?

I've also had a look at their docs but it doesn't look like there's a way for us to create an integration with them, so you'd have to ask them to integrate us :). Happy to help where I can!

[2020-09-14 13:59] jjeremycai commented on #1651
Hey @timgl ! Unlike PostHog, they capture and feed data to separate places (i.e. feed "FB Pixel Fired" to Facebook so we can better retarget).

I just pinged them to see if they'd be open to adding Posthog as an analytics destination

[2020-09-14 14:01] timgl commented on #1651
Yep I think that makes a lot of sense!

Great, let me know what they come back with. We've integrated with Sentry before so the integration shouldn't be too hard

[2020-09-14 21:39] afarbman commented on #1544
I would like to try and fix this.

[2020-09-14 23:55] tuan3w commented on #1650
Thanks for your information :).

[2020-09-14 23:55] #1650 closed

[2020-09-15 05:45] psyanite commented on #1628
Hi @paolodamico Thanks so much for your help :)

[2020-09-15 05:45] #1628 closed

[2020-09-15 10:18] Twixes commented on #1544
Hi @afarbman! You are very much welcome, make a pull request when done and I'll be happy to review it.

[2020-09-15 11:20] paolodamico opened #1655 "Summary weekly email"
## Describe the solution you'd like
I would like to receive a weekly email with the most relevant highlights from last week's activity. This can help our users facilitate the process of weekly status checks which seem pretty common. In addition, it can help detect any outliers or issues requiring attention.

Design proposal https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisatio

[2020-09-15 11:27] mariusandra commented on #1655
Hey, regarding the two versions, my vote goes for the "non-developery version". Just because I can code, doesn't mean I want to see fixed width fonts everywhere :D. The one with the normal fonts reads better :)

[2020-09-15 11:32] jamesefhawkins commented on #1655
![image](https://user-images.githubusercontent.com/47497682/93205253-6b20a500-f74f-11ea-9bff-05d09ba78bba.jpeg) this could be a bit more concise "this section contains" is just words :)

[2020-09-15 11:36] paolodamico opened #1656 "Daily table view records"
## Bug description

When selecting table display with a daily timeframe I see all the active users grouped.

![screenshot](https://user-images.githubusercontent.com/5864173/93205469-78bd3700-f71d-11ea-86e9-e851ccdd86e4.png)

## Expected behavior

- If I selected a single action I would expect to see a table with the number of active users per day in the selected timeframe.

## How to reproduce

1.

[2020-09-15 13:11] yakkomajuri commented on #1655
With Marius on this. Prefer the "normal" version.

[2020-09-15 13:14] yakkomajuri commented on #1655
Also, feedback-wise, having "BETA" next to PostHog seems to imply PostHog is Beta software, whereas maybe what's Beta is the report?

Not sure if that's there because the design is a draft or because it will actually be there in the real email. If it's supposed to be there for the real thing, it really seems to indicate PostHog is in Beta.

[2020-09-15 13:22] EDsCODE opened #1658 "Clickhouse Paths Query"

[2020-09-15 13:23] paolodamico opened #1659 "Default dashboard(s)"
## Is your feature request related to a problem?

From several customer conversations (2009) we learnt that it's not always clear all the analyses you can do with PostHog and/or how to do them. Further, there's some expectation from some users on having a default setup for most common use cases (similar to what GA does).

## Describe the solution you'd like
I would like to have a default dashboard

[2020-09-15 20:21] EDsCODE opened #1662 "Populate clickhouse with demo data from /demo"

[2020-09-15 20:22] EDsCODE opened #1663 "Clickhouse Funnels Query"

[2020-09-16 06:29] mariusandra commented on #1645
@paolodamico
- "Using PostHog JS Library" == npm? Latest version?
- When is the `isFeatureEnabled("show_blue_button")` called? We probably need to make a request to the server in order to get the data for the flags. It's possible that's not done? In that case the `onFeatureFlags` callback should be used.
- How is the `show_blue_button` feature calculated? Is it a simple feature flag with just a ro

[2020-09-16 12:09] mariusandra opened #1665 "Clickhouse Elements Query"
This one:

https://github.com/PostHog/posthog/blob/2c673386c41b1a76975ce4bdfb2cb3bd97637e03/posthog/api/paths.py#L15

[2020-09-16 12:41] paolodamico commented on #1645
@razor-x can you confirm points 1 & 3 from @mariusandra ? For point 2 I believe the snippet shows the `onFeatureFlags` callback in use. Maybe @razor-x if you could check the network logs on your app to see if the request is being sent to the server and if there's any response or timeout from the server?

[2020-09-17 09:39] thedeveloperr commented on #1534
@timgl @Twixes So I am thinking of creating a model in database for saving different different columns config with one marked as default. So a person can from drop down choose different config of columns to show. How is that approach ?

[2020-09-17 09:42] timgl commented on #1534
@thedeveloperr Given there is a 1:1 relationship with a user for this, it might make sense to just store this as a JSONField against the User model? So you have a `person_table_config` and `events_table_config` field. What do you think?

[2020-09-17 09:48] thedeveloperr commented on #1534
I wanted to use JSONfield only for the new model. I was thinking of different table in case in future different user in an org. want to share the same config. something like that. But yes we can start with this and later migrate.

[2020-09-17 10:15] mariusandra commented on #185
I believe https://github.com/PostHog/posthog/pull/1657 closes this when it lands in master (https://github.com/PostHog/posthog/pull/1657/commits/33e3ab1568963f541b37b40b26667f066f23fa91)

[2020-09-17 10:58] mariusandra commented on #1665
Resolved as part of the paths PR.
https://github.com/PostHog/posthog/pull/1657

[2020-09-17 10:58] #1665 closed

[2020-09-17 13:35] jamesefhawkins opened #1673 "Capture front end errors"
## Is your feature request related to a problem?

I just had a user call with a potentially interesting dev-focussed use case. I want to understand what happened when a front end error was triggered by a user doing something.

## Describe the solution you'd like

We specifically want to see what a user was doing when an error occurred so the customer support team can talk with engineering and get

[2020-09-17 22:38] afarbman commented on #1544
@Twixes , I assume the change should be for the frontend element as well

[2020-09-18 06:30] edmundmunday opened #1682 "Cannot deploy to Azure or run locally with Docker Compose"
## Bug description
When trying to deploy to Azure (https://posthog.com/docs/deployment/deploy-azure) cannot access the service.
There are a few issues, some we got past, others we did not.

1. The front-end app tries to run before the DB is ready, causing the web container to exit. This can be resolved by adding a "depends_on" to the redis section of docker-compose.yml and forcing it to wait for d

[2020-09-18 09:00] timgl commented on #1682
@fuziontech would you mind taking a look when you wake up :)?

[2020-09-18 20:41] andrei-datcu opened #1684 "Allow ip to be passed as a capture param"
## Is your feature request related to a problem?

I'm running a posthog instance behind a http proxy and all the events are captured from a django app running under the same proxy on the same server. So the data flow is something like this:

client -> proxy -> django -> posthog
admin -> proxy -> posthog

## Proposed solutions

a) `$ip` could be checked for in the properties dictionary, here:
https

[2020-09-18 22:53] masonhensley commented on #1279
@timgl - regarding the revenue.

Yes, as something you could specify (purchased $50)... but it might be powerful to just tag a user/team's stripe_customer_id and hot link that over to stripe. Getting into revenue analytics, it's going to be wonky without historical data unless your only concerned with MRR/ transaction data.

[2020-09-18 23:46] zeketEQ opened #1685 "Insight: Grouping data by month not happening correctly"
## Bug description
When I try to see how many times an event happens per month the data does not seem to group correctly. If I select "All time" by month and then click on a specific month I see results from other months.

![image](https://user-images.githubusercontent.com/61121781/93653596-72091b00-f9ce-11ea-8758-61d21a612b78.png)

![image](https://user-images.githubusercontent.com/61121781/93653

[2020-09-21 01:36] fitzn commented on #1523
I'm hitting this, too, on a completely fresh install. The web and redis containers are up and logs look normal.

[2020-09-21 06:42] #850 closed

[2020-09-21 06:51] mariusandra opened #1686 "Paths don't show initial dropoff"
## Bug description

When I select a page in "paths" that only has inbound visits (no page visited after this page), the graph is empty:

![image](https://user-images.githubusercontent.com/53387/93738748-d3a3d200-fbe6-11ea-8b99-59768efebdec.png)

... even though I could select the URL from the list.

## Expected behavior

I should see a path with `N` visits on it and a 100% dropoff.

## How to repr

[2020-09-21 07:05] paolodamico opened #1687 "FR: Extend dashboard presentation mode"
## Is your feature request related to a problem?

A user mentioned having an always-on TV/projector in their office showing a dashboard with key metrics. From this use case we can extend the presentation mode (see below).

![presentation-mode](https://user-images.githubusercontent.com/5864173/93859218-42e7f780-fcb5-11ea-8b75-7a043a7166ce.png)

## Describe the solution you'd like

Presentation mode

[2020-09-21 07:07] paolodamico opened #1688 "FR: Cloning dashboards"
## Is your feature request related to a problem?

A user mentioned needing a feature to clone dashboards as they create the same dashboard multiple times, each for a different end-customer. Given that we are already planning on doing default / custom dashboards (#1659) we can add this functionality to facilitate dashboard creation.

## Describe the solution you'd like

Simple functionality to clon

[2020-09-21 07:09] paolodamico opened #1689 "Daily table views"
## Is your feature request related to a problem?

When doing an insights analysis with a table view, I would like to see the result grouped by the timeframe instead of the total (e.g. active users on each day). See below screenshot (only grouped information is shown). Basically it’s about showing the same information from the line graph in the table view (for easy reference).

![screenshot](https:

[2020-09-21 07:14] paolodamico opened #1690 "FR: Measuring engagement levels"
## Is your feature request related to a problem?

To measure our engagement levels within active users, we need to be able to do analyses on people that did certain action X times within the last Y time periods (e.g. user that did 3 funnel graphs in the last 2 weeks). Ideally we would be able to use this in cohort filters, to be able to segment users and do quick analyses too.

## Describe the sol

[2020-09-21 07:21] Twixes commented on #1687
We do already have a fullscreen mode sort of intended for this use case, but it isn't so robust yet.

[2020-09-21 07:30] mariusandra opened #1691 "Paths API request made twice when opening page"
## Bug description

Clicking from "insights -> trends"  to "insights -> user paths" makes a double HTTP request to fetch the paths.

![2020-09-21 09 28 30](https://user-images.githubusercontent.com/53387/93741529-e28d8300-fbec-11ea-9ab3-9098a9492dc8.gif)

Since this is a rather heavy query, this can cause problems.

Reloading the page while on "user paths" does just one query.

[2020-09-21 07:30] paolodamico commented on #1279
### User clustering

For context, this has also come up in a [customer call](https://posthog.slack.com/archives/C01B23A14RY/p1600672745000500).

### Engagement matrix
I believe #1690 is strongly related to this. I would potentially work on #1690 first as it can provide the basis for the engagement matrix discussed here.

### Compass & Impact analysis
I would make sure we add notes/warnings here ba

[2020-09-21 07:52] paolodamico commented on #1687
Right! Updated issue accordingly.

[2020-09-21 08:07] paolodamico opened #1692 "Bug with webbooks custom messages"
## Bug description

Reported initially by a user. There’s a bug in which the app doesn’t revert back to the default message for a webhook after clearing a custom message, causing the webhook to send an empty message.

![screenshot](https://user-images.githubusercontent.com/5864173/93744438-bc1a1880-fbe9-11ea-92ec-83a8141a5bcc.jpg)

## Expected behavior

Saving an empty custom message should revert

[2020-09-21 09:44] SvenAlHamad opened #1693 "People cohort not refreshing results"
## Bug description

Under the People > Cohorts we have created several cohorts. However, the results don't seem to be refreshing automatically. The only way to refresh the results for us at the moment is to save the cohort again.

![image](https://user-images.githubusercontent.com/3808420/93752266-53856880-fbf6-11ea-8846-d416c811d9f7.png)

## Expected behavior

The results should refresh automatic

[2020-09-21 10:36] jamesefhawkins commented on #1659
A few more ideas...

# Website

* Repeat visitors - stickiness of pageviews over time
* Revenue attribution - weekly revenue broken out by traffic source

# App (General)

* All time sign ups - cumulative over all time of unique users
* It'd be nice to show feature usage, but that'd need to be a 'placeholder' dashboard of trends page broken out by event type
* User lifecycle in App (Subscription)

[2020-09-21 17:38] Charuru commented on #1240
Yep get this too.

[code]

Can't start the server because of this. Pretty major issue?

[2020-09-22 08:56] paolodamico opened #1694 "FR: First default dashboard - App"
## General description

Initial implementation of #1659. This task intends to implement the first default dashboard after a user signs up([General app dashboard](https://docs.google.com/spreadsheets/d/1q9NcOOjm7WUQGFS8xX6bVIy-dsrvG-kL7StlGpTzaVk/edit#gid=291212429)).

The app dashboard would be comprised from the following graphs:
- Daily active users.
- Weekly user lifecycle.
- Weekly revenue.
-

[2020-09-22 09:15] paolodamico commented on #1694
Forgot to add, the default dashboard also includes a help icon with a short description of the graph (example below)
![screenshot](https://user-images.githubusercontent.com/5864173/93864306-96aa0f00-fcbc-11ea-92e0-7256c00eb495.png)

[2020-09-22 09:21] paolodamico opened #1695 "FR: Dashboard empty state"
## General description

Extends from #1694. This issue intends to implement the dashboard welcome and graph empty states ([design here](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?node-id=493%3A100)). When there's not enough events to show a graph in the default dashboard, the following behavior should occur:

- The main graph images are faded (tooltips still enabl

[2020-09-22 09:33] paolodamico commented on #1659
Thanks for the feedback @jamesefhawkins! Doc updated accordingly. The graph you asked about is a cohort retention graph, but that won't be part of the MVP (#1694) as we don't support it yet.

[2020-09-22 09:49] paolodamico commented on #1550
Will be addressed in #1279

[2020-09-22 10:00] paolodamico commented on #1144
Following @mariusandra very detailed and lively animations would be great, but if in a rush, the same implementation as we have for Persons can be used (see below). Important to note that the after the "undo period" has elapsed, the feature flag should be effectively deleted (i.e. no soft delete).

![screenshot](https://user-images.githubusercontent.com/5864173/93868687-b9d7bd00-fcc2-11ea-8be5-8e2

[2020-09-22 11:36] paolodamico commented on #1188
Depending on our roadmap plans for a query builder or direct SQL queries (like Heroku data clips), it might make sense to add a simple reference on our docs to [Metabase's DB integration instructions](https://www.metabase.com/docs/latest/operations-guide/configuring-application-database.html) in case users want to make more complex queries. Might also be worth mentioning that depending on the cust

[2020-09-22 13:29] yakkomajuri commented on #1188
I think this could be beneficial, but we just need to see where to put it. Cause it can't really be called an "integration" for us, even though Metabase integrates with Postgres and we use Postgres

[2020-09-22 14:11] jamesefhawkins opened #1697 "A/B tests"
Should we change the title of this to something more like "make URL level A/B tests easier"?

You *can* do A/B tests with feature flags, and more ( this came out of a chat that @yakkomajuri and I had on a [PR for a feature flags tutorial](https://github.com/PostHog/posthog.com/pull/438#pullrequestreview-493432969))

It is possible to improve the feature flags UX to make a/b testing more intuitive.

[2020-09-23 12:42] rousan opened #1702 "How to migrate data from old PostHog server to new PostHog server?"
## Bug description

I couldn't find any docs on data migration from one PostHog server to another. Let's say, I have deployed PostHog in one EC2 instance through Docker, but later, I want to redeploy the server in another EC2 instance without losing any data.
So, how do I transfer my old PostHog data to new one?

I am using Docker to deploy PostHog(the self-hosted version).

[2020-09-23 13:01] Twixes commented on #1702
Hi! This isn't so much a bug as rather a feature that's not explicitly supported. Basically, PostHog data migration is Postgres data migration, there isn't really more to it. I believe you should be able achieve this manually by SSHing into the EC2 instance, dumping your Postgres database, sending that dump to the other server, and applying the dumped database in Postgres on the redeployed instanc

[2020-09-23 13:07] paolodamico commented on #1702
For the Postgres data migration you can also try [AWS DMS](https://aws.amazon.com/dms/)

[2020-09-23 13:10] Twixes commented on #640
This is now explained in the UI.

[2020-09-23 13:10] #640 closed

[2020-09-23 13:25] rousan commented on #1702
Got it. Thanks for the quick response.

[2020-09-23 13:25] #1702 closed

[2020-09-23 16:40] Twixes opened #1705 "Omniscience powers for PostHog staff on PostHog Cloud"
## Is your feature request related to a problem?

Users quite often send us links to PostHog views where they're seeing some data that isn't right, in the form " https://app.posthog.com/person/<some_id>". That does not give us any edge though, as such a URL only works for users logged into a specific team.

## Describe the solution you'd like

It'd be pretty useful if (with user permission) we cou

[2020-09-23 16:50] paolodamico commented on #1705
I would definitely add an **extra explicit** allow access switch on the settings page. I would even do something similar to what Zendesk does in which granting permission can only be done for a pre-defined amount of time.

[2020-09-23 16:55] Twixes commented on #1705
Yep, absolutely, consent is important. Fun idea (not the easiest way to go about this): a popup "PostHog staff requests visibility into your account for support" with "Allow for 1 hour" and "Disallow" answers.

[2020-09-24 12:56] mariusandra opened #1709 "Better sorting for paths"
It seems that the way paths are ordered depends on the order of the input nodes. We should be smarter and sort the data beforehand to avoid things like this:

![image](https://user-images.githubusercontent.com/53387/94147472-9bfe8980-fe75-11ea-94ad-5fa9170e4099.png)

The lowest `/demo` -> `/demo/1` in the second column could be moved to the top of the second column.

That's still a mild example. S

[2020-09-24 14:32] paolodamico opened #1714 "Release weekly email report"
Release of #1700. The following lines need to be added to posthog/celery.py to release PR. Deliberately excluded to manually test the PR without sending everyone an email.

[code]

[2020-09-24 15:17] rousan opened #1716 "How to capture page view manually through API?"
## Bug description

There is an API (`.capture()`) to capture events, but is there any API to capture a page view through API like `.page(pagePath`)? I need this for using PostHog in a react app, PostHog does not capture URL changes through `react-router`.

## Expected behavior

There should an API to capture a page view manually through API.

[2020-09-24 15:23] mariusandra commented on #1716
Hi @rousan

You can use

[code]

See more [here](https://posthog.com/docs/integrations/js-integration#one-page-apps-and-page-views).

[2020-09-24 15:23] #1716 closed

[2020-09-25 12:46] stephane-klein opened #1719 "Provide non interactive Posthog setup, for instance via manage.py subcommand"
Hi,

I integrate Posthog (with Posthog docker image) in my development environment.

I need to setup Posthog via script.

For the previous Posthog version, I used this script:

[code]

This script didn't work because Posthog now provide `/preflight` page:

<img width="400" src="https://user-images.githubusercontent.com/54498080/94268444-750b8a80-ff3d-11ea-8b07-2e8962f8c183.png">

What do you think

[2020-09-25 12:57] Twixes commented on #1719
Hi Stéphane! Do you mean setting up just an account to develop and test PostHog, or setting up a production analytics instance?

[2020-09-25 13:38] stephane-klein commented on #1719
@Twixes For development environment on my laptop.

This is my current solution.

I took my inspiration on [`posthog/management/commands/setup_review.py`](https://github.com/PostHog/posthog/blob/master/posthog/management/commands/setup_review.py) to implement:

[code]

Next I execute:

[code]

[2020-09-25 13:41] Twixes commented on #1719
That's something we actually do provide already! It's command `manage.py setup_review` and it gives you a test account with email `test@posthog.com` and password `pass`, with some demo data.

[2020-09-25 13:43] Twixes commented on #1719
I don't quite understand the difference between your solution and `setup_review`, could you clarify?

[2020-09-25 13:44] stephane-klein commented on #1719
@Twixes I can change email, password, project name…

[2020-09-25 13:49] Twixes commented on #1719
So you mean `setup_review` with custom settings?

[2020-09-25 13:55] stephane-klein commented on #1719
Yes and if possible, one `manage.py` subcommand to get first Team API Key value 🙏

[2020-09-25 14:14] Twixes commented on #1719
I've added a command for API keys, but I encourage you to have a go at enhancing `setup_review` (now more aptly `setup_dev`) the way you see fit. :)

[2020-09-25 14:17] Twixes commented on #1719
Please do that on branch `dev-commands` (that is pull request #1720)!

[2020-09-25 17:16] erlend-sh commented on #585
Updated link for the Godot example: https://github.com/WolfgangSenff/KylesGodotPlugins/tree/master/PostHogPlugin

There is a dedicated solution for this in the games space called [Backtrace](https://backtrace.io/).

https://github.com/backtrace-labs/backtrace-unity

[2020-09-25 17:34] fire commented on #585
@erlend-sh I don't see a Github repo to run my own BackTrace? Is Backtrace opensource?

[2020-09-26 07:13] erlend-sh commented on #585
Nope, it’s closed source. Was just sharing it as a point of reference.

[Sentry](https://sentry.io/for/gaming/) on the other hand is a mix of open and shared source, and they also have a Unity plugin:

https://github.com/getsentry/sentry-unity

[2020-09-26 14:53] fire commented on #585
https://gitlab.com/glitchtip is a fork of Sentry before they became proprietary.

[2020-09-28 15:11] #1658 closed

[2020-09-28 15:37] GlennHyland opened #1734 "Invalid HTTP_HOST header when application and PostHog in same docker network"
When we have a Django application container in the same docker network as our PostHog deployment, we get the following error :
`posthog_web_1     | Invalid HTTP_HOST header: 'posthog_web:8000'. The domain name provided is not valid according to RFC 1034/1035.`

In Django the apps.py has the host set to below :
`        posthog.host = 'http://posthog_web:8000'
`

Adding a 'Host' entry in the header

[2020-09-28 16:38] timgl commented on #1734
Hey! I'm struggling to reproduce this locally in a test, but it looks like you've already got a solution to this? If you'd like, feel free to raise a PR to fix this here: https://github.com/posthog/posthog-python

Thanks!

[2020-09-28 19:03] timgl commented on #1693
@SvenAlHamad Hey Sven, sorry for the late reply here. I suspect the reason is that your database gets flooded whenever we do the cohort updates. What kind of server size is your database on, and how many events do you have roughly? Thanks!

[2020-09-28 19:25] #1719 closed

[2020-09-29 07:36] EDsCODE opened #1735 "QA session list and make sure offsets are handled properly"

[2020-09-29 07:38] EDsCODE opened #1736 "Event list"
- pagination
- make sure labels for $autocapture events work
- ensure elements are retrieved alongside their respective events

[2020-09-29 07:38] EDsCODE opened #1737 "Add post_event_to_webhook back to event creation"

[2020-09-29 07:39] EDsCODE opened #1738 "Get new dump of database loaded into clickhouse"

[2020-09-29 07:39] #1601 closed

[2020-09-29 07:40] #1602 closed

[2020-09-29 07:48] EDsCODE opened #1739 "Consolidate and write Tests for SQL queries"
We've written a lot of queries that get the job done. Some of them are very specific.

We should parameterize the queries more so that they can be reused more.

We should also have unit tests to make sure the queries do what we expect. For example, the query building in `ee/clickhouse/models/action.py` are untested right now

[2020-09-29 07:49] #1604 closed

[2020-09-29 07:49] #1662 closed

[2020-09-29 07:49] #1502 closed

[2020-09-29 07:49] #1663 closed

[2020-09-29 07:49] #1640 closed

[2020-09-29 07:50] #1500 closed

[2020-09-29 07:50] EDsCODE commented on #1603
refer to #1738

[2020-09-29 07:50] #1603 closed

[2020-09-29 07:56] EDsCODE opened #1740 "[clickhouse] feature flag all the endpoints"
add a flag in all the clickhouse endpoints so we can deploy and use clickhouse internally to start

[2020-09-29 07:58] EDsCODE opened #1741 "Draft local dev docs using docker"
Provide doc in the ee/clickhouse directory and posthog docs  that details how to get started on clickhouse

[2020-09-29 08:05] EDsCODE opened #1742 "[clickhouse] Improve payload serialization"
Potentially related to an escaping issue. Some urls such as `.../demo/1` are being recorded in the db as `.../demo1`

We should improve the serialization using a library such as avro or protobuf to define structure of payloads

[2020-09-29 08:25] EDsCODE opened #1743 "Restructure/fix the property storage on events"
RIght now, the properties that get stored onto the events_properties_view have have an extra set of quotes around.

This exists because the method that we use in the materialized table that splits out event properties can't extract string directly. We extractraw in order to accomodate numbers otherwise any number property would have been dropped

[2020-09-29 08:29] #1551 closed

[2020-09-29 08:42] timgl commented on #1684
@andrei-datcu Sorry for the late response here! I've created a PR that will allow you to just pass the $ip property correctly. Thanks!

[2020-09-29 10:19] yakkomajuri opened #1745 "Allow user to change their email"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like

An option on Settings to change my email.

## Describe alternatives you've considered

Manually interact with the instance if I'm self-hosting or invite myself if I'm on app.

## Additional context

#### *Thank you* for your feature request – we love each and every one!

[2020-09-29 10:27] timgl commented on #1685
@zeketEQ Apologies for the late response! One reason this can happen is because the user has multiple events on multiple days. The 'uniqueness' you get from selecting 'Active Users' is only for each interval. Does that help?

[2020-09-29 10:29] EDsCODE opened #1746 "Add cohort query building"
We originally were going to split out mapping tables but this would bloat clickhouse with too many separate tables and eventually be super unwieldy.

This ticket should integrate `format_filter_query` querying directly like we do with `format_action_filter` in all the relevant queries

[2020-09-29 10:56] #1655 closed

[2020-09-29 11:07] mariusandra opened #1749 "[clickhouse] Implement connection pooling"
I often have queries crashing when testing the app in localhost with the clickhouse backend.

From https://clickhouse-driver.readthedocs.io/en/latest/quickstart.html#async-and-multithreading

Thus the same problems will surely be present in production as well.

The solution is probably to implement [clickhouse-pool](https://pypi.org/project/clickhouse-pool/)

[2020-09-29 13:28] timgl opened #1755 "Stop actions being confusing"
There's a lot of confusion about what actions do. The suggestion is to
- rename 'actions' to 'tagged events' (placeholder)
- have much less distinction in the frontend between actions(/tagged events) and custom events to reduce the amount of stuff people need to understand
- Add an overview screen with all custom and tagged events

[2020-09-29 13:30] #1509 closed

[2020-09-29 14:18] mariusandra commented on #1755
Fully support this! The "tagged events" name seems fitting to me (though I'm probably biased since I even remember saying this name once...)

Some additional ideas:
- Under "All Events" add a few toggles:
  - [ ] Live update
  - [ ] Show only tagged events
- Remove the "live actions" page
- In the events list, next to an event name like "$pageview", show a [tag](https://ant.design/components/tag/)

[2020-09-29 14:31] mariusandra commented on #1743
If/when this gets adapted, this line should be updated:

https://github.com/PostHog/posthog/blob/379518e28519f6a624c8b85cad5579bbc61854ca/ee/clickhouse/views/events.py#L72

[2020-09-29 14:36] mariusandra commented on #1742
I think I might be to blame here.

When working on paths, I noticed demo urls events were created with `/demo/1/`, but opening that page actually gave an empty response as the real url was `/demo/1`. Same with `/2`, etc. I fixed it for postgres, but didn't

 I fixed it in the postgres demo script and the `base_url` given to postgres there, but forgot to look at the clickhouse demo script.

Fixed w

[2020-09-29 15:40] GlennHyland commented on #1734
Hey,
It looks like I jumped the gun here. The issue is with my configuration, the service name in docker-compose I use for posthog is posthog_web, and had not defined a hostname. The "_" is not allowed in the HOST name as per RFC 1034/1035 and that was what was causing the Invalid HTTP_HOST header.
I updated my docker compose to set hostname :
`   hostname: posthog-web`
and my django apps.py using

[2020-09-29 15:57] SvenAlHamad commented on #1693
@timgl I've checked the database, we're not exceeding the number of connections, CPU or storage limits. It's a `db.t3.micro` we're running at the moment. In the DB logs, there we no errors reported in the last 3 days.

In terms of a number of events, In the last 20mins, we had about 200 events.

Inside the Posthog we have about 15 cohorts ranging from 1 user to 4000 users, but none of the cohorts

[2020-09-29 16:06] #1742 closed

[2020-09-29 17:08] yakkomajuri commented on #1755
Hmm I don't know - while the name "tagged events" is more descriptive, I think it might also cause confusion in its own way. It's also going to make documents a bit confusing when there's "events" and "tagged events" spread around the text.

I do think there's work to be done to make actions less confusing, but I wonder if the name is one of them.

Definitely UX changes to app and Docs updates (a

[2020-09-29 17:32] paolodamico commented on #1734
Hey @GlennHyland! Glad you were able to figure this out and thank you for updating the issue so it's useful for anyone else running into the same problem. Closing this now.

[2020-09-29 17:32] #1734 closed

[2020-09-29 17:36] paolodamico commented on #1755
The idea is exactly that, the goal is fixing/improving the UX of actions and I think it might need a combination of better terminology, changing the product UX, improving our docs / tutorials on this. I'll work on this on my end too and we can continue the discussion here.

[2020-09-30 08:14] paolodamico opened #1763 "Dashboards color schemes"
When working on the designs for #1659, @lottiecoxon helped us create different color scheme proposals for the main dashboards 🙌 ([full design here](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?node-id=492%3A0)). Opening this issue to discuss the different proposals.

### Current color scheme
![image](https://user-images.githubusercontent.com/5864173/94660050-1bb8a80

[2020-09-30 08:17] Twixes commented on #1763
1 matches our website most, but it doesn't have much variety. Besides that option, I think the current one is pretty good.

[2020-09-30 08:49] mariusandra commented on #1763
Something to keep in mind is that the dashboard color is currently set by choosing the "color":

![image](https://user-images.githubusercontent.com/53387/94663855-74427200-030a-11eb-9621-4b39bca9f862.png)

We have people using the dashboard who have selected a specific color for their dashboards. If we do update the color scheme to for example #4, what will happen to all the people who chose "gree

[2020-09-30 08:55] EDsCODE opened #1764 "Person List"
Pagination and making sure identified users are updated/propogating

[2020-09-30 08:56] #1749 closed

[2020-09-30 11:54] #1684 closed

[2020-09-30 15:13] paolodamico opened #1775 "Improve navigation and discoverability"
## Is your feature request related to a problem?

Through numerous customer interviews we now know there seems to be a bit of an issue with our current navigation, in which a) users find it a bit hard to reach the features they need or b) users are unaware of other features/capabilities of PostHog. This [design proposal](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?

[2020-09-30 15:22] #89 closed

[2020-09-30 17:17] yakkomajuri opened #1777 "Support AND operations for cohorts"
## Is your feature request related to a problem?

*Please describe.*

Currently, Cohorts and Actions can tag multiple events/properties but only on an `OR` basis.

## Describe the solution you'd like

Support `AND` operations.

i.e. Cohort A = User has property `signed_up` **and** triggered action `Used Awesome Feature` in the last 7 days.

## Describe alternatives you've considered

Use my app's

[2020-09-30 17:23] yakkomajuri opened #1778 "Changing time range does nothing to Trend Stickiness chart"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Trend Stickiness simply doesn't work on different time ranges:

<img width="1440" alt="Screenshot 2020-09-30 at 17 21 52" src="https://user-images.githubusercontent.com/38760734/94718659-90add100-0341-11eb-942f-08a3b852e305.png">

## Expected behavior

It should work :D

## How to reproduce

[2020-09-30 17:29] yakkomajuri opened #1779 "Customizable Tables"
## Is your feature request related to a problem?

*Please describe.*

## Describe the solution you'd like

Add aspects of customization to tables, so I can select the rows and columns that make most sense to me without having the table be auto-generated as the only option

## Describe alternatives you've considered

Leave as is.

## Additional context

User feedback

#### *Thank you* for your feat

[2020-09-30 17:34] timgl commented on #1779
Duplicate of #1534 but will nudge them again

[2020-09-30 17:34] #1779 closed

[2020-09-30 17:34] timgl commented on #1534
@thedeveloperr Hey, any progress on this? :)

[2020-09-30 17:40] thedeveloperr commented on #1534
Yes. I am working on frontend first. I am new kea so taking some time.
Basically I am thinking of a modal that will open which will have all the
custom event columns user can have with a checkbox along side it. I am
reading on frontend if this data is there somewhere or if I will have to
get it from server.

On Wed, 30 Sep, 2020, 11:04 pm Tim Glaser, <notifications@github.com> wrote:

[2020-09-30 17:49] timgl commented on #1534
Awesome! Most of the columns should be returned from the backend so you should be able to select from those

[2020-09-30 21:41] Twixes commented on #1777
Idea: a pretty powerful feature here would be event chaining, e.g. user performed event `x` and then within `t` time performed event `y`.

[2020-10-01 08:02] fuziontech opened #1781 "Fix feature flags filtering for cohorts"
Depends on 1780

[2020-10-01 08:03] fuziontech opened #1782 "[clickhouse] Fix feature flags filtering for distinct id in python library"
https://github.com/PostHog/posthog-python/pull/12

[2020-10-01 08:03] #1782 closed

[2020-10-01 08:18] yakkomajuri commented on #1778
@eikooc

[2020-10-01 08:19] yakkomajuri commented on #1777
@eikooc

[2020-10-01 08:19] yakkomajuri commented on #1534
@eikooc

[2020-10-01 08:33] #1740 closed

[2020-10-01 08:35] EDsCODE opened #1783 "sessions query memory overload"
Running session query on the small amount of data on clickhouse right now causes the query to crash due to a memory limit.

My guess is that the query uses too many arrayfilters

[2020-10-01 08:44] EDsCODE opened #1784 "Switching between action and event for entity filtering doesn't show options"
## Bug description

*Please describe.*
When you switch from actions to events or events to actions when you're trying to add an entity, the list doesn't appear

*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
The list of events/actions should appear

## How to reproduce

1. Go to trends page
2. Try to add an entity
3. Switch from the selected group to the

[2020-10-01 09:32] EDsCODE opened #1785 "Per entity filtering"
Implement the query building in order to parse per entity filters

[2020-10-01 09:35] yakkomajuri commented on #1554
Closing in favor of #1144

[2020-10-01 09:35] #1554 closed

[2020-10-01 09:41] EDsCODE opened #1786 "Reduce logic dependency on "unit" tests"
## Is your feature request related to a problem?

*Please describe.*
Our backend tests should be scoped down so that they don't have several dependent segments of logic that could cause everything to break together.

For example, in unit tests related to cohorts, we shouldn't be calling `cohort.calculate_people()` and instead use the ORM to add people to the cohort manually.

## Describe the solut

[2020-10-01 10:02] #1781 closed

[2020-10-01 12:36] paolodamico commented on #1755
A few random points first:
- In terms of navigation (i.e. merge events & actions pages), I agree with @mariusandra (as is already reflected on #1775).
- We definitely can do a better job on improving the docs as @yakkomajuri suggested, and I would push on highlighting the benefits of actions more explicitly (instead of just explaining how to use them _[side note: there are still improvements to be

[2020-10-01 15:01] jamesefhawkins commented on #1755
Quick thoughts before a call, will come back:

The way to make something simpler is to remove it as far as possible.

'Labels' to me indiciates you have 1 label at a time, whereas 'Tags' indiciates there might be several.

I'd remove "live events" completely, and would instead add 'Tags' as a column in the Events page, to diminish the seeming importance.

[2020-10-01 17:09] EDsCODE opened #1796 "Release date/period filtering for retention"
add frontend components
remove feature flag

[2020-10-01 21:20] zeketEQ commented on #1685
@timgl Unfortunately not. I drilled into that same user and every event happened on that one day in June.

[2020-10-01 23:23] russellkir opened #1798 "AWS CloudFormation deployment documentation update"
## Bug description

https://posthog.com/docs/deployment/deploy-aws, CloudFormation, step 8, In AWS console Options is actually Outputs.

![Screen Shot 2020-10-01 at 7 22 47 PM](https://user-images.githubusercontent.com/11698824/94872783-7fd18e00-041b-11eb-81fc-3bb221e1768a.png)

[2020-10-02 07:45] paolodamico commented on #1755
We could try out `Tags` first, there seems to be more consensus on that it better communicates all the features of actions. Definitely keen on optimizing the way live works ([relevant design proposal](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?node-id=699%3A4) from #1775)

[2020-10-02 10:00] tino opened #1799 "Base preview on dev.Dockerfile?"
## Is your feature request related to a problem?

I wanted to get started locally. I checked the docs. As I didn't want to have to build the containers locally ([as described here](https://posthog.com/docs/deployment/deploy-docker#generic-docker-installation-tutorial)), I thought I could use the `preview` image. Then I had a hard time getting the toolbar to work, as that doesn't serve the toolbar.

[2020-10-02 11:34] paolodamico opened #1801 "UX for testing / debugging PostHog"
## Is your feature request related to a problem?

We've gotten feedback that it's a bit hard to test / debug PostHog.

## Describe the solution you'd like

I would like us to create either a sandbox mode, or guide users (in the product) to set up a test project they can use for testing / debugging purposes.

## Describe alternatives you've considered

Using a real users cohort (not very intuitive

[2020-10-02 12:02] macobo commented on #1786
Would using [pytest](https://docs.pytest.org/en/latest/) over unittest be of use here?

It has great support for creating file and test-specific fixtures. We could remove `Cohort.calculate_people` that way (make it into a fixture), cleaning up the code by moving test-only code out of the models. As the next step, we could then make newer fixtures for specific usecases based on the file/feature.

[2020-10-02 15:01] yakkomajuri opened #1803 "Creating actions with toolbar sometimes fails"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

User showed this to me on their screen. They first claimed they were unable to create an action with both a link href and selector. Then they showed this and indeed it didn't work. However, they then didn't manage to create an action even with the link href off anyway. They had previously c

[2020-10-03 08:26] mariusandra opened #1806 "Hidden elements in toolbar"
## Bug description

If there are elements in the DOM that are not visible, the toolbar shows them in weird ways. Either in the top left of the page:

![image](https://user-images.githubusercontent.com/53387/94986841-54a58680-0562-11eb-8b37-3c15ed52e5cc.png)

(screenshot clipped to protect data)

or just where they are, but overlapping with other elements:

![image](https://user-images.githubuserco

[2020-10-04 10:47] paolodamico opened #1807 "Improve feature flags model [UX]"
## Details
Currently, the feature flags model have a `name` and `key` attributes (see screenshot below), however based on how the keys are used (e.g. `billing-page`, `alt-subscription-button`) it'd be more intuitive to use the `key` more as a name, and the name as a description (allowing for more details).

![image](https://user-images.githubusercontent.com/5864173/95013099-d1edfb80-0635-11eb-9f75

[2020-10-04 10:53] paolodamico opened #1808 "Disable /preflight on deployed instances"
Currently our `preflight/` endpoint is accessible at any time, even after the instance has already been correctly deployed. We should remove these routes after the app has been deployed (i.e. at least one user has been created in the instance), to avoid potentially leaking some information about the instance's setup (as we add more functionality to this page). To accomplish this,
- The `_preflight

[2020-10-04 10:57] siddhu890 commented on #1807
Hi, can you assign me this!!

[2020-10-04 10:59] Twixes commented on #1808
I think it'd actually be OK if `/_preflight` was available all the time, as it's not sensitive data. In fact we have endpoints `/_health` and `/_stats` as well, which don't differ much, so maybe it'd make sense to merge these three "underscore" endpoints into one `/_status` that'd contain relevant instance status information?

[2020-10-04 11:00] Twixes commented on #1807
Sure, this is yours @siddhu890

[2020-10-04 11:27] siddhu890 commented on #1807
Hey, can you help me where the template resides on the project repository?

[2020-10-04 23:22] Twixes commented on #1249
Looks like just a fluke.

[2020-10-04 23:22] #1249 closed

[2020-10-05 06:07] Charuru opened #1809 "No space left on device"
## Bug description
My installation isn't working, when I ssh into the server and try to bring it back up I see this:

root@posthog-nyc3-01:~# docker-compose up -d
Failed to write all bytes for _yaml.so
fwrite: No space left on device

How do I fix this issue? What could be taking up the space?

## How to reproduce

1.
2.
3.

## Environment

- PostHog cloud or self-managed?
- PostHog version/commit

[2020-10-05 07:53] macobo commented on #1739
Note: This might be a good usecase to introduce approval testing (also known as characterization testing, snapshot testing, golden master testing).

A potential library: https://github.com/approvals/ApprovalTests.Python

[2020-10-05 08:53] Twixes commented on #1809
Hi! This looks like less of a PostHog issue and much more of a Docker one. Since Docker install its own OSes for its machines, it uses quite a bit of space. Add to that increasing database size and you can get an installation that's too large for a server that's on the smaller side. What are your server specs though?

[2020-10-05 10:37] Twixes commented on #1807
It's [FeatureFlags.js](https://github.com/PostHog/posthog/blob/93aebb9e7bac9150bd91607c8fba4708342ea4f1/frontend/src/scenes/experiments/FeatureFlags.js).

[2020-10-05 12:43] Charuru commented on #1809
Thanks, I'm using a DO with 2 VPUs, 4GB RAM and 80GB of Disk. I've been using the server with posthog for a month and have restarted once already. Do I just increase the size of disk? How do I check how large the postgres installation is?

[2020-10-05 19:15] rksm opened #1811 "Redis worker at 100% memory, posthog fails to process data"
## Bug description

Hello,

we’ve been running an AWS / Fargate posthog instance with the [default config](https://github.com/PostHog/deployment/blob/master/aws/cloudformation/ecs/posthog.yaml) for a while. We’ve medium usage, maybe 50 incoming POSTs of event data / minute. We observed multiple times that the redis worker memory usage spikes to 100%. Subsequently, the the dashboard loads but the d

[2020-10-06 08:11] Twixes commented on #1809
You should be able to check PostHog's in-container DB size with command
[code]

[2020-10-06 08:16] macobo commented on #1673
This is interesting. My 2c

This sort of gets into the domain of sentry/bugsnag/other error tracking tools or e.g. datadog.

One cool thing we could do here to integrate with these is to link into posthog from these tools to get at the user/session recording:

A recipe for doing this:
1. Implement #149
2. Hook into sentry/bugsnag on errors (can be done by e.g. hooking into `beforeSend` for bugsnag

[2020-10-06 16:03] Charuru commented on #1809
Thanks I see

pg_size_pretty
----------------
 67 GB
(1 row)

Is this a concern? It's pretty close to my limit. Should I be limiting data? Are there settings in posthog for that?

[2020-10-06 21:54] Twixes commented on #1809
That's a lot for an 80 GB disk. Could you share the major offenders (tables) as well? That'd help determine how to alleviate this. Run command:
[code]

[2020-10-06 22:05] Twixes commented on #1528
This issue is superseded by #1777 and definitely on our radar!

[2020-10-06 22:05] #1528 closed

[2020-10-06 22:12] Twixes opened #1812 "Instance status page"
## Is your feature request related to a problem?

We currently have metrics.posthog.com, which offers crucial performance information, but is a solution separate from PostHog itself. Otherwise we don't offer any metrics, which makes detecting and explaining PostHog instance problems more time-consuming for users and also for the core team.

## Describe the solution you'd like

PostHog could use an

[2020-10-06 23:53] Charuru commented on #1809
Thanks for showing the commands.

         table         |  size
-----------------------+---------
 posthog_event         | 51 GB
 posthog_element       | 14 GB
 posthog_action_events | 1281 MB
 posthog_elementgroup  | 975 MB
 posthog_person        | 118 MB
(5 rows)

[2020-10-07 07:15] Twixes commented on #1809
Thanks! Alright, so the best course of action would be to increase storage size, because that's too many events for such a small disk (best if you can increase size in place, otherwise you'll have to do some migrating). You can also of course purge old events, though that data may be valuable.

[2020-10-07 10:23] #1458 closed

[2020-10-07 11:38] J0 commented on #1538
Can I take this issue?

[2020-10-07 11:41] J0 commented on #1808
Hi,

Can I take this issue as well?

[2020-10-07 11:42] timgl commented on #1538
@j0 Go for it! The Figma file is attached. Please note that now we're talking about deleting an Organization, not a team.

BTW, at the moment we shouldn't worry about any permission level stuff. Anyone should be able to delete anything for now. We will add advanced permissioning to EE.

[PH _ Retention optimisations.pdf](https://github.com/PostHog/posthog/files/5340373/PH._.Retention.optimisations

[2020-10-07 11:46] Charuru commented on #1809
Thanks, so this all looks normal and not something like out of control logs? What's the best way to purge old events, is there a way to do it in posthog?

[2020-10-07 22:40] yakkomajuri commented on #1809
Hey @Charuru! This page might offer some insight:

[PostHog Docs - Deleting Bulk Data](https://posthog.com/docs/configuring-posthog/deleting-data)

[2020-10-08 05:16] J0 commented on #1808
Looks like there's a PR filed so I guess not D: Will look for other issues then.

[2020-10-08 05:32] samcaspus commented on #1808
hey @J0  sorry i though as no pr was made, no one was working on it. my bad

[2020-10-08 05:39] J0 commented on #1808
@samcaspus No worries! The end goal should be to resolve the issue -- doesn't matter who solves it-- so it's great that you've filed a PR :) I'll look for other issues.

[2020-10-08 08:01] jamesefhawkins opened #1822 "Create account error on developing locally"
## Bug description

* I ran through the instructions for [local development
](https://posthog.com/docs/developing-locally)
* Everything loaded and ran correctly
* I went to http://localhost:8000/signup to create an account
* I got this error:

<img width="1024" alt="Screenshot 2020-10-08 at 09 57 14" src="https://user-images.githubusercontent.com/47497682/95431127-0242dc00-094d-11eb-8981-53fd93e0e

[2020-10-08 09:58] lottiecoxon commented on #1763
## Moving this forward

Would it be possible to limit the selection of colours our users can choose? For instance we keep the original colours but then add on some more (website similar) options. Therefore we don't take away colours from current users but give new users the option for some continuity with the branding?

I want to get this in motion asap

## Options

### 1. Leave colours as they ar

[2020-10-08 10:14] macobo opened #1824 "Update rrweb upstream types"
Should we create an issue on improving upstream types?

_Originally posted by @macobo in https://github.com/PostHog/posthog/pull/1823#discussion_r501598016_

[2020-10-08 23:58] morindo commented on #1682
Any progress on this one?

[2020-10-09 02:28] edmundmunday commented on #1682
@morindo - I've gotten it working now with a bit of help from @fuziontech and some additional work we had to do ourselves.

First we had to set the "DISABLE_SECURE_SSL_REDIRECT" environment variable to 'true' for the web container in the docker-compose file.
That should get it so you can connect to the Posthog application, but it will fail to setup because of there not being SSL on the connection.

[2020-10-09 02:40] trembylene commented on #1682
The code for the Caddyfile and docker-compose file is below. YOUR_ADDRESS_HERE will need to be populated, valid address examples are listed here: https://caddyserver.com/docs/caddyfile/concepts#addresses

Caddyfile
[code]

docker-compose.yml
[code]

[2020-10-09 02:41] edmundmunday commented on #1682
`hello
world`

[2020-10-09 23:23] jamesefhawkins commented on #1775
Apologies for the slow feedback. Mini retro - there is a *lot* going on here, I should have just chunked my thoughts to get some out faster.

# First impressions

I like the style. The larger graphics and reduced text in the navigation feels simpler and more focussed on the tool's functionality versus wordy-tiered menus that require more mental effort to process.

## Palette

Whilst the sidebar fe

[2020-10-11 17:16] paolodamico commented on #1822
Can't replicate, can you replicate and take a screenshot of the failed HTTP request in the JS console?

[2020-10-11 17:17] paolodamico commented on #1822
Can't replicate, can you replicate and take a screenshot of the failed HTTP request in the JS console pls?

[2020-10-11 18:18] timgl commented on #1822
We think the reason for this was James tried to create an account, didn’t have the right password but apparently an account was already created

[2020-10-12 07:03] paolodamico opened #1836 "Bug: Event sequence registration"
## Bug description

There seems to be times when events are not registered in proper order (perhaps due to network latency, no order guarantee in background processing, libraries sending delayed requests to batch them, ...), which causes funnels not to work properly (because events are not read in sequence). See below for example of user in [sign up funnel](https://app.posthog.com/insights?insight

[2020-10-12 08:00] paolodamico commented on #1822
Got it, closing this then. I'll be adding a PR to capture these specific error events too regardless (see [thread](https://posthog.slack.com/archives/C018RGRS10S/p1602486169005700))

[2020-10-12 08:00] #1822 closed

[2020-10-12 10:00] lottiecoxon commented on #1775
#### This is some great feedback

To start:  I can have a play with the dashboard colours, but first I would like to know how bright you would like the dashboard to be. Our colour scheme is bold and as it currently stands quite limited. I could take the colours used on the features main page as well as white space, to give the dashboard a more 'PostHog' feel. I can create a mock up of this asap an

[2020-10-12 11:05] lottiecoxon commented on #1775
Are these the instructions you were talking about? @jamesefhawkins
<img width="382" alt="Screenshot 2020-10-12 at 11 04 54" src="https://user-images.githubusercontent.com/65415371/95739751-dbe9ad00-0c7a-11eb-8306-b2761f51deff.png">

[2020-10-12 11:19] lottiecoxon commented on #1775
Also what size is this dashboard supposed to be?
Comparing it to a generic desktop size its looking very small - and therefore all the text looks massive even though its 12-16 px in size- I assume the dashboard should be for desktop sizes not this smaller one?
<img width="508" alt="Screenshot 2020-10-12 at 11 17 34" src="https://user-images.githubusercontent.com/65415371/95740778-a645c380-0c7c-11e

[2020-10-12 11:47] mariusandra commented on #1775
Hey @lottiecoxon , apologies if I'm out the loop and didn't see some non-github discussions... but this issue was about the sidebar and other navigation improvements, not dashboards? I might be missing something :)

Dashboard colors seem to be discussed here: https://github.com/PostHog/posthog/issues/1763#issuecomment-705465171

[2020-10-12 11:50] mariusandra commented on #1763
Hey! Comments for the options:
1. Done!
2. Sounds good to me. We could tweak the original ones to be more in line with the palette, yet green should remain green..ish.
3. I'd advocate against this. It's not just choosing a colour for the background, but also choosing colours for the lines and/or pie chart segments. Even though these are currently generated algorithmically from the background colou

[2020-10-12 12:01] lottiecoxon commented on #1775
Oh opps - I assumed because James had included screenshots from the dashboard redesign I assumed it was what we were discussing! Happy to move my comments over to the other ticket, but some of the comments are related to icons, type and layout so I shall keep those here for now

[2020-10-12 12:02] paolodamico commented on #1775
Thanks for the feedback @jamesefhawkins, super helpful! As discussed, I'll address these changes (the profile bar, fonts, colors, language, ...) after #1755 (I'll keep everyone posted here), as we need to ship only one of these changes at a time to reliably measure the impact, and the actions stuff is more likely to have the biggest impact.

@lottiecoxon regarding dashboard colors I agree with @ma

[2020-10-12 12:04] Twixes commented on #1775
My honest gripe with this design: it doesn't exactly look coherent and modern. The shadows are a bit random, rounding applied liberally, overall I don't feel like elements fit each other. Again, just my opinion, but I'd shoot for something cleaner (linked [my proposal](https://www.figma.com/file/irDn9pKCYOrF3WHf0liOmH/PostHog-Navigation-Redesign-Alt?node-id=1%3A14) on Slack before, just as possibl

[2020-10-12 12:14] paolodamico commented on #1775
Thanks for the feedback @Twixes, definitely fair. Honestly this is a more about the UX impact than the UI, and I think that's where the most positive impact for this will come from. The shadows are not indeed standardized because to my knowledge we don't have a standard yet (other than Ant's, which we'd use for the implementation). To be honest I'm not a fan of this rounding either but it's what w

[2020-10-12 12:18] lottiecoxon commented on #1763
I started with the colours on the features page to start working from. Our colour scheme is bold and as it currently stands quite limited, I fear that these colours will be too loud.

<img width="285" alt="Screenshot 2020-10-12 at 09 47 50" src="https://user-images.githubusercontent.com/65415371/95732199-097d2900-0c70-11eb-8b4f-09e192ece83b.png">

But thanks to @embishh I have access to 'accessibl

[2020-10-12 12:18] lottiecoxon commented on #1763
If anyone wants to have a go!

https://accessible-colors.com

[2020-10-12 13:26] lottiecoxon commented on #1763
We still need to add icons but this is what I have so far

<img width="704" alt="Screenshot 2020-10-12 at 13 23 11" src="https://user-images.githubusercontent.com/65415371/95751430-23c5ff80-0c8e-11eb-813a-0b13391a789e.png">

[2020-10-12 13:42] rousan commented on #1777
Hey @Twixes, any update on this event chaining feature? Are we expecting this soon ?

[2020-10-12 16:43] timgl commented on #1811
Hey there, sorry for the late response here. You're volume is likely too high for the standard setup, so you'll need to increase the size of your instance!

[2020-10-12 18:09] embishh commented on #1763
Loving the color palette

[2020-10-12 18:26] timgl commented on #1796
#1788

[2020-10-12 18:41] timgl opened #1842 "Link to edit cohort"
## Is your feature request related to a problem?

When I'm filtering a view by cohort, I probably want to see how this cohort is made and I might want to edit it

![image](https://user-images.githubusercontent.com/1727427/95779968-5cd09500-0ccb-11eb-8b1f-8824b7ebfe8c.png)

## Describe the solution you'd like

- When filtering something by a cohort, show a link (using the <Link> component) to that

[2020-10-13 05:38] edmundmunday commented on #1523
Also seeing this error.

[2020-10-13 07:17] paolodamico opened #1843 "Bug: Monthly trends graph last X days"
## Bug description

When creating a MAUs graph with a last X days timeframe, the MAUs of the current month are counted on the data point for the last month. See screenshots below.

- Screenshot from Oct 5, MAUs between Oct 1 - Oct 5 counted on Sep data point. Oct data point not showing.
![image](https://user-images.githubusercontent.com/5864173/95827931-a43f3b80-0d34-11eb-941a-469d609d54bd.png)

-

[2020-10-13 07:23] EDsCODE commented on #1843
Not fixed with CH as the queries work the same way so go for the fix!

[2020-10-13 08:02] #1364 closed

[2020-10-13 08:25] mariusandra opened #1844 "Session recording feature flag leaking?"
## Bug description

We have a beta feature up on app.posthog.com called "session recording" (via rrweb). Search and you'll see the various PRs for it.

I'm logged in as marius.andra+kea@gmail.com and even though I'm not in the "posthog team" cohort, for which this feature flag is enabled, I see the session recording features.

## Expected behavior

I should not see the session recordings option.

[2020-10-13 08:28] macobo commented on #1844
Re skip inactive: It works, but has unintuitive semantics. Basically if there's no recording data for a period, it will speed through it faster, but e.g. mouse moves are counted as activity.

[2020-10-13 08:39] mariusandra commented on #1844
I'm not sure if it does. I had to wait 25sec before anything happened. No mouse was moved in that time and the clock moved one second every one second...

[2020-10-13 09:02] lottiecoxon commented on #1763
I will make up some icons today and show progress asap - does anyone have any other feedback for the dashboard so far?

[2020-10-13 09:04] macobo opened #1846 "Releasing session recording EPIC"
This issue aggregates work to be done for releasing #149 (session recording) to our users or to be done after the release.

# Current plan

Note the order may change.

- Implement a session recording retention cronjob (running only on cloud)
- Make sure we don't send unneccessary data in posthog.js when users have opted out: https://github.com/PostHog/posthog-js/issues/92 https://github.com/PostHo

[2020-10-13 09:27] yakkomajuri commented on #1846
A couple quick points from me:

- I played around a bit and there's more work to be done regarding blocking element recording (extending https://github.com/PostHog/posthog/pull/1834)
- We could add `optOutSessionRecording` to the `posthog-js` config
- We could definitely consider a local rrweb event store that only gets sent to the server 10% of the time + if there's an exception

[2020-10-13 10:01] timgl commented on #1846
I'd be in favour of using a similar system that we use for feature flags to decide who gets recorded, ie either filtering or a percentage of users. However I don't think this is blocking a soft release.

On the data side, there's three quick things we can do
1. By default we capture a bunch of properties for each snapshot (browser, path, os, active feature flags etc etc). To reduce size we could r

[2020-10-13 10:44] Twixes commented on #1495
We aren't running PostHog Cloud in review at the moment, but that seems to be a separate issue. Otherwise all good.

[2020-10-13 10:44] #1495 closed

[2020-10-13 11:10] macobo commented on #1846
@yakkomajuri

Did you mean in-app? Outside of the app, already made one PR upstream, waiting for feedback on it. Until that's in though we can just document rr-ignore.

Good point. This matters w/ e.g. wanting to blacklist session recording on marketing site.

Agreed in abstract. This was somewhat covered in point 1 - hoping to get some feedback on this to see what our user needs are. :+1:

@timgl

[2020-10-13 11:50] mariusandra commented on #1846
2 and 3 - currently we don't have a working plugin system with scheduled jobs. We'll have it by the end of the week, but not yet. I can take into account whatever is needed. For sure I want it to have some access to call PH API commands so we could have plugins that insert events. If that will be via the HTTP API or via `from posthog.models import Bla`, remains to be seen.

Regarding sessions, I'v

[2020-10-13 11:54] macobo commented on #1844
I managed to reproduce this by:

1. Logging out of main account
2. Logging in using my alt account, which is not under the relevant cohort
3. Verifying that `posthog.isFeatureEnabled('session-recording-player')` returns true
4. Going incognito, logging in as alt, verifying `posthog.isFeatureEnabled('session-recording-player')` returns true
5. Find my distinct id incognito. `posthog.persistence.pro

[2020-10-13 11:56] timgl commented on #1844
Ah yep, we need to call `posthog.reset()` when a user logs out.

[2020-10-13 11:56] timgl commented on #1844
Ah yep, we need to call `posthog.reset()` when a user logs out.

[2020-10-13 11:58] macobo commented on #1844
Ack, thanks for the context. Handling!

I wonder whether we'll need to document this somewhere - I think our users might run into similar issues with feature flags.

[2020-10-13 12:00] mariusandra commented on #1844
I had a conversation via e-mail with a user who was having issues with this.

The logout event could happen from wherever (e.g. 1h timeout) and it was hard for posthog-js to know when to stop associating the session with the user. We should have some recipes for dealing with these case.

They were thinking of setting a cookie "LOGOUT_PH=TRUE" after a logout, which the frontend would pick up and ca

[2020-10-13 12:00] timgl commented on #1844
[It is!](https://posthog.com/docs/integrations/js-integration#reset-after-logout)

[2020-10-13 13:40] timgl commented on #1812
The list of things we should include
- Event table size (both in MB and [Approximate size](https://wiki.postgresql.org/wiki/Count_estimate))
- Element table size (both in MB and [Approximate size](https://wiki.postgresql.org/wiki/Count_estimate))
- Redis queue size
- Possibly memory size of workers?
- Number of events in last day/week

[2020-10-13 17:33] Karolina-Bogacka commented on #1842
hi, I've read the guidelines; can I take care of the issue?

[2020-10-13 17:35] timgl commented on #1842
For sure 👍

[2020-10-13 18:34] Charuru commented on #1809
@yakkomajuri thanks, is there a solution if I don't want to have to do this all the time or should I just give up and get some bigger HDs.

[2020-10-13 18:39] Charuru commented on #1809
Also guessing a lot of my data will be from autocapture, how do I turn that off?

[2020-10-13 19:51] yakkomajuri commented on #1809
Hey @Charuru! Well you should probably increase your disk capacity. Turning off autocapture will help, but only for future events. That will reduce the flow of events, but if you're already at the limit, it won't really help.

Nevertheless, we do have [documentation on disabling autocapture](https://posthog.com/docs/integrations/js-integration#config).

[2020-10-13 20:43] timgl commented on #1842
This issue is still up for grabs if anyone wants it!

[2020-10-13 21:24] jonathanlloyd commented on #1692
Hi!
I've had a go at fixing this in: https://github.com/PostHog/posthog/pull/1859
Happy Hacktoberfest! :jack_o_lantern:

[2020-10-14 01:32] taratip commented on #1842
@timgl can I work on this issue?

[2020-10-14 06:40] paolodamico commented on #1763
My 2c:

**Color related**
- While I love the contrast of the profile picture placeholder with the blue background in the top nav bar, I get the impression we're  _spending color_ there, hindering our ability to use the blue or other dark color to emphasize another element in the page. It also gives me the impression that this might bring more attention to the top bar when using it will be not as r

[2020-10-14 06:53] #1714 closed

[2020-10-14 07:31] Twixes commented on #1532
Solved with #1847.

[2020-10-14 07:31] #1532 closed

[2020-10-14 07:46] macobo opened #1866 "Command palette shortcut clashes with chrome on win/linux"
## Bug description

In chrome on windows and linux, ctrl + k also starts search in the address bar.

See https://support.google.com/chrome/answer/157179?co=GENIE.Platform%3DDesktop&hl=en&oco=0 under address bar shortcuts

## Expected behavior

Different/non-clashing shortcut is used or avoid triggering browser search feature.

## How to reproduce

1. Use chrome/chromium on linux
2. Ctrl + k
3.
![S

[2020-10-14 07:50] Twixes commented on #1866
Hmm, how about Ctrl Shift P (like VS Code)?

[2020-10-14 07:52] macobo commented on #1866
That opens print dialog for me, but e.g. in github when writing comments they somehow prevent it.

I think there's a way to avoid the default behavior - maybe stopPropagation, preventDefault, ...?

[2020-10-14 07:52] mariusandra commented on #1866
That opens private browsing in Firefox.

CMD+K also opens the "search box" in Firefox. It used to be a separate field, but is now merged into the searchbox.

![2020-10-14 09 52 11](https://user-images.githubusercontent.com/53387/95959611-fea6cd80-0e02-11eb-94fe-c75652802f9c.gif)

There are also the

[2020-10-14 07:56] macobo commented on #1866
Potential fix which works for me:

[code]

[2020-10-14 08:22] paolodamico opened #1869 "Bug: Cmd+click opens new tab twice"
## Bug description

See screen recording below.

![image](https://user-images.githubusercontent.com/5864173/95962648-efc21a00-0e06-11eb-94ff-c91e47218688.gif)

## Expected behavior

New tab should only open once.

## How to reproduce

1. Cmd+click on any link in the app.

## Environment

- Could & self-hosted f71e011a86e63c498f82fae5c1dc6d81ac663990

## Additional context
No additional context.

#

[2020-10-14 08:42] #1159 closed

[2020-10-14 08:47] #1866 closed

[2020-10-14 08:49] timgl opened #1870 "Release 1.16.0 - 29 Oct 2020"
# Things we want to achieve

- Session recording #1846  (@macobo)
- AWS one-click deployment (@macobo)
- Plugin infra + example plugins (Marius to come up with list) (@mariusandra #1896)
- Have great UX (@paolodamico #1694 #1775 #1841 #1875, )
- Add feature flags to all client libraries (@timgl NodeJS @fuziontech mobile, go @mariusandra Ruby, php)
- Feature flag interface @timgl #1697
- Social aut

[2020-10-14 11:36] paolodamico commented on #1358
I believe this can be closed @yakkomajuri ?

[2020-10-14 11:38] paolodamico commented on #964
I think we can close this @timgl ?

[2020-10-14 11:39] paolodamico commented on #945
I believe we can close this with CH @EDsCODE ?

[2020-10-14 12:33] paolodamico commented on #1870
In addition to the above, I think we could work on:
- #1694. Per the off-site discussion (and based on Sep customer interviews), this can help us better position new users to get PostHog going.
- Based on the product strategy discussion, #1547 to push more custom events to reinforce the product analytics vs. web analytics mental model. We do need an adjustment to the designs first based on this ne

[2020-10-14 13:02] timgl commented on #1523
This is fixed!

[2020-10-14 13:02] #1523 closed

[2020-10-14 13:44] macobo opened #1881 "Cohorts navigation is weird"
I got confused when creating and editing cohorts for the first time. Wrote down my notes:

### Scenario 1: When creating cohorts via Cohorts page

What happens currently
1. Go to People > Cohorts
2. See that Cohorts is active on side nav
3. Click +
4. In side nav, "All users" page is now active, see list of users after cohort
5. Click x
6. Still on all users page

Proposal:
1. Open "new cohort" ca

[2020-10-14 13:51] macobo commented on #1869
Note: Weirdly enough, does not seem to occur on my linux + chromium setup.

[2020-10-14 14:15] paolodamico opened #1883 "Bug with posthog-js config"
## Bug description

I ran posthog-js with `{ autocapture: false, capture_pageview: false }` to avoid any automatic event capturing, however pageviews were still captured (below screenshot of request with pageview payload).

![image](https://user-images.githubusercontent.com/5864173/96001400-45fb8100-0e38-11eb-9f0a-637880c8090c.png)

## Expected behavior
- Page view events should not be sent on `ca

[2020-10-14 14:23] paolodamico opened #1884 "Share feedback in command palette is confusing"
## Is your feature request related to a problem?

The share feedback custom command has confusing UX.

- It's hard to understand that you're supposed to type the message on the command input to send it (@EDsCODE had this issue too).

![image](https://user-images.githubusercontent.com/5864173/96002424-624bed80-0e39-11eb-928d-3f33c929cc2b.png)

- I don't think it's great to have the extra email opti

[2020-10-14 14:30] Twixes commented on #1884
Sure, _ad_:
1. Agreed that it's not super clear with those 2 additional options. Can make "Send Message Directly to PostHog" a subcommand maybe?
2. We can remove the email option, added it just because it was the original "Share Feedback" command.
3. That behavior is the result of always putting global results last. Its to promote context-dependent commands. We could make the global scope equal to

[2020-10-14 15:06] yakkomajuri commented on #1144
#1761

[2020-10-14 15:07] yakkomajuri commented on #1842
@taratip go for it!

[2020-10-14 15:11] yakkomajuri opened #1885 "$snapshot events being sent for users that opted out"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Related to Session Recording (Alpha, for internal use only).

Users who opted out of capturing still get their sessions recorded.

## Expected behavior

If I opt out of capturing e.g. by setting `posthog.opt_out_capturing()` my sessions should not be recorded (i.e. there should be no $snaps

[2020-10-14 15:12] yakkomajuri commented on #1885
Probably a posthog-js issue, but the same is also true of $feature_flag_called

[2020-10-14 15:13] macobo commented on #1885
Happy to fix once https://github.com/PostHog/posthog-js/pull/87 lands :)

[2020-10-14 19:00] ahtik opened #1887 "Simplified AWS ECS deployment using Docker Compose file"
## Is your feature request related to a problem?

Deploying the whole PostHog stack to AWS takes quite some effort. There is already an [AWS CloudFormation template for Fargate](https://github.com/PostHog/deployment/blob/master/aws/cloudformation/ecs/posthog.yaml) which is great, but it's possibly not the easiest to maintain, adjust and to keep up to date.

## Describe the solution you'd like

Cou

[2020-10-14 19:31] ahtik opened #1888 "Users can not get started with a social login, must create a "manual" user first"
## Bug description

Whenever a new user tries to use GitLab or GitHub login at https://app.posthog.com/ they get an error "There is no team associated with this account! Please use an invite link from a team to create an account!".

On the other hand when creating a new account at https://app.posthog.com/signup then this user can log in and his/her Team gets implicitly created.

## Expected behavi

[2020-10-15 06:32] macobo opened #1889 "Simplify AWS CloudFormation deployment instructions"
## Is your feature request related to a problem?

The current [AWS cloudformation documentation](https://posthog.com/docs/deployment/deploy-aws#cloudformation-install-recommended) is quite wordy, making setting things up intimidating and take far too long.

## Describe the solution you'd like

The best-in-class solution and documentation for setting up ECS clusters with CloudFormation is https://g

[2020-10-15 06:48] ahtik commented on #1889
@macobo Only yesterday I also created https://github.com/PostHog/posthog/issues/1887 about a potential option for more experimental AWS deployments :)

For more production grade solutions Terraform is often used, having also Azure and GCP support and makes it easy to maintain.

I have used the Terraform scripts and applying them with CLI but there's also a "Cloud" offering to manage these deployme

[2020-10-15 06:52] macobo commented on #1889
Luckily the two issues are complementary, rather than in competition. :)

I'm generally a huge fan of CloudFormation - it worked beautifully for both setting up and managing buildkite long-term within my last org without needing to introduce a lot of new tooling.

[2020-10-15 07:35] mariusandra commented on #1869
I could replicate this on FireFox and Safari, but not on Chrome (macOS).

Fix in #1890

[2020-10-15 07:56] #1844 closed

[2020-10-15 08:00] yakkomajuri commented on #1889
I'm all for simplifying our deployment processes. We've also had quite a few users complain about CloudFormation instances.

[Metabase](https://github.com/metabase/metabase) for example credits part of their success to their ease of deployment. Definitely something we should try to smoothen out as much as possible.

[2020-10-15 08:07] mariusandra commented on #1885
@macobo Did you link to the right PR here? Or did you mean https://github.com/PostHog/posthog-js/pull/91 ?

[2020-10-15 08:07] macobo commented on #1885
Oops - https://github.com/PostHog/posthog-js/pull/91 is indeed correct.

[2020-10-15 11:01] paolodamico commented on #1884
1. Agreed!
1. Random idea, how about replacing it with submit an issue on Github? If we do move forward with this, we might even go a step further and allow them to create the issue directly from the command palette.
1. The ideal UX would be to weight the score of the fuzzy match, so context-dependent commands have a higher priority, but if a match score is considerably higher for a global command

[2020-10-15 11:07] paolodamico commented on #1881
👍 This is a great @macobo! Aligned 100% on the proposed UX.

Extending this issue, I'll also add that the Create cohort button on the users page seems a bit non-intuitive too because we use a button like this everywhere else to mean that you're creating an object for the page you're in, so maybe we should change the styling and perhaps move the location to make it more clear that you're not creati

[2020-10-15 11:51] paolodamico commented on #1881
On second thought I think we need to revamp the cohorts page and keep it independent from the users page.

[2020-10-15 12:06] paolodamico commented on #1846
On the topic of UX, I was thinking something along these lines (feel free to challenge):

- By default session recording would be turned off. We would have prompts to activate it from the cohorts page, and maybe sessions page too, as @macobo mentioned.
- When enabled, we would only capture sessions after an exception occurs (we can test the impact of this, might make sense to give users the option

[2020-10-15 13:29] macobo commented on #1881
What exactly do you have in mind here? Is it related to session recording?

[2020-10-15 14:52] mariusandra opened #1896 "Plugins Epic"
*In order to not pollute [the PR](https://github.com/PostHog/posthog/pull/1828) with discussion that will be hidden by a thousand commits, I'll describe here what is currently implemented and where do we go from here.*

# Plugins in PostHog

One of the coolest ideas that came from the PostHog Hackathon was the idea of Plugins: small pieces of code that can be installed inside posthog, providing ad

[2020-10-15 15:20] paolodamico opened #1898 "Discussion: Sidebar options"
Related to #1775, and thanks to a discussion with @Twixes, we landed on two options for the sidebar menu and we need input. **Which option should we use for the next design release?** _The only difference is the layout of the sidebar, the icons and titles are still WIP (do not consider them for this)._

## Option A
**Key benefit**: Familar layout
![wide-menu](https://user-images.githubusercontent.

[2020-10-15 15:23] timgl commented on #1898
I think I prefer 2, more space = better

[2020-10-15 15:30] EDsCODE commented on #1898
RE: layout—I also prefer 2 for the same reason above.

RE:UI—I'd suggest making the colors and texture more sleek and introduce some retro elements to create a sort of sleek retro style rather than a pure retro interface (I can try to show this better in a followup comment). I'd say the logo and posthog.com landing graphics do a fairly good job of mixing those two styles

[2020-10-15 15:31] mariusandra commented on #1898
What about both, a'la wordpress:

![2020-10-15 17 28 32](https://user-images.githubusercontent.com/53387/96151854-2df53180-0f0c-11eb-8284-d601aeb648ab.gif)

[2020-10-15 15:31] macobo commented on #1898
I really like option 2, gives the main content space to breathe :

[2020-10-15 15:32] lottiecoxon commented on #1898
I prefer the second option - it feels cleaner

[2020-10-15 15:54] yakkomajuri commented on #1898
Agree with the "Option C" people have put out where we have the second option with some sort of sub-nav

[2020-10-15 16:00] mariusandra commented on #1870
I'd like to work on [plugins](https://github.com/PostHog/posthog/issues/1896). If we could get this to a stage that can land in 1.16.0 in some format (maybe disabled by default?), it would be great. I think we're almost there.

In addition it would be good to get in some cleanup, bugfixes and UX improvement for the toolbar:
- #1803 Creating actions with toolbar sometimes fails
- #1577 Heatmaps tim

[2020-10-15 16:09] Twixes commented on #1898
Actually I vote option 2, but I'm concerned about 2 things:
1. Option "Live" doesn't seem clear (as in: as a user it's not apparent to me what "live" things can be found there) or accurate (it is live data, but it also is all historic data, so I'd also emphasize that it's not just a stream of whatever's coming in, but basically full access to event/action/session data) to me.
1. How do we lay out

[2020-10-15 21:11] EDsCODE commented on #1870
I've listed some key "themes" that could drive a release cycle. Many of the points with toolbar could go into UX. New features that we think are necessary can go under instrumentation and should be built if we believe it can help us understand users better. Plugins might fit under a separate block such as "**Exploration**"

I'm not opinionated on how to split these blocks up. We could either do al

[2020-10-16 06:59] paolodamico commented on #1870
In reply to @mariusandra :+1 on toolbar improvements, happy to work together on this if you want.

In reply to @EDsCODE,
1. Already working on point 1 of UX block too (we still need to catch up on the UI side).
1. Re: Stability; 4. 👍 and happy to help on this too, I believe that with [drf-exceptions-hog](https://github.com/posthog/drf-exceptions-hog), it should also be fairly easier to improve thi

[2020-10-16 08:15] mariusandra opened #1902 "Feature Flags and Cohorts Table UX suggestion"
## Is your feature request related to a problem?

Some easy to fix UX issues with tables in the system.

## Describe the solution you'd like

- With more than 10 rows the Feature Flags gets a useless pagination. Could we replace it with an endless load more button with a count and set the default to at least 2 screen heights" so 50+ items?
![image](https://user-images.githubusercontent.com/53387/9

[2020-10-16 08:27] macobo commented on #1896
I really like it!

One early 'internal' consumer for this could be [session recording](https://github.com/PostHog/posthog/issues/1846), but this would require:

1. *scheduled tasks* - for setting up retention pruning of data.
2. *access to models* - For reading events within the scheduled tasks as well as saving sessions moved to S3 links to a table

However now I'm thinking on this more deeply, I

[2020-10-16 08:39] mariusandra commented on #1896
I believe scheduled tasks and access to models will be easy to add. I just wanted to get all the rest solid first.

Regarding API access, you can literally now inside a plugin do:

[code]

... and then do whatever you need.

It's just not wise to do these queries inside the process_event block though. So we need scheduled tasks. This was basically already handled during the hackathon by just passi

[2020-10-16 08:43] macobo commented on #1896
No custom plugins on cloud right?

If we're exposing our models then I think we should do another refactoring first as well: either rename our root module in this repo due to the conflict with https://github.com/PostHog/posthog-python. It's more than conceivable that users would love access to both without needing to hack around it.

[2020-10-16 08:54] mariusandra commented on #1896
I think this could be a great use case for a plugin and a nice example for others to follow when making their own retention style plugins. That said, feel free to start coding this inside app and we can extract later.

[2020-10-16 09:15] lottiecoxon commented on #1898
I did not see the GIF of the menu that pops out when hovered over- this is cool and gives me kinda workspace vibes more than the other two - change my vote to C

[2020-10-16 09:17] macobo commented on #1869
Closing this since I assume this is now fixed?

[2020-10-16 09:17] #1869 closed

[2020-10-16 09:22] jamesefhawkins commented on #1896
I'm so excited by this, but I think we need to think about ensuring adoption.

Whilst making a plugin is simple, for someone outside our core team who isn't already doing local development, I don't think it's trivial - they would need to deploy PostHog locally, manually = ~12 commands.

The advantage of making this entire process end to end trivial is that we'll get more people in the community bu

[2020-10-16 09:30] jamesefhawkins commented on #1884
As a user, I also had this issue.

[2020-10-16 09:40] rksm commented on #1811
Alright, we'll try that. Thank you!

[2020-10-16 09:59] mariusandra commented on #1896
Here's another thing to consider.

Plugins are currently exported as a class with the following signature:

[code]

The classes for these plugins are loaded into python when the app starts (or a reload is triggered).
These classes are initialized (`plugin = ExamplePlugin(config)`) also on app start (or reload), but per team and only if there's a team-specific config stored for this plugin.

This m

[2020-10-16 10:10] macobo commented on #1846
Thanks @paolodamico, this is great input and I like the design!

Some considerations:

- I think we want to turning on all session recordings on small instances - cohorts require a lot of setup to get to the sweet spot. Maybe link to a "All users" cohort from settings page or allow setting a global capture percentage?
- We have no way of detecting when errors occur currently - there's future work

[2020-10-16 10:20] macobo commented on #1870
Not many strong opinions from me this time - still getting my feet wet.

- Session recording - we want this released so we can get some feedback!
- +1 on releasing plugins: In addition to unlocking some great use-cases in it's own right, session recording would also benefit from it. See https://github.com/PostHog/posthog/issues/1846#issuecomment-709955786 for more details.
- After testing it out,

[2020-10-16 11:32] macobo commented on #1889
Most of this has been improved, one specific suggestion under https://github.com/PostHog/posthog.com/issues/528

[2020-10-16 11:32] #1889 closed

[2020-10-16 11:55] Twixes commented on #1870
Definitely agree that we should be polish the user experience here and there.
Personally, I think one quite simple thing we could do that'd definitely improve user acquisition would be making social logins a frictionless experience: creating an account from scratch simply by logging in with GItHub, GitLab or Google (#1888 and #1594) – as opposed to social login's current state, which makes it diff

[2020-10-16 12:04] weyert opened #1903 "Allow feature flags to be for time limited"
## Is your feature request related to a problem?

I would like to be able to automatically disable a feature flag after a specific time. For example, Halloween and Sinterklaas are coming up. I think it would be nice to be able add feature flags which are only active for like 25-31 October and after 31 October it automatically disable.

## Describe the solution you'd like
 I think we could add Star

[2020-10-16 13:06] macobo opened #1904 "Listening for events page whites out after a while"
## Bug description

Listening for events page becomes fully white after a while if a request to /api/user fails.

Before:

![Screenshot from 2020-10-16 16-02-08](https://user-images.githubusercontent.com/148820/96261338-fdbf9880-0fc8-11eb-9948-9fb060f30dc8.png)

After:

![Screenshot from 2020-10-16 16-06-22](https://user-images.githubusercontent.com/148820/96261780-8dfddd80-0fc9-11eb-96f5-5cf523a7

[2020-10-16 14:07] EDsCODE opened #1909 "Actions aren't appearing when you try to view them in dropdown"
## Bug description

*Please describe.*
If you try to add an entity and start on the raw events dropdown, clicking on actions will show nothing
*If this affects the front-end, screenshots would be of great help.*
<img width="423" alt="Screen Shot 2020-10-16 at 4 05 29 PM" src="https://user-images.githubusercontent.com/13127476/96268637-48282180-0f97-11eb-886c-6245c7a74baf.png">

## Expected behavio

[2020-10-16 14:16] yakkomajuri commented on #1870
A little late but I agree with most of what's been said above.

I'd like to emphasize the importance of bug squashing. Just the other day I listened to a podcast where someone was talking about bug reporting fatigue, where you just encounter so many bugs regularly that you stop reporting them. Honestly, app right now feels like that sometimes.

Beyond improving the overall UX, fixing the small bug

[2020-10-16 14:59] jamesefhawkins commented on #1870
Thoughts:

# Core functionality

* Session recording (@macobo)

This is nice as it is going to be an instant value add for users, so would potentially help retention immediately.

* Plugins (@mariusandra #1896)

This is strategic and will set us AND users up to build something more useful long term.

* Feature flags

These keep coming up on user calls, but we're not really analysing their usage mu

[2020-10-16 16:37] yakkomajuri opened #1910 "Broken responsive nested navigation"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

<img width="797" alt="Screenshot 2020-10-16 at 17 37 08" src="https://user-images.githubusercontent.com/38760734/96284969-3e71de80-0fd6-11eb-82d4-46c5480ca2b2.png">

## Expected behavior

Hide the nested menu.

## How to reproduce

1. Visit PostHog and make your screen smaller
2.
3.

## Env

[2020-10-16 16:39] yakkomajuri opened #1911 "Responsive navigation overlay doesn't cover entire page"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

<img width="889" alt="Screenshot 2020-10-16 at 16 57 40" src="https://user-images.githubusercontent.com/38760734/96285073-5e090700-0fd6-11eb-9014-6b72e30b9302.png">

## Expected behavior

Overlay and sidebar cover the entire height of the window

## How to reproduce

1. Open the PostHog nav

[2020-10-16 16:43] yakkomajuri opened #1912 "Local Docker Compose deployment doesn't work"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

From a contributor, running Docker Compose locally does not load the frontend. Seems like a webpack issue:

![Screenshot from 2020-10-16 17-18-32](https://user-images.githubusercontent.com/38760734/96285490-f2736980-0fd6-11eb-8283-0364c83732bc.png)

## Expected behavior

Deployment should w

[2020-10-16 17:01] yakkomajuri commented on #1870
So I wasn't sure of a specific "feature" to work on because I would have wanted to discuss what my priorities should be. Nevertheless, here are my thoughts so the issue can be updated, and to get feedback on it (especially from @jamesefhawkins).

For the next 2 weeks, my goals would be:

**- A proper deep refactor of the website**

I started off thinking of a smaller refactor but think that at thi

[2020-10-16 17:06] yakkomajuri commented on #1784
Closing in favor of #1909

[2020-10-16 17:06] #1784 closed

[2020-10-16 17:08] #1809 closed

[2020-10-16 17:13] yakkomajuri opened #1913 "Person name missing on person page"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

<img width="1440" alt="Screenshot 2020-10-16 at 18 12 26" src="https://user-images.githubusercontent.com/38760734/96288398-4718e380-0fdb-11eb-962e-e9a23ad2a61e.png">

## Expected behavior

Person name/email should appear.

## How to reproduce

1. Visit a person page on PostHog
2.
3.

## Env

[2020-10-17 13:53] mariusandra commented on #1896
I went with option 2 for now.

Also, I made a small TODO list.

## Bigger features:
- [ ] scheduled plugins via celery
- [ ] frontend plugins
  - [ ] sidebar tab ()
  - [ ] random js (live chat)
  - [ ] chart type (world map)

## Dev Experience:
- [ ] extract shared posthog code to pip lib
- [ ] add tests inside plugins
- [ ] integrate with some online editor (github codespaces?) and directly run

[2020-10-17 15:17] thedeveloperr commented on #1912
https://posthogusers.slack.com/archives/C019E06QDG8/p1602945443068000
From this slack message a fix is:

Patching `webpack.config.js` worked
[code]

Wait for the webpack build to finish, watch the logs to be sure.

[2020-10-17 15:59] mariusandra commented on #1912
I think the correct fix would be to set the default host to `0.0.0.0` instead of `127.0.0.1`, leaving the env option there as well

[2020-10-17 16:03] thedeveloperr commented on #1912
Yes i am testing that fix too. I will update and create a PR

[2020-10-17 20:16] mariusandra opened #1920 "Send events overlay background broken"
## Bug description

This image doesn't load:

https://posthog.s3.eu-west-2.amazonaws.com/preview-action-trends.png?1602965696886

![image](https://user-images.githubusercontent.com/53387/96352770-54f76300-10c6-11eb-9383-ec9e9a63b575.png)

#### *Thank you* for your bug report – we love squashing them!

[2020-10-17 21:02] afarbman commented on #1745
Hey, I'd like to give it a go.

[2020-10-17 22:57] timgl commented on #1745
Go for it!

[2020-10-18 02:35] thedeveloperr commented on #1912
Leaving the env option didn't work. Setting to 0.0.0.0 only worked. Now I have not created a PR because I am not sure yet what other unrelated repercussion will this have.

[2020-10-18 10:22] yakkomajuri commented on #1691
Can't reproduce with demo data

<img width="1440" alt="Screenshot 2020-10-18 at 11 21 54" src="https://user-images.githubusercontent.com/38760734/96364783-3334c500-1134-11eb-9a1a-21aa2a333957.png">

[2020-10-18 10:24] mariusandra commented on #1691
This got fixed when I converted the paths page to typescript when also working on the paths clickhouse query.

[2020-10-18 10:24] #1691 closed

[2020-10-18 10:24] yakkomajuri commented on #1691
Got it!

[2020-10-18 10:32] mariusandra commented on #1912
Hey @thedeveloperr hopefully https://github.com/PostHog/posthog/pull/1922 that just got merged will fix this! Feel free to reopen if that's not the case.

[2020-10-18 10:32] #1912 closed

[2020-10-18 12:58] yakkomajuri commented on #1910
This now _appears_ fixed for me on `master` although not on app yet.

[2020-10-18 20:20] #1736 closed

[2020-10-18 20:20] #1796 closed

[2020-10-18 20:20] #1785 closed

[2020-10-18 20:21] #1738 closed

[2020-10-18 20:21] #1746 closed

[2020-10-18 20:23] #1735 closed

[2020-10-19 05:50] paolodamico commented on #1909
Based on #1784 it looks like this was happening before #1841, I'm relieved that we're not breaking new. I'll jump into this ASAP.

[2020-10-19 08:07] yakkomajuri commented on #1913
This is now fixed on app.

[2020-10-19 08:07] #1913 closed

[2020-10-19 08:55] #1904 closed

[2020-10-19 09:37] mariusandra opened #1928 "Hidden properties applied to the middle of the list"
## Bug description

When clicking "3 hidden properties. Click here to show", I have to play a game of clue to figure out which added properties are hidden and which are not.

![2020-10-19 11 35 56](https://user-images.githubusercontent.com/53387/96427829-4eb8d200-11ff-11eb-8173-2ec8f83262cb.gif)

## Expected behavior

The hidden properties would show up in the bottom of the list.

#### *Thank you*

[2020-10-19 09:39] #1911 closed

[2020-10-19 09:52] #1920 closed

[2020-10-19 10:29] mariusandra commented on #1896
For those following along, experimenting with plugins on Heroku, I have run across a new and unexpected issue!

![image](https://user-images.githubusercontent.com/53387/96428804-7d837800-1200-11eb-8d57-2f1daf96a746.png)

The PUBSUB worker reload code creates too many connections to Redis, making the app unusable on Heroku with the free redis instance. Celery is consistenely running into `"redis.ex

[2020-10-19 11:07] EDsCODE opened #1929 "Person_id on event table"
**Some recap points:**

- We want to put person_id onto the events table because this will allow for the most direct queries. for nearly every query we have for analytics, direct access of person_id on the event row will dramatically reduce query times.

- We don’t need to worry about storing person properties on the event row. In fact, we don’t want to because person properties change. Person pro

[2020-10-19 12:08] yakkomajuri commented on #1910
Wondering though about the tone of the nested sidebar. I remember someone mentioning it should be consistent with the rest of the sidebar. Making it a little darker wouldn't be bad either though.

## Current
<img width="700" alt="Screenshot 2020-10-19 at 13 06 34" src="https://user-images.githubusercontent.com/38760734/96448895-f20fe400-120b-11eb-8a7e-e6ceb608cc4f.png">

## Same as sidebar
<img wi

[2020-10-19 12:10] Twixes commented on #1910
I think it was me, and I'd say the darker version looks pretty good (maybe slightly less dark?)

[2020-10-19 13:05] #1884 closed

[2020-10-19 13:22] paolodamico commented on #1898
Ok so we're aligned on trying option C as described above, so closing this issue to continue conversation on main (#1775). Will share updated design today. @Twixes great points, will try to address them in the updated designs + https://github.com/PostHog/posthog.com/pull/501

[2020-10-19 13:22] #1898 closed

[2020-10-19 15:06] Twixes opened #1932 "Add active database backend indicator to frontend"
## Is your feature request related to a problem?

Currently it's hard to say as a user from the frontend whether you're on the Postgres backend or on the Clickhouse one.

## Describe the solution you'd like

We could send the relevant backend back in `/api/user/`, and show an indicator in the corner (or somewhere) which would say whether it's Postgres or Clickhouse. This could be especially reassu

[2020-10-19 16:16] FUSAKLA opened #1935 "Weekly report email flood"
## Bug description
Hi, I upgraded to 1.15.0 version and experienced flood of weekly report emails cca 140 emails in 2 hours.

## Expected behavior
Get the report once a week

## How to reproduce

1. 10:00 - Upgraded from 0.14.0 to 0.15.0
2. 17:00 - PostHog starts to generate celery tasks for weekly report.
3. 18:00 - Rollback to previous version and cleanup the queue.

## Environment
- Upgrade fro

[2020-10-19 16:34] lottiecoxon commented on #1775
@paolodamico before I get started making these up - are the general concepts good or bad? Be honest as I would like to have these designs done asap
![Untitled_Artwork-12](https://user-images.githubusercontent.com/65415371/96479761-e8e14000-1228-11eb-85e2-d16f81adb97c.jpg)

[2020-10-19 17:01] paolodamico commented on #1775
Thanks @lottiecoxon! Hope we can get feedback from everyone else too. Sorry for the weird order.

- For events I like the last one best but I'm still unsure if this is the best option for events.
- For feature flags maybe have two different flags and even a way to distinguish them?
- Toolbar I might consider something less generic that we might reuse as the toolbar "logo" (something in between wha

[2020-10-19 17:05] paolodamico commented on #1935
Thanks for reporting! We've temporarily disabled these emails with #1934 while we work on a permanent fix. We'll also release a minor version with this change. Apologies for the inconvenience.

[2020-10-19 17:16] yakkomajuri commented on #1775
As a general rule of thumb, I'm in favor of keeping these as simple as possible.

That means e.g. for the retention magnet we don't need the little bolt, maybe just the magnet.

Everything looks good to me with the exception of events (too crowded), and maybe the toolbar. The toolbar incites a feel of "settings" to me, which is not something I want to click.

[2020-10-19 17:27] jamesefhawkins commented on #1775
* I think the last events one looks too much like the way a database is often represented. It's close but not quite the same thing. Sorry that I'm struggling to come up with an alternative concept.
* Toolbar looks like a settings page
* Agree with comments above elsewhere

[2020-10-20 01:42] fuziontech commented on #1929
So currently on the Postgres only setup of Posthog: an event comes in with a `distinct_id` that we haven't seen yet we create a person and add the `distinct_id` to that person. If an identify event comes in that associates that `distinct_id` with an existing person we associate the `distinct_id` with the person referenced in the indent and remove the originally created person when we saw the new `

[2020-10-20 02:38] fuziontech commented on #1929
As an anecdote to show that we could even pin the person properties to the event here are the current stats for number of events per person on production currently:

`SELECT
    count(1) AS freq,
    countDistinct(pdi.person_id) AS peep,
    count(1) / countDistinct(person_id) AS events_per_person
FROM events AS e
INNER JOIN person_distinct_id AS pdi ON e.distinct_id = pdi.distinct_id`

There are

[2020-10-20 05:32] paolodamico commented on #1775
Ton of updates on this, opening for another round of feedback.

- Please review fully updated design [on Figma](https://www.figma.com/file/gtW3o3VKYvf04ws8cZM3Nr/PH-Retention-optimisations?node-id=635%3A28).
- https://github.com/PostHog/posthog.com/pull/501 has been updated too with the new proposed navigation items (particularly based on #1828, #1562, #1875). Please note **the design does NOT ref

[2020-10-20 05:50] paolodamico opened #1936 "Retention cohorts graphs"
## Is your feature request related to a problem?

Analyzing retention with just the table is not enough. Different visualization mechanisms provide different information. Cohorts graphs are paramount when analyzing retention, as they provide information on the tendency of retention, where the retention stabilizes, shape of retention, among other things.

## Describe the solution you'd like

Graph

[2020-10-20 07:45] paolodamico opened #1937 "Fix weekly email report"
Fix release from #1860 (hotfix #1934).

- Cron job to send weekly email report is processed multiple times. Review scheduling process to send to only one worker.
- Implement mechanism to ensure each email is sent only once to each recipient.
- Improve the way the async task is processed by creating a separate task for each organization, instead of processing all organizations in a single task.

[2020-10-20 07:49] paolodamico opened #1938 "Improve processing for weekly email report"
## Is your feature request related to a problem?

The weekly email report may require a long running async task on large events volumes, which can cause workers to get clogged up.

## Describe the solution you'd like

We should include a version of the report generated with CH queries (if CH is available) to speed up processing and reduce resources consumption.

## Describe alternatives you've con

[2020-10-20 07:55] paolodamico opened #1940 "Improve celery logging"
## Is your feature request related to a problem?

Related to the weekly email issue from Oct 19, we need more comprehensive logging to understand what's going on with async tasks.

## Describe the solution you'd like

Add more verbosity to celery logs (including task processing time) + implement an easy and scalable way of consuming and searching through logs for the cloud version.

## Describe al

[2020-10-20 09:42] lottiecoxon commented on #1775
Great feedback guys- could someone better explain to me what an event is? is it the data collected from the path that a user takes through the app/product... OR is it instead one click equals one event? I feel that the issue with these icons is my misunderstanding of the terms

[2020-10-20 09:59] mariusandra commented on #1929
Yuri pm

[2020-10-20 11:03] lottiecoxon commented on #1775
Feedback please!

![icon ideas](https://user-images.githubusercontent.com/65415371/96577870-d49e5100-12c3-11eb-8145-1853e05c012f.jpg)

[2020-10-20 11:15] paolodamico commented on #1775
- Like retention & feature flags! Maybe feature flags could be crossed instead of together? Not sure.
- If we're going to start using general filled icon style in the sidebar (which I'm 100% for) I'd go with option A for actions.
- For events I think the first one is too convoluted. I like the second option but I get this feeling that it might mean something else already elsewhere

[2020-10-20 11:36] mariusandra commented on #1929
Here's my 0.02 CAD:

I like the idea of adding every event again to the database with a new person_id when a distinct_id is aliased to another person. It sounds bold! Will it scale though? Probably, if we just change the min number of rows on each merge (e.g. replacing the logged out person_id with 20 events and not the one with 2000 events).

That said, I'm not sure if CollapsingMergeTree is the

[2020-10-20 12:39] timgl commented on #1807
@siddhu890 Any progress on this so far?

[2020-10-20 13:40] fuziontech commented on #1929
The big issue here is that this isn't 30 sec problem. An anonymous user could use something for days before being aliased to an existing user you will need to update that person_id on the event. I'm pretty certain that it's either the collapsing merge tree with a ton of updates (which to be fair yandex uses examples of crazy update volumes in their example of how to use them and how they use it on

[2020-10-20 14:07] fuziontech commented on #1929
Quick distribution of events per distinct_id:
[code]
[code]

The vast majority (99.45%) of distinct_id's have 5k or lower events

[2020-10-20 14:12] EDsCODE commented on #1929
It does seem to me that the solution to aliasing is re-emiiting everything as I'm not sure if we have any other ways around it because the timing is so uncertain. I actually am pretty confident this can work because Clickhouse appears to be way more happy with eating up tons of events and deduping through aggregation rather than actually trying to update previously inserted data

Just so we're cle

[2020-10-20 16:25] lottiecoxon commented on #1775
# Thoughts?

Just realised that the magnet could be made smaller and chubbier so I will get on that now.

<img width="101" alt="Screenshot 2020-10-20 at 16 22 28" src="https://user-images.githubusercontent.com/65415371/96615324-a4b97280-12f0-11eb-9a44-8c171f96c938.png">

## Toolbar icon redesign

![Untitled_Artwork](https://user-images.githubusercontent.com/65415371/96615188-805d9600-12f0-11eb-9fd

[2020-10-20 22:16] macobo opened #1949 "Have separate workers/queue for event ingestion"
## Is your feature request related to a problem?

During https://github.com/PostHog/post-mortem/pull/2, one issue raised was that slow-running jobs can slow down data ingestion, leading to data latency and other problems.

## Describe the solution you'd like

We could run specialized workers (or a separate queue) for event ingestion, and limit the amount of "other" jobs that run in parallel.

## D

[2020-10-21 07:15] paolodamico commented on #1611
Updated description to reflect changes from #1562.

[2020-10-21 08:31] paolodamico commented on #1694
#1942 introduces the capability to create dashboards from templates as well as the template described in this issue, what's missing to close this issue is:
- The template must automatically be used after creating a new project for an app (which includes after sign up) [functionality behind feature flag].
- We need to implement the empty states (see [Figma file](https://www.figma.com/file/gtW3o3VKY

[2020-10-21 09:22] mariusandra commented on #1929
Re: to @fuziontech 's points:

Totally agreed, just the 30sec buffer could be enough to prevent 90% of these cases from occurring, taking load off the rest of the database. Might be an unnecessary last mile optimisation, but good to know it's there if/when needed.

Here's my issue with CollapsingMT: "grab the event state" is not deterministic.

First, CH reads are heavy AFAIK, that's why we moved

[2020-10-21 09:31] mariusandra commented on #1929
Re: to @EDsCODE

Can't we leverage the client libraries and just also send the `person_id` with each event once an identify call has been made? Plus I'd also send a `fresh_distinct_id` flag if the reported `distinct_id` is newly minted or if it was used previously, saving some lookup queries.

Other than that, postgres is probably fine for storing this person<->distinct mapping, though I still wou

[2020-10-21 12:53] Rcjuk commented on #1811
When we say 'increase the size of your instance!' what do we mean here? I've only starting noticing this issue myself recently, never ran into this before upgrading.

[2020-10-21 13:17] timgl commented on #1811
@Rcjuk In general upgrading memory, cpu etc should help. However if this only happened because you've upgraded that is a little bit more worrying. What version did you upgrade from? Also could you post a screenshot of your Status page (Under settings in the sidebar)

[2020-10-21 13:35] macobo opened #1955 "posthog.identify does not add attributes"
## Bug description

It seems posthog.identify call is doing nothing on cloud.

## Expected behavior

posthog.identify should update user properties, as per https://posthog.com/docs/integrations/js-integration/

## How to reproduce

1. Go to app.posthog.com, log in
2. Find your person
3. Call `posthog.identify(posthog.get_distinct_id(), { tester: 'attribute' })` and refresh
4. Refresh, see attribut

[2020-10-21 13:47] mariusandra commented on #1811
@timgl this mojght be related and I don't have to dig into this today, but while working on the plugins, I noticed the redis instance on the Heroku preview app had over 100k keys stored, despite being what I would consider a rather minimal setup.

![Screenshot_20201021-154438](https://user-images.githubusercontent.com/53387/96728415-62f20000-13b4-11eb-9bb5-9d3532e8f7c6.jpg)

Those keys seem to hav

[2020-10-21 13:59] Rcjuk commented on #1811
<img width="994" alt="Screenshot 2020-10-21 at 14 48 19" src="https://user-images.githubusercontent.com/1845743/96728897-7731ff00-13ac-11eb-9ced-f27d9f233eea.png">

Before these spikes started I don't recall having any issues with Redis at all. I bumped Redis to a bugger instance but it just kept going up.

<img width="532" alt="Screenshot 2020-10-21 at 14 57 24" src="https://user-images.githubuse

[2020-10-21 14:01] timgl commented on #1811
Yeah a bigger redis instance won't help as it will just increase the problem the workers have to deal with. What kind of hardware is your instance on currently? And how are you deployed (AWS/Heroku etc?)?

[2020-10-21 14:05] Rcjuk commented on #1811
<img width="586" alt="Screenshot 2020-10-21 at 15 03 47" src="https://user-images.githubusercontent.com/1845743/96730954-a184bc00-13ae-11eb-8a4c-c0ff34fc976a.png">

Fargate 2x the above. Just bumped up to four but I suspect the events are stuck in Redis and not being porcessed?

Maybe the table needs partitioning but not quite sure how to run the partition scripts within the context of Fargate.

[2020-10-21 14:09] timgl commented on #1811
It could also be database constrained, so might be worth checking if that is under strain. If the database and workers have ample capacity they should start clearing down the redis queue.

In the meantime we'll see if we can find anything that indicates why this is suddenly happening after upgrade

[2020-10-21 14:24] Rcjuk commented on #1811
Database seems to be normal. Nothing standing out in the metrics. 👍

Just looks like the events are stuck in Redis.

[2020-10-21 16:52] Whoismitchjones opened #1958 "Funnel not rendering on app.posthog.com"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

## How to reproduce

1.
2.
3.

## Environment

- PostHog cloud or self-managed?
- PostHog version/commit

## Additional context

#### *Thank you* for your bug report – we love squashing them!

[2020-10-21 16:56] Whoismitchjones opened #1959 "Funnel Not rendering on app.posthog.com"
## Bug description

**My funnels many times never render, and i get a weird error when they don't. Not sure what to do but would love to be able to use the funnel.**

*If this affects the front-end, screenshots would be of great help.*
![image](https://user-images.githubusercontent.com/73150095/96752453-5608e880-1383-11eb-9783-22061d90fe0b.png)

## Expected behavior: Funnel Should render

## How t

[2020-10-21 19:00] razor-x commented on #1645
Sorry for no updates in a while. Flags have been working better for me since adding the extra reload.

[code]

I am already using a one minute polling interval for updates, so the extra call is not much overhead for the safety it provides. I agree though it should not be needed, so I may try removing it to see if any of your recent updates have fixed the bug.

[2020-10-21 19:06] lottiecoxon commented on #1775
The colours are inspired by the _classic_ PostHog logo, and done in the 8 bit style, personally I think these are **very fun**, but unsure if they are too distracting - happy to do them in a more toned down monotone. Let me know chaps

![new 8 bit icons](https://user-images.githubusercontent.com/65415371/96770733-3e0b8600-13d0-11eb-972e-6d5b2322ffdc.png)

[2020-10-21 19:17] paolodamico commented on #1775
They look so cool as standalone icons but I'm thinking that more monotone would be better for this use case. Also, I know this is just an experiment but I'm concerned about how this style of icons will look with the rest of the app using Ant's (might just be a matter of trying it out)

[2020-10-22 06:54] macobo commented on #1955
## Debugging

So looking at `posthog.js` code ([link](https://github.com/PostHog/posthog-js/blob/b2618295d3ae679f91fbfab3eff514141fd90d5d/src/posthog-core.js#L1004-L1048)) for `.identify` it seems like the functionality described here (adding user properties) does not really exist.

We're however using it incorrectly inside our own codebase: https://github.com/PostHog/posthog/blob/f8788287dbb2f749

[2020-10-22 07:01] mariusandra commented on #1955
This *might* be happening in other client libraries. Worth a check.

[2020-10-22 07:26] macobo commented on #1955
Good idea.

All other client libraries support setting properties as part of identify calls (though with varying signatures):

- Posthog-IOS allows `properties` as part of `.identify` call: https://github.com/PostHog/posthog-ios/blob/eef50f23c637102f28b4383500388c300129c4c5/PostHog/Classes/PHGPostHog.m#L207-L220
- Posthog-Android allows `properties`: https://github.com/PostHog/posthog-android/blob

[2020-10-22 08:12] J0 commented on #1538
Cool, thanks! Went dark a bit due to midterms -- will get to this issue this weekend.

[2020-10-22 08:58] #907 closed

[2020-10-22 08:58] #1540 closed

[2020-10-22 12:13] paolodamico opened #1983 "Email-related housekeeping"
Related to #1954, we need to do the following tasks for housekeeping / clear tech debt purposes:

- Remove `UserMessagingRecord` from `posthog-production` [models](https://github.com/PostHog/posthog-production/blob/e9fefd2c4a58122b3b5f4ce15b5521d76f199fcf/messaging/models.py#L5) in favor of the `MessagingRecord` model introduced in #1954.
- Create cron job to clean old records (e.g. > ~3 months ol

[2020-10-22 13:08] macobo opened #1985 "Event properties stored in DB can contain noisy data"
## Bug description

Our event properties are currently really messy - we store non-event data inside our event properties by accident.

## Expected behavior

Non-event properties should not be included in events.

## How to reproduce

One example:

1. call `posthog.identify('new-identity')`
2. check `Event.objects.last().properties`
3. see keys like `distinct_id`, `token`

## Environment

- PostHo

[2020-10-22 13:12] macobo commented on #1985
Related bug: We store $identify calls as events as well.

Noticed we do `data.get("properties", data.get("$set", {}))` in process_event (and in ee) which ignores $set properties a lot of the times.

[2020-10-22 13:15] #1743 closed

[2020-10-22 14:26] SherinBloemendaal commented on #191
Is this still going to be implemented?

[2020-10-22 16:46] #1937 closed

[2020-10-22 16:50] jamesefhawkins commented on #191
Yes it is! We're about to release the beta version of Plugins, which in its first phase will let you modify events as they come in... and one of the first example plugins combines event data with geoip data to do exactly this! I'll make sure we tag this issue when they're live.

This is likely to be next week, but I do not want to guarantee it as it's a big piece of functionality :)

[2020-10-23 02:59] paolodamico commented on #1958
Duplicate for #1959

[2020-10-23 02:59] #1958 closed

[2020-10-23 03:02] paolodamico commented on #1935
Hi @FUSAKLA this issue is now fixed with #1954, thanks for the patience.

[2020-10-23 03:02] #1935 closed

[2020-10-23 03:19] paolodamico opened #1995 "Improvements to retention view"
Here is some feedback (bugs & improvements) from the new version of retention using CH.

- [UX] Set default date so that the current period (today, this week, ...) is the last period shown. By default the date is set to last week, but then you see a graph that's very empty (and it could lead you to think at first that something is wrong). You'll almost always want to see as much past periods as po

[2020-10-23 07:20] FUSAKLA commented on #1935
Great, thanks for the quick fix! :+1: :tada:

[2020-10-23 07:26] macobo opened #1996 "Make feature flags toggleable in development/testing environments via toolbar"
## Is your feature request related to a problem?

This idea comes from [this feeback] by customer: https://github.com/PostHog/posthog-js/issues/100#issuecomment-714896659

Specifically:

This is 100% true and rather scary - we're making it hard to test what you write.

Our users need a solution for:
- Testing out feature flags locally w/o needing to use production posthog (due to data pollution, n

[2020-10-23 07:29] mariusandra commented on #1996
Related and possible additional context in https://github.com/PostHog/posthog/issues/1048

[2020-10-23 07:29] macobo opened #1997 "React integration for feature flags"
## Is your feature request related to a problem?

Our user needed to roll his own solution for refreshing feature flags: https://github.com/PostHog/posthog-js/issues/100

We can provide tools to help them.

## Describe the solution you'd like

Provide a hook, component or some other standardized way to use feature flags in react code which reacts (hah) to feature flags changing.

Stretch: provide

[2020-10-23 07:34] mariusandra commented on #1997
Copy/pasting the [kea](https://kea.js.org)-specific code here for others to take inspiration from:

[code]

The concepts should translate to the react hook syntax with a bit of work.

[2020-10-23 08:05] mariusandra opened #1998 "Disable opening top-level sidebar menu"
## Bug description

This behaviour is ever so slightly frustrating:

![2020-10-23 10 02 35](https://user-images.githubusercontent.com/53387/96972638-0a874380-1517-11eb-940c-8adc813cb3e1.gif)

## Expected behavior

On mobile, with a collapsing sidebar, when I want to visit "sessions" and click "Events" to expand the menu, the sidebar should remain open and the "All Events" page shouldn't open by de

[2020-10-23 08:08] paolodamico commented on #1998
Love the creative use of the command palette in the gif.

[2020-10-23 08:19] timgl commented on #1996
The appropriate functions are already implemented in posthog-js:

`posthog.feature_flags.override(['beta-feature'])`  will get rid of all flags and just enable beta-feature
`posthog.feature_flags.override(false)` will go back to posthog-supplied flags

[2020-10-23 08:24] macobo commented on #1996
@timgl Agreed - the proposed solution would be built on top of this, also mentioned it in the proposal. However I think just documenting it doesn't solve the pain points described above.

[2020-10-23 08:28] timgl commented on #1996
Oops read over that. yes agree, was just making sure you were aware :)

[2020-10-23 08:33] macobo commented on #1949
Relevant documentation: https://docs.celeryproject.org/en/latest/userguide/routing.html#id2

The hardest thing here isn't updating the code but rather updating our deployment(s) in a way where from N workers only a small subset worked on non-ingestion (default) queue.

@fuziontech Thoughts? If you're behind me on this, I'll push for it next release.

[2020-10-23 08:50] mariusandra opened #1999 "Confusing UX with feature flags."
## Is your feature request related to a problem?

With the blue button at the end of the table as the only visible and dominant action, it's not obvious clicking on any non-indicated part of the row opens the "edit" view.

![2020-10-23 10 47 50](https://user-images.githubusercontent.com/53387/96977558-87b5b700-151d-11eb-8c31-70f867eed736.gif)

## Describe the solution you'd like

Either make the b

[2020-10-23 08:56] mariusandra commented on #1999
Related: https://github.com/PostHog/posthog/pull/1947

[2020-10-23 09:20] timgl opened #2001 "[Clickhouse] Breaking down by person property doesn't work"
## Bug description

Breaking down by person property using clickhouse doesn't return anything

## Expected behavior

It should return correctly

## How to reproduce

1. Select 'break down by' -> select a person property
2. It'll say there's no data
3.

## Environment

- PostHog cloud or self-managed?
- PostHog version/commit

## Additional context

#### *Thank you* for your bug report – we love sq

[2020-10-23 09:48] Twixes commented on #1955
Should be fixed with PostHog/posthog-js#105.

[2020-10-23 09:48] #1955 closed

[2020-10-23 10:21] mariusandra commented on #1996
This doesn't seem to work for me in localhost. Been trying for ages now to get the session recording flag locally, but so far no luck.

![image](https://user-images.githubusercontent.com/53387/96992458-3829b800-152a-11eb-8f34-86f2da70e450.png)

[2020-10-23 11:49] peterwillemoeskondrup opened #2008 "Rolling window for active user eg. last 30 days"
## Is your feature request related to a problem?

To be able to calculate the ratio between daily active user og monthly active users (DAU / MAU), we need to have a rolling window of the last 30 days.

We tried by selecting the data range manually in the date-range-selector, but it still shows

## Describe the solution you'd like

## Describe alternatives you've considered

## Additional context

[2020-10-23 11:50] peterwillemoeskondrup commented on #2008
Discussed online with your developer @EDsCODE

[2020-10-23 11:59] yakkomajuri commented on #2008
Thanks for documenting this request!

[2020-10-23 12:48] peterwillemoeskondrup opened #2010 "No users shown in insights graph"
## Bug description
If you look at the attached screen shot, you can see that the number of users is 0 ... based on the graph it should be more than 0.
![Screenshot 2020-10-23 at 11 46 54](https://user-images.githubusercontent.com/58939342/97005429-be4ff980-153e-11eb-80f4-30cfc65fb22f.png)

## Expected behavior

## How to reproduce

1.
2.
3.

## Environment

- PostHog cloud or self-managed?
- PostH

[2020-10-23 13:31] yakkomajuri commented on #2010
Thanks for reporting this! I was about to do so myself

[2020-10-23 14:32] EDsCODE commented on #1909
Any leads?

[2020-10-23 14:40] paolodamico commented on #1909
@timgl and I tried to reproduce locally without luck, but I do see it happening in prod, will investigate with a different account

[2020-10-23 16:10] paolodamico commented on #1909
Ok so did some more digging, the bug predates #1755, so fortunately the new version did not break this. Also, the bug only happens on the cloud version (see recording from a freshly deployed self-hosted instance below). As I mentioned before, it also works fine in localhost, so it's hard to fix without being able to replicate. Any ideas maybe @mariusandra ?

![2020-10-23 18 07 58](https://user-ima

[2020-10-23 17:54] yakkomajuri opened #2017 "Action matching 0 events still shows events"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

I'm told the action matches no events yet events are still shown on the table and chart.

<img width="1439" alt="Screenshot 2020-10-23 at 18 51 38" src="https://user-images.githubusercontent.com/38760734/97037320-0d0e8b00-1561-11eb-9513-86064587bd94.png">
<img width="1437" alt="Screenshot 2

[2020-10-23 19:05] weyert commented on #1996
Yes, this would be handy. I am only wondering how I can enable a feature flag for a specific session, e.g. a test running in Cypress, without needing to make separate app users for each test.

[2020-10-26 15:02] EDsCODE opened #2030 "Clickhouse show users doesn't match number on trends"
## Bug description

*Please describe.*
If you try to click on a datapoint to show users, the number of users found doesn't match up with the datapoint number
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
The numbers should match

## How to reproduce
On clickhouse enabled deployment
1. Go to trends
2. filter in a way that you can easily detect different

[2020-10-26 15:11] #2001 closed

[2020-10-26 15:11] #1783 closed

[2020-10-26 15:11] #1605 closed

[2020-10-26 15:16] EDsCODE opened #2031 "Timeframe is wrong when breakingdown by cohort"
## Bug description

*Please describe.*
If you breakdown by a cohort and try to change timeframe, the date intervals are wrong
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior
The intervals should be as expected and the same as when filtering normally

## How to reproduce

1.  Go to trends
2.  Breakdown by some cohort
3. change interval to weekly

## Additi

[2020-10-26 15:39] timgl commented on #1764
Sort of parked as we're still using Postgres anyway

[2020-10-26 15:40] timgl opened #2032 "[Clickhouse] Fix UUID Sentry error"
https://sentry.io/organizations/posthog/issues/1926969130/?project=1899813&query=is%3Aunresolved

And for funnels (possibly related)
https://sentry.io/organizations/posthog/issues/1926590454/?project=1899813&query=is%3Aunresolved

[2020-10-26 17:16] Rcjuk commented on #1811
<img width="477" alt="Screenshot 2020-10-26 at 17 15 42" src="https://user-images.githubusercontent.com/1845743/97205099-e34aa380-17ae-11eb-8f6a-0dfa8d2123b3.png">

I upgraded to the new version and I still get this. Any idea how to troubleshoot this?

Events stuck in Redis.

[2020-10-26 17:44] Rcjuk commented on #1811
[code]

[2020-10-26 17:57] Rcjuk opened #2033 "Question. How to partition data when running on Fargate"
As we don't have access to the container, how can we execute the command to create the partitions?

[2020-10-26 18:07] timgl commented on #1811
One thing that's worth trying is setting `ASYNC_EVENT_ACTION_MAPPING=True` as an environment variable.

[2020-10-26 20:15] fuziontech commented on #2033
Hey @Rcjuk! The easiest way would be to setup an ec2 instance on the same network as your ECS cluster. On that box I would configure a web docker container w/ env vars to connect to your production setup (database url, redis, secret). You can find the env vars on the config pages for ECS task definition. Once you have that configured I would run the docker container feeding it the commands from [t

[2020-10-27 09:39] macobo opened #2039 "Allow using visitParam* functions in clickhouse"
Currently, the jsons we put into clickhouse contain spaces due to the way json.dumps works:

[code]

We could use the more optimized JSON visitParam* functions if we removed these spaces: [reference](https://clickhouse.tech/docs/en/sql-reference/functions/json-functions/)

[code]

This would require re-ingesting a whole bunch of data though.

[2020-10-27 10:23] EDsCODE opened #2041 "Flaky test test_alias_merge_properties"
This test test_alias_merge_properties is acting weird. It relies on getting the latest person when persons are merged. The query should be getting the latest person

[2020-10-27 10:25] EDsCODE opened #2042 "Real user cohorts doesn't seem to show the same metrics as postgres data"
If you filter by cohort with clickhouse enabled, the metrics differ from expected metrics.

I manually ran the cohort query to see how many people were included in the cohort and it does get ~2800 which is different from the ~2200 that the postgres calculation says

[2020-10-27 10:26] EDsCODE opened #2043 "Update funnel query to use jsonextract"

[2020-10-27 11:08] timgl opened #2045 "Hitting timeouts on Heroku due to long build times"
Heroku has a 15 minute build timeout and we're starting to hit it (see [this build (internal link)](https://dashboard.heroku.com/apps/posthog/activity/builds/a6aff565-cc53-4743-bea3-6d3114a01752) and [these docs](https://devcenter.heroku.com/articles/slug-compiler#time-limit).

Frontend definitely takes the most time. Some ideas for how to improve the build time:
- Make the entire frontend a JS pa

[2020-10-27 11:08] timgl opened #2046 "Release 1.17.0 - 12 November 2020"
Priorities
- core analytics UX improvements
- Initial user deployment experience improvements

James G
- Documentation & runbooking
- Persons on events
  - Get events and people on dynamoDB
  - Table in ClickHouse with person_ids
- Move other topics to proto
- Feature flags client libraries

Tim
- Think/redesign actions
- ~Clickhouse query improvements/speed up~
- ~Sentry integration~
- Create an

[2020-10-27 11:33] #2032 closed

[2020-10-27 12:30] lottiecoxon commented on #1775
How is this more monotone version? or are the jagged edges still too distracting?
<img width="128" alt="Screenshot 2020-10-27 at 12 19 57" src="https://user-images.githubusercontent.com/65415371/97301743-0f6a3100-1850-11eb-9b00-5abf8a5401f8.png">

[2020-10-27 12:36] mariusandra commented on #1775
I think this is in the "uncanny valley" territory, where it might just feel like it's a bunch of non-retina gifs as icons from 5-10 years ago. So it's retro, but not retro enough to be oldschool cool 🤷

[2020-10-27 12:39] lottiecoxon commented on #1775
Tough but fair - I love the concept of them but without the colour they just look a little glitchy :'(

[2020-10-27 12:44] mariusandra commented on #1775
We could definitely try the colorful ones in an app... and if not directly, then behind an [🥚](https://en.wikipedia.org/wiki/Easter_egg_(media)#:~:text=In%20computer%20software%2C%20Easter%20eggs,otherwise%20serious%20piece%20of%20software.). Now we just need any version implemented to see how it feels like in action and iterate from there.

[2020-10-27 12:48] yakkomajuri commented on #1775
Direct feedback on my end is that I personally am not a fan of the pixelated/8-bit icons. The actual icons themselves I think are good though.

Final comment would be that with this black and white design (not sure if it will stay that way or not), the feature flags remind me of a race. I'd consider having one flag only.

[2020-10-27 12:53] paolodamico commented on #1642
Closing this as it's fixed on CH.

[2020-10-27 12:53] #1642 closed

[2020-10-27 12:53] paolodamico commented on #1338
Closing this as it's fixed on CH.

[2020-10-27 12:53] #1338 closed

[2020-10-27 12:54] paolodamico commented on #2046
Using release label that we used for previous one.

Things I'm keen on getting done for next release (WIP):
- Retention 100% (#1936, #1995, #1344**)

[2020-10-27 12:57] jamesefhawkins commented on #1775
I now can't un-see this, so I agree with this.

Agree that the 8bit style in black/white looks like just some low res icons, which is sad so I'd be a thumbs down for this approach. I adore the colourful ones in isolation, but they are certainly unusual in an app - perhaps they'd be a little distracting in a way that'd detract from their usability.

I wonder if we could take inspiration from the [f

[2020-10-27 13:06] yakkomajuri opened #2047 "Filters do nothing with breakdown"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

In Trends, if I set a filter but then select breakdown, it doesn't breakdown post-filter, it just ignores the filter altogether.

<img width="1440" alt="Screenshot 2020-10-27 at 13 04 21" src="https://user-images.githubusercontent.com/38760734/97305591-35460480-1855-11eb-9975-19010277f386.p

[2020-10-27 13:12] yakkomajuri commented on #2046
## Product

I want to reiterate the need for squashing bugs, although many are indeed CH-related.

#2010, #2017, and #2047 are examples of bugs related to our core functionality that we regularly demo and "brag about".

## Myself

As for what I'll do on the next release cycle, me and @jamesefhawkins decided I should own a significant push for content creation and distribution, in order to trial di

[2020-10-27 13:13] paolodamico commented on #1775
I think that for the sake of moving this along we could use the "modern" ones or not sure @lottiecoxon if you want to try @jamesefhawkins's suggestions first? I'm also down for @mariusandra's suggestion of putting the colorful ones as an Easter egg, we could even test the icons with a handful of users behind a feature flag as they're already done anyways.

[2020-10-27 13:18] lottiecoxon commented on #1775
I like the fuzzy warm windows icons - but won't they distract too much ? I tried to keep icons as simple as poss in this 8bit style. I would be up for feature flagging both styles (clean vector and 8bit) to see what works best - and if its not very useable -maybe an easter 🥚 could be a fun way to incorporate them/ or put them on some perch as they are cool

[2020-10-27 13:19] yakkomajuri commented on #1775
I like the idea of the feature flag from @paolodamico.

@jamesefhawkins In my case, it's really just a personal preference. I'm just not a fan of the "pixelated" look - it triggers PTSD with flashbacks to outdated uni software professors are adamant on using.

While many of us associate the look with "gaming golden days" and things, it just reminds me of software I didn't like.

But again, it's im

[2020-10-27 13:25] yakkomajuri opened #2049 "Our event property search is not smart"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

Searching for "URL" gives me "Current URL" but not "Initial Referrer URL" nor "Referrer URL".

<img width="250" alt="Screenshot 2020-10-27 at 13 14 49" src="https://user-images.githubusercontent.com/38760734/97307416-8fe06000-1857-11eb-9f49-8072c1f07372.png">

## Expected behavior

Getting

[2020-10-27 13:32] jamesefhawkins commented on #2031
I just had this too - see https://app.posthog.com/insights?events=%5B%7B%22id%22%3A%22%24pageview%22%2C%22math%22%3A%22dau%22%2C%22name%22%3A%22%24pageview%22%2C%22type%22%3A%22events%22%2C%22order%22%3A0%2C%22properties%22%3A%5B%5D%2C%22math_property%22%3Anull%7D%5D&breakdown=%5B71%5D&breakdown_type=cohort&properties=%5B%5D&date_from=-30d&interval=day and edit the timeframe between daily and week

[2020-10-27 13:38] jamesefhawkins opened #2050 "Insights filters aren't obviously scrollable"
I've left this up for clarity - I was confused by the UI!

## Is your feature request related to a problem?

We have way more filters than the UI makes obvious in the insights page.

These include some basic, important use cases like UTM tags.

You can find these filters by searching in the text box, but they don't appear unless you scroll or type something ie:

![Screenshot 2020-10-27 at 13 35 17

[2020-10-27 13:59] Twixes commented on #2050
They do appear actually… they're a bit down below that list, which is scrollable – it's just that scrollability is non-obvious on macOS, as the scroll bar is often hidden. Could maybe add a light gradient overlay at the bottom to signal that there's something more there.
Side note: I think the `invalid` label usually means that the issue/PR itself is invalid, as opposed to the reported/fixed behav

[2020-10-27 14:12] paolodamico commented on #1692
Fixed on #1892

[2020-10-27 14:12] #1692 closed

[2020-10-27 14:14] paolodamico commented on #2046
Agree with squashing bugs, particularly related to core functionality, adding #2049, #1843, #1909, #1959.

[2020-10-27 14:30] jamesefhawkins commented on #2050
Ah, yep - just realized. I agree a small gradient could signal there is more there.

I've fixed the tags and edited the header to be clearer

[2020-10-27 14:42] lottiecoxon commented on #1775
# Comparison

### From original to 8 bit to redesigned vectors

Thoughts?

<img width="415" alt="Screenshot 2020-10-27 at 14 41 25" src="https://user-images.githubusercontent.com/65415371/97317334-9aecbd80-1862-11eb-86c7-323db33723b9.png">

[2020-10-27 16:52] #2043 closed

[2020-10-27 18:49] hgezim commented on #100
Can you please add this to the docs? @rberrelleza?

TLS is mentioned a couple times here: https://posthog.com/docs/deployment/deploy-aws but it doesn't mention that if you're using a load balaner to redirect traffic you need to set `IS_BEHIND_PROXY`.

[2020-10-27 19:37] EDsCODE opened #2053 "Fix loading people for all endpoints"
Persons_up_to_date table is really flimsy. It's somehow coming undone throwing errors that it doesn't exist.

Use normal persons table and make sure that clicking on trends/sessions datapoints loads the person

[2020-10-27 19:37] EDsCODE opened #2054 "Retention beginning day is inaccurate"
The first day of retention number is always substantially lower

[2020-10-27 20:42] #2041 closed

[2020-10-27 21:05] #2042 closed

[2020-10-27 22:24] timgl opened #2057 "Add feature flag filters to main table"
## Is your feature request related to a problem?

To understand how a feature flag is built up, I need to click into each individual feature flag

## Describe the solution you'd like

I want to see everything under "Filter by user properties" (but non-clickable and without the "X" and "Add filter" button) and I want to see the percentage of user roll out, all inside the main table

![image](https:

[2020-10-28 07:14] macobo opened #2061 "Allow disabling postgres ingest via redis / postgres"
Last night we had an alert because a new team with huge amounts of ingest got onboarded.

We're currently removing postgres from ingest via code changes - instead we could:
- Store the list in redis
- Refetch it every couple of minutes

cc @fuziontech who was handling the alert

[2020-10-28 09:38] #2031 closed

[2020-10-28 10:17] macobo opened #2063 "Update clickhouse to 20.8/20.9 to get access to more systems tables"
20.8 had a bunch of awesome features, including:

- `system.text_log` which allows reading the ch log files without needing ssh access - came up when debugging why ch ingestion stopped
- `system.asynchronous_metrics` table which exposes some system stats

cc @fuziontech @EDsCODE

[2020-10-28 10:57] mariusandra commented on #1896
Hello!

## Gallery of failed attempts

Since I last posted, the following has happened:

- I developed and then completely removed the python plugin implementation. Turns out it's really really crappy to manage dependencies via requirements.txt for plugins. First, it's [not possible](https://github.com/pypa/pip/issues/53) to run `pip --dry-run`, so we can either manually parse the requirements, fe

[2020-10-28 14:07] Twixes opened #2072 "Social login management in account settings"
## Is your feature request related to a problem?

With #1990 our social signup and login capabilities are enhanced, but it's still not exactly clear what method of login is in use at the moment and what external accounts have been connected.

## Describe the solution you'd like

A section in account settings showing connected external account connections (currently Google/GitHub/GitLab), with it b

[2020-10-28 15:32] EDsCODE commented on #2030
Most of this was a false alarm. One of the feature flags necessary for people to make sense here wasn't enabled. However, I did find a bug with stickiness

[2020-10-28 15:33] EDsCODE commented on #2053
Addressed in #2067

[2020-10-28 15:33] #2053 closed

[2020-10-28 15:53] paolodamico opened #2075 "Allow updating dashboard item description"
## Is your feature request related to a problem?

#2068 introduces a `description` attribute to dashboard items. It'd be pretty cool if users can edit those descriptions whenever.

## Describe the solution you'd like
Ideally the user could just click on the description and could edit in inline. We would have to show an "Add description" empty state for when there's no description.

## Describe alt

[2020-10-28 16:08] yakkomajuri opened #2077 "Automatically make actions for custom events"
I've had a couple of calls where users seemed to confuse custom events and actions.

I know we're working to improve our actions UX, but I thought it could be useful to make actions from custom events by default.

We keep saying actions are a way to sort through events you "care about" and I'd expect people to care about the events they themselves create. This can also help to populate the actions

[2020-10-28 16:28] #1694 closed

[2020-10-28 17:18] Rcjuk commented on #1811
Thanks. Did try that but not much difference :(

<img width="922" alt="Screenshot 2020-10-28 at 17 17 51" src="https://user-images.githubusercontent.com/1845743/97472230-8501fa00-1941-11eb-9424-685a9c0ed303.png">

[2020-10-28 17:23] timgl commented on #1811
Sorry just to clarify, is the only issue you're having that there are a lot of items in Redis? Or are other parts of the system not working?

The number of items in redis going up doesn't necessarily mean events are getting stuck. Are you seeing events coming in reasonably instantly on the /events page for example?

(Also apologies for the slightly annoying process of debugging over github!)

[2020-10-28 17:47] mariusandra commented on #1811
Hey, playing around on one heroku instance today I also noticed an ever increasing redis key count, even though events were processed fairly quickly. I realised that almost all of the "stuck" events were of type `SUCCESS`, leading me to believe that these are acknowledgements to the caller that the task completed, which could be waited for, similar to the example below:

[code]

I'll have a look a

[2020-10-28 18:08] #2030 closed

[2020-10-28 18:10] Rcjuk commented on #1811
No problem!

Sorry yes, barely anything new is coming into the raw events tab. I'm lagging a few days behind. I've tried upping the amount of workers also but doesn't seem to be doing anything.

[2020-10-28 18:29] hgezim opened #2079 "docker-compose down causes data loss"
## Bug description

Looks like the production docker-compose file doesn't map a local folder for database data and running `docker-compose down` removes the old installation.

I say this because when I do `docker-compose down` and `docker-compose up` it gives me the preflight screen.

## Expected behavior

`docker-compose down` should not cause data loss.

## How to reproduce

1. `docker-compse up

[2020-10-28 18:29] hgezim opened #2080 "[Sales] Allow custom domain for hosted version"
I had to install posthog on AWS because I can't use my own domain when I used posthog cloud.

[2020-10-28 20:01] Rcjuk commented on #1811
<img width="954" alt="Screenshot 2020-10-28 at 20 01 12" src="https://user-images.githubusercontent.com/1845743/97490141-5b080200-1958-11eb-860b-6e197c215279.png">

We hit a 100% and then this happened....

<img width="922" alt="Screenshot 2020-10-28 at 20 01 50" src="https://user-images.githubusercontent.com/1845743/97490192-6c510e80-1958-11eb-8d83-c18fc22aec3f.png">

Interesting

[2020-10-28 20:04] mariusandra opened #2083 "Strange redis key growth, at least in Heroku"
## Bug description

The number of keys in Redis starts to grow quite quickly once an app is launched. 2.6k keys in 40min. It takes just ~1MB of memory, but what are those keys?
<img width="1343" alt="Screenshot 2020-10-28 at 21 02 47" src="https://user-images.githubusercontent.com/53387/97490377-0cab3100-1961-11eb-8d9a-705331062eeb.png">

It levels out at 73k keys and 25MB memory in each case.
![i

[2020-10-28 20:14] mariusandra commented on #2083
This is what has piled up in ~40 minutes:

![2020-10-28 21 12 39](https://user-images.githubusercontent.com/53387/97491474-809a0900-1962-11eb-92a6-721876b3bd12.gif)

[code]

[2020-10-28 20:54] #2083 closed

[2020-10-29 02:43] #1594 closed

[2020-10-29 02:43] #1888 closed

[2020-10-29 08:09] mariusandra opened #2091 "App feels broken after a fresh install"
## Bug description

There should be more empty states or something:

![2020-10-29 09 07 28](https://user-images.githubusercontent.com/53387/97542001-54b06f00-19c6-11eb-9143-a9eb79a5e466.gif)

#### *Thank you* for your bug report – we love squashing them!

[2020-10-29 08:46] EDsCODE opened #2093 "Deleting a group in cohort multiples the OR"
## Bug description

*Please describe.*
If you have a cohort and want to delete some of the groups to update the cohort, a bunch of ORs are left and it's very glitchy
*If this affects the front-end, screenshots would be of great help.*
<img width="744" alt="Screen Shot 2020-10-29 at 9 44 37 AM" src="https://user-images.githubusercontent.com/13127476/97545578-9d096600-19a1-11eb-991a-14416ca504d1.png

[2020-10-29 09:07] EDsCODE opened #2094 "Too many distinct_ids"
## Bug description

*Please describe.*
When a user has a lot of distinct_ids, it could get ugly.
*If this affects the front-end, screenshots would be of great help.*
Viewing window at 33% and these are my distinct_ids
<img width="639" alt="Screen Shot 2020-10-29 at 10 06 20 AM" src="https://user-images.githubusercontent.com/13127476/97547717-86b0d980-19a4-11eb-826d-971c9e3faef1.png">

## Expected

[2020-10-29 09:44] #2054 closed

[2020-10-29 09:50] timgl opened #2096 "[session recording] Inactive periods don't get skipped."
## Bug description

When playing a session, it doesn't seem to skip inactive period very well, forcing you to click around to find the point at which  the user does something again

## Expected behavior

It should skip inactive periods

## How to reproduce

1.
2.
3.

## Environment

- PostHog cloud or self-managed?
- PostHog version/commit

## Additional context

#### *Thank you* for your bug repo

[2020-10-29 10:33] EDsCODE opened #2098 "Demo data isn't being ingested"
## Bug description

*Please describe.*
- when running clickhouse locally from docker deployment, it seems like ingestion has stopped working. going to /demo generates the data still but it doesn't end up in the clickhouse table.

Extra notes:
I checked the `clickhouse_events_proto` topic and events show up there but can't seem to find where it breaks

## Expected behavior
Demo data should be inges

[2020-10-29 10:56] macobo commented on #2096
Not something we can do something about immediately as this part is implemented by https://github.com/rrweb-io/rrweb-player / rrweb/Replayer.

However we could dig in a bit and see if we can fix this upstream as this comes up relatively commonly.

[2020-10-29 11:17] timgl opened #2101 "[Clickhouse] Optimize sessions query"
Right now for a certain large user the session query immediately exits as it would use too much memory: https://sentry.io/organizations/posthog/issues/1948352457/?project=1899813&query=is%3Aunresolved

[2020-10-29 12:07] yakkomajuri opened #2103 "Sessions still being recorded after opt out"
## Bug description

*Please describe.*
*If this affects the front-end, screenshots would be of great help.*

This is a posthog-js issue but won't really get visibility there, and I'll add it to the bug squashing project.

This is quite bad:

<img width="600" alt="Screenshot 2020-10-29 at 12 05 14" src="https://user-images.githubusercontent.com/38760734/97569163-17a4a680-19df-11eb-8e63-bef2f412913a

[2020-10-29 12:10] jamesefhawkins opened #2104 "Changing the period in the retention table causes a confusing default date range to get selected"
## Bug description

* Load retention view
* Change period from the default 'daily' to 'monthly' (or anything else)
* It then shows ie this month, *next* month, *the month after that*, all of which have no data as they haven't happened yet

![Screenshot 2020-10-29 at 12 06 39](https://user-images.githubusercontent.com/47497682/97571212-a285a100-19df-11eb-9f35-4e5835b28836.png)

## Expected behavior

[2020-10-29 12:31] toxsick opened #2106 "database migration failes when upgrading from 1.14.0 to 1.15.0"
## Bug description

When upgrading my self-hosted Kubernetes Posthog deployment from 1.14.0 to 1.15.0 the database migration failed with:

[code]

I guess it failes to create an index in `posthog_annotation` due to existing trigger events (not sure what that means).

## Environment

- PostHog self-managed on kubernetes using helm chart

regards

[2020-10-29 12:41] macobo opened #2107 "Save session player settings in localStorage"
## Is your feature request related to a problem?

Currently, when watching session recordings you have to choose playback speed every time.

## Describe the solution you'd like

Store this info in localStorage instead and use it when initializing the player again.

[2020-10-29 13:37] toxsick commented on #2106
Ok found it. I think I created an Annotation when my workers where not running before. I removed this entry from the table `posthog_annotation` manually (only had this one) and the migration worked. I think it is an edge case, but not sure what to do it I already had other annotations.

Whatever, closing this for now..

[2020-10-29 13:37] #2106 closed

[2020-10-29 15:28] fuziontech commented on #2098
when running locally are you running it with `KAFKA_ENABLED`?

[2020-10-29 16:18] EDsCODE commented on #2046
Clickhouse is near fully deployed. There are optimizations that still need to be done bu otherwise handling our own volume is very doable.

**My priorities/options:**
- continue cleaning up clickhouse so that it's easy to build off of
- go on bug squashing mode for 2 weeks

[2020-10-29 18:36] timgl commented on #2091
This is after you've skipped sending your first event presumably?

[2020-10-29 18:37] #1909 closed

[2020-10-29 18:37] timgl commented on #2104
Yep, the start day should actually be the last day.

[2020-10-29 19:24] paolodamico commented on #2104
Related to #1995.

[2020-10-29 19:47] taratip commented on #1842
Hi, just want to understand the requirement. When clicking on filtered cohort, instead of showing PropertyFilter, it should show link to that cohort, is that correct?

[2020-10-29 19:54] timgl commented on #1842
No it should still show the propertyfilter. It's just that when you open that popup, right under "Property | Cohort" (in the screenshot), there should be a link to the cohort itself so you can edit it. Ideally opening in a new tab too.

[2020-10-29 20:33] EDsCODE opened #2121 "If funnel is empty, people still appear"
## Bug description

*Please describe.*
- clickhouse funnel view returns people even if there are no events logged
*If this affects the front-end, screenshots would be of great help.*

## Expected behavior

people should be empty too

## How to reproduce

1.  go funnels with clickhouse enabled
2.  click on an event that has 0 count

## Environment

- PostHog cloud or self-managed?
- PostHog version

[2020-10-29 21:08] taratip commented on #1842
ok

[2020-10-30 02:22] Immortalin commented on #1174
https://docs.expo.io/versions/latest/sdk/segment/

@timgl

[2020-10-30 08:49] paolodamico commented on #1408
As this was intended only for discussion, closing the issue.

[2020-10-30 08:49] #1408 closed

[2020-10-30 08:52] paolodamico commented on #2080
Hi @hgezim, thanks for the suggestion, we'll definitely explore it. Just to have all the context, what are your main reasons for wanting a custom domain over the default app.posthog.com?

[2020-10-30 09:27] timgl commented on #724
Essentially done.

[2020-10-30 09:27] #724 closed

[2020-10-30 09:28] timgl commented on #930
@safwanrahman Hey, just checking whether you're still interested in working on this?

[2020-10-30 09:37] macobo opened #2126 "Flaky test: test_alias_merge_properties"
The following test is (still) flaky: ee/clickhouse/test/test_process_event_ee.py#test_alias_merge_properties

Example run: https://github.com/PostHog/posthog/pull/2116/checks?check_run_id=1331183148

[2020-10-30 09:38] thedeveloperr commented on #1534
Hi I had a doubt. User Api right now is not using DRF. Can I follow the same pattern for backend right now and change it later to DRF in a separate refactor. Also apologies for delay I was on bed rest due cervical issues. I am actively working on this now.

[2020-10-30 09:44] macobo opened #2127 "Show information about the user/session with the session replay"
## Is your feature request related to a problem?

Currently, session replay looks something like this:

![Screenshot from 2020-10-30 11-41-12](https://user-images.githubusercontent.com/148820/97689849-d8408d80-1aa4-11eb-93b3-367d56191ecc.png)

## Describe the solution you'd like

There's a lot of space here to expose useful information about the user, e.g. their distinct_id, user properties or mor

[2020-10-30 09:44] Twixes opened #2128 "[EPIC] Great demo environment"
An accessible, elegant and explanatory demo environment will help us make the case for using PostHog to potential/new users.
There are a few things we can do:

1. [ ] Rework Hogflix's frontend for a more elegant look and code quality.
1. [ ] Enhance the quality of dummy data we have for Hogflix (by increasing quantity).
1. [ ] Allow for checking out PostHog UX with a signup-less "Explore Demo" opt

[2020-10-30 09:56] yakkomajuri commented on #2127
Painful view of the website!

[2020-10-30 10:00] Twixes commented on #1534
Hey, we'll soon have `/api/user` implemented in DRF as well (#2111), but for now follow the current style.

[2020-10-30 10:17] yakkomajuri commented on #1534
Hey @thedeveloperr hope you're doing ok now! No need to apologize.

[2020-10-30 10:39] macobo commented on #2127
Input from @ukupat, @andrestaht: It'd be nice to see user name + country + user properties on the session.

Screenshot from livesession:
![Screenshot from 2020-10-30 12-28-50-2](https://user-images.githubusercontent.com/148820/97695572-f1e5d300-1aac-11eb-8126-62c55f1ec1e1.png)

[2020-10-30 10:41] yakkomajuri commented on #2127
Browser!

[2020-10-30 10:45] macobo opened #2129 "Show current URL in session recording, allow jumping to when page was visited."
## Is your feature request related to a problem?

When looking at session recordings, you often want to jump to the 'interesting parts'.

## Describe the solution you'd like

One way to do that is:
1. Show page url in session recording
2. Show notches in the replay bar when page changes happen
3. Provide a timeline in the sidebar, allow jumping to specific events

## Additional context

Screenshot

[2020-10-30 10:50] macobo opened #2130 "Filter session recordings by Action(s)"
## Is your feature request related to a problem?

When viewing session recordings, you often want to see recordings where user visited a certain page or clicked a certain button

## Describe the solution you'd like

- Allow filtering session **recordings** by actions.
- Jump to the relevant point in time in the recording
- Provide a shortcut from toolbar to "jump to see sessions who clicked this a

[2020-10-30 10:53] macobo opened #2131 "Add "back N seconds" button to session recording player"
## Is your feature request related to a problem?

Something weird just happened in the recording you're watching? Jump back a few seconds and see it again.

## Describe the solution you'd like

Button on the recording bar to allow jumping back a few seconds.

## Describe alternatives you've considered

Using the progress bar to jump around achieves the same effect.

## Additional context

Technica

[2020-10-30 10:53] mariusandra commented on #2130
💯💯💯

Could also be extended to "clicked this element"

[2020-10-30 11:02] mariusandra commented on #2127
Here's a screenshot from another service:

<img width="1748" alt="Screenshot 2020-10-30 at 11 56 15" src="https://user-images.githubusercontent.com/53387/97697326-248ccd00-1aa7-11eb-99da-a3da325c0141.png">

I've found it useful to see the browser (with a nice little icon), if the user is mobile or not, the resolution, and the IP address (optionally with a country flag?). In addition to a custom us

[2020-10-30 11:09] macobo opened #2132 "Allow tagging session recordings for later finding"
## Is your feature request related to a problem?

When going through session recordings, you'd like to 'save' the insights you get.

## Describe the solution you'd like

One way to do that is by tagging the session and later allowing to find session recordings with a certain tag.

## Describe alternatives you've considered

- Just share the URL

This should work well enough for this to be a low-pr

[2020-10-30 12:20] paolodamico commented on #2127
This is pretty cool, I can work on a proposal for this next week based on this and we can discuss from that, if that works.

My raw thoughts are:
- We should definitely have some basic user info (email, name, first seen, ...) and some session info (browser, resolution, OS, device, geolocation, # of pages in the session, session duration).
- It'd be pretty cool to allow users to select certain pers

[2020-10-30 12:54] macobo opened #2135 "Loading /instance/status fails on self-hosted instance"
## Bug description

I set up a self-hosted instance via AWS cloudformation and updated it recently.

The page /instance/status fails to load for me.

## Expected behavior

Instance status page loads successfully.

## How to reproduce

- Set up a cloudformation instance
- ???
- Visit /instance/status
- See report on 500 error from backend

## Environment

- 1.15.1 (latest docker container)

## Addi

[2020-10-30 13:11] safwanrahman commented on #930
@timgl Sorry I almost lost it! I will work on this this weekend! 😁

[2020-10-30 13:12] timgl commented on #930
Awesome!

[2020-10-30 13:15] macobo opened #2136 "Make tests stable"
## Severity

In the past 2 days, 44% of merged PRs have been red and of the last 200 merged PRs 54 have had failing tests (27%). I think it's fair to say our tests are really unstable.

This leads to a lot of cycles spent trying to retry tests in hopes they go green or duplicated effort towards making tests pass. I estimate I have spent up to 20% of my daily work struggling with this issue. This c

[2020-10-30 13:22] macobo opened #2137 "Allow filtering sessions by Actions"
## Is your feature request related to a problem?

Closely related to https://github.com/PostHog/posthog/issues/2130

We don't have a great story for the sessions view (look forward to my future proposal), but when debugging stuff I'd love to look at sessions from people who performed a specific action.

## Describe the solution you'd like

- Be able to filter sessions by "user performed this actio

[2020-10-30 13:27] macobo opened #2138 "User property for self-hosted deployment host"
## Is your feature request related to a problem?

As an analytics company, we rely on analytics to drive our product.

We currently know if users are using cloud or are self-hosted, but it would be great if we also knew what platform they were using. This helps us prioritize issues around different deployments or see if some are performing exceptionally well.

## Describe the solution you'd like

[2020-10-30 13:30] macobo opened #2139 "Allow graphing no of sessions in insights page"
## Is your feature request related to a problem?

Currently we allow graphing number of pageviews, number of DAUs and so on. We also have some functionality around sessions - it would be great to expose a daily number of sessions.

This can be useful to expose whether users are using the product once or many times a day.

## Describe the solution you'd like

1. Open insights page
2. Select $sessio

[2020-10-30 13:39] macobo opened #2140 "Autosuggest data-* attribute-based selectors over className based selectors"
## Is your feature request related to a problem?

Creating actions requires some technical know-how and is quite involved.

I've now been in two interviews where the automatically suggested selector were not great:
1. In one, they used inline styling and had dynamically generated class names. They used `data-testid` attributes internally for testing which could be used.
2. In another, `data-test-f

[2020-10-30 13:40] Twixes commented on #2046
I'll be off for the second half of this release, so somewhat limited, but I do have some ideas that I'd like to take care of personally in the next week:
1. Refactor `/api/user` to use DRF like the rest of our web API (backend already done in PR #2111, just requires frontend adjustments), which is a long-standing hindrance.
2. Further demo improvements (epic #2128).
3. Smooth out the UX inconsiste

[2020-10-30 13:42] macobo commented on #1896
Noting down another plugin idea: tracking how many times a library has been installed. This should again help make product decisions (e.g. which to add autocapture to: flutter vs react-native vs ios).

[2020-10-30 13:47] macobo opened #2141 "Allow baking feature flags into a release for self-hosted"
## Is your feature request related to a problem?

Feature flags are awesome, feature flags are great. We use feature flags as part of posthog development as well.

However due to how our product works, this can have some downsides, where enabling a feature in cloud may enable a (unfinished version of the feature) on clients self-hosted instances

## Describe the solution you'd like

Update fronten

[2020-10-30 14:01] macobo opened #2142 "Save old session recordings to S3"
## Is your feature request related to a problem?

We prune session recordings regularly. However accessing old recordings can give a lot of insight.

We could (if credentials are provided) store the session data in S3 or compatible service. This way of storing data is less expensive and faster for long-lived recordings.

## Describe the solution you'd like

User adds their credentials under projec

[2020-10-30 14:10] paolodamico commented on #2136
**100% agree with the premise**, we do keep needing to re-run tests on almost every PR in the hopes that they'll pass. However, re 2, I don't think it's really an issue. Several weeks ago we updated testing suites in both repos to make sure new changes pass the test suite against the `master` branch in the other repo (this was motivated by us inadvertently introducing some code changes that broke

[2020-10-30 14:16] paolodamico commented on #2142
Great stuff! Just adding to the conversation here, as this will permit storing recordings for longer time periods (even indefinitely) I suggest we ship this with a mechanism to comply with GDPR (or equivalent) requests and erase recordings that pertain to persons that file these requests.

[2020-10-30 14:28] macobo opened #2143 "When defining actions, show a border around matching elements"
## Is your feature request related to a problem?

Currently when defining actions, you often have to define selectors manually.

With just a "matching element" count it can be hard to know if the selector you entered is the right one.

## Describe the solution you'd like

Show a border similar to what happens when you click "Change element".

## Describe alternatives you've considered

## Addition

[2020-10-30 14:34] macobo opened #2144 "Reference implementation for sending $pageview events within a SPA (react-router)"
## Is your feature request related to a problem?

Currently, when using single-page apps we encourage users to send $pageview events manually by integrating with their router library.

This confusion came up within a call.

## Describe the solution you'd like

It would be great to have a sample "integration" library with e.g. react-router. We can then link to that integration from within our docs

[2020-10-30 14:43] macobo commented on #2046
Input is focusing on what I can help with and am interested in. This list is too long for 2 weeks - hoping to whittle it down by discussion.

#### 1. Session recording

Session recording is live and a bunch of potential features are now [documented in our issue tracker](https://github.com/PostHog/posthog/labels/session%20recording). However instead of solving them, I'd love to wait a bit and see h

[2020-10-30 15:08] jamesefhawkins commented on #2046
For me personally:

# Last week

* working on handing over context (!), finances, legal and HR related items so @piemets can operate autonomously. I think this is 85% done by there are a couple of bits like HMRC and hand holding needed for next week to properly complete this.
* building pipeline for the designer and full stack developer role. I've kept the bar very high but the designer role has t

[2020-10-30 15:11] jamesefhawkins commented on #2046
To clarify, as a user facing feature right?

[2020-10-30 15:15] jamesefhawkins commented on #2046
We should start by looking at session recording tools and working out what their functionality is since they'll have thought hard about this.

For us specifically, I can see a bunch of cool places:

* Somehow in feature flags (ie 'I want to watch a user using this new feature')
* In funnels 'I want to watch what went wrong when people didn't convert'
* In user profiles 'I want to watch what this u

[2020-10-30 15:19] jamesefhawkins commented on #1995
#2104 is relevant

[2020-10-30 16:29] mariusandra commented on #2046
next 2 weeks:
- create a bunch of plugins
- clean up and refactor plugins (interface, security, scalability, etc, see the epic)
- posthog-js-lite
- typescript migration
- make the frontend better
- show some love to the integrations (bug with android react native times, feature flags to things)

[2020-10-30 19:28] awang opened #2148 "User Geolocation"
## Describe the solution you'd like
It would be great to be able to get the geolocation of each user.  Even better, if you could search for users and sessions that are within a certain range of a specific city! (since you may want to search by metro)

## Describe alternatives you've considered
Enriching the data manually

[2020-10-30 19:34] timgl commented on #2148
Duplicate of #191 (ouch), however it genuinely is around the corner with #1896, so you should have this shortly!

[2020-10-30 19:34] #2148 closed

[2020-10-30 19:36] awang commented on #2148
doh, sorry about that!  i searched for "geolocation" in a few places, but didn't do as careful of a search for "location".

[2020-10-30 19:37] timgl commented on #2148
No worries, definitely still appreciate seeing these as it gives us an idea of what people want :)

[2020-10-31 08:23] mariusandra opened #2150 "`setup_dev` hangs on heroku apps"
## Bug description

The script to setup review apps fails on Heroku:

![2020-10-31 09 06 24](https://user-images.githubusercontent.com/53387/97774591-7130e080-1b59-11eb-8328-0f9b6fceba6a.gif)

As far as I could `print`-debug, the script itself didn't get stuck ([this last line was printed](https://github.com/PostHog/posthog/blob/e1c5828c9ec4520bbbca72e74a765769577851b0/posthog/management/commands/